<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>IP-110 Agricultura-Agriculture</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-512x512.png' %}" />

    <link rel="stylesheet" href="{% static 'IP_110.css' %}" />
    <link rel="stylesheet" href="{% static 'website.css' %}" />

  </head>
  <body>
    <header class="bigbox">
        <section>
            <div class="webleft-container">
                <p>
                    I.P. -110<br>
                    Gobierno de Puerto Rico<br>
                    OFICINA DEL GOBERNADOR<br>
                    Junta de Planificación<br>
                    Subprograma de Análisis Económico<br>
                    PO BOX 41119<br>
                    SAN JUAN PR  00940-1119<br>
                </p>
            </div>
        </section>

        <section>
            <div class="webmiddle-container">
                <p>
                    AGRICULTURA, SILVICULTURA, PESCA Y CAZA<br>
                    AGRICULTURE, FORESTRY, FISHING AND HUNTING<br>
                </p>
            </div>
        </section>

        <section>
            <div class="webright-container">
                <p>
                    Goverment of Puerto Rico<br>
                    OFFICE OF THE GOVERNOR<br>
                    Puerto Rico Planning Board<br>
                    Subprogram of Economic Analysis<br>
                    PO BOX 41119<br>
                    SAN JUAN PR  00940-1119<br>
                    Tel. (787) 722-1970<br>
                    Fax. (787) 727-8046<br>
                    <a href="mailto:santiago_m@jp.pr.gov" class="custom-link">santiago_m@jp.pr.gov</a><br>
                </p>
            </div>
        </section>

    </header>
  </body>
</html>