<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>IP-110 Agricultura-Agriculture</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-512x512.png' %}" />

    <link rel="stylesheet" href="{% static 'IP_110.css' %}" />
    <link rel="stylesheet" href="{% static 'website.css' %}" />

  </head>
  <body>
    <header>
        <p>
            Esto es una prueba
        </p>
    </header>
    <main>
        <section>
            <div class="body_header">
                Nombre compañia/Company Name:
                <input class="text-box space-between" placeholder="Enter your text here..."></input>
                <br>
                Dirección/Address:
                <input class="text-box space-between" placeholder="Enter your text here..."></input>
                <br>
                Correo electrónico/Email:
                <input class="text-box space-between" placeholder="Enter your text here..."></input>
                <br>
                Persona contacto/Liaison officer:
                <input class="text-box space-between" placeholder="Enter your text here..."></input>
            </div>
        </section>
    </main>
  </body>
</html>