<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>IP-110 Agricultura-Agriculture</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-512x512.png' %}" />

    <link rel="stylesheet" href="{% static 'IP_110.css' %}" />
    <link rel="stylesheet" href="{% static 'website.css' %}" />

  </head>

  <body>
    <header class="big-box">
      <section>
        <div class="webleft-container">
          <p>
            I.P. -110<br>
            Gobierno de Puerto Rico<br>
            OFICINA DEL GOBERNADOR<br>
            Junta de Planificación<br>
            Subprograma de Análisis Económico<br>
            PO BOX 41119<br>
            SAN JUAN PR  00940-1119<br>
          </p>
        </div>
      </section>

      <section>
        <div class="webmiddle-container">
          <p>
            AGRICULTURA, SILVICULTURA, PESCA Y CAZA<br>
            AGRICULTURE, FORESTRY, FISHING AND HUNTING<br>
          </p>
        </div>
      </section>

      <section>
        <div class="webright-container">
          <p>
            Goverment of Puerto Rico<br>
            OFFICE OF THE GOVERNOR<br>
            Puerto Rico Planning Board<br>
            Subprogram of Economic Analysis<br>
            PO BOX 41119<br>
            SAN JUAN PR  00940-1119<br>
            Tel. (787) 722-1970<br>
            Fax. (787) 727-8046<br>
            <a href="mailto:santiago_m@jp.pr.gov" class="custom-link">santiago_m@jp.pr.gov</a><br>
          </p>
        </div>
      </section>
    </header>

    <main>
      <section>
        <div class="body_header">
          Nombre compañia/Company Name:
          <input class="text-box space-between" placeholder="Enter your text here..."></input>
          <br>
          Dirección/Address:
          <input class="text-box space-between" placeholder="Enter your text here..."></input>
          <br>
          Correo electrónico/Email:
          <input type="email" class="text-box space-between" placeholder="Enter your text here..."></input>
          <br>
          Persona contacto/Liaison officer:
          <input class="text-box space-between" placeholder="Enter your text here..."></input>
        </div>
      </section>

      <section class="first_section">
        <div>
          1. Numero de Seguro Social/Social Security Number: <input class="text-box space-between" id="text-box-1" placeholder="Enter your text here..."></input>
          Tel: <input type="tel" class="text-box space-between" id="text-box-1" placeholder="Enter your text here..."></input>
          Fax: <input type="tel" class="text-box space-between" id="text-box-1" placeholder="Enter your text here..."></input>
        </div>

        <div class="second_div">
          2. Forma legal de organización: - Legal form of organization: 
          <br>
          <input type="radio" id="radio-1" name="radio-1" value="Corporación/Corporation">Corporación/Corporation
          <input type="radio" id="radio-1" name="radio-1" value="Sociedad/Partnership">Sociedad/Partnership
          <input type="radio" id="radio-1" name="radio-1" value="Cooperativa/Cooperativa">Cooperativa/Cooperativa
          <input type="radio" id="radio-1" name="radio-1" value="Empresa Individual/Individual enterprise">Empresa Individual/Individual enterprise
          <input type="radio" id="radio-1" name="radio-1" value="Empresa sin fines pecuniarios/Nonprofit organization">Corporación/Corporation
        </div>

        <div class="third_div">
            3. Corporaciones Extranjeras Controladas (CEC)/Controlled Foreign Corporations: 
            <input type="radio" id="radio-2" name="radio-1" value="Corporaciones Extranjeras">Si
            <input type="radio" id="radio-2" name="radio-1" value="Corporaciones Extranjeras">No
        </div>

        <div class="fourth_div">
          4. Clase de negocio/Type of business:
          <input class="text-box space-between" placeholder="Enter your text here..."></input>
        </div>

        <div class="six_div">
          6. ¿Opera sucursuales esta firma? - Do you have branch operations?
          <input type="radio" id="radio-2" name="radio-1" value="operaciones">Si
          <input type="radio" id="radio-2" name="radio-1" value="operaciones">No
        </div>
      </section>

      <section>
        
      </section>

      <section>
        <div class="big-box-bottom">
            <section>
              <div class="webleft-container">
                <input id="signature" placeholder="Nombre"></input> <!-- Signature Input -->
                <hr> <!-- Signature Line -->
                <p>
                  Nombre de persona que suministra la información<br>
                  Name of person furnishing information<br>
                </p>
              </div>
            </section>
      
            <section>
              <div class="webmiddle-container">
                <p>
                  Instrucciones al dorso - Instructions over
                </p>
              </div>
            </section>
      
            <section>
              <div class="webright-container">
                <input id="signature" placeholder="Rango"></input> <!-- Signature Input -->
                <hr> <!-- Signature Line -->
                <p>
                  Rango o posición que ocupa en la empresa<br>
                  Rank or position<br>
                </p>
              </div>
            </section>
        </div>
      </section>
    </main>
  </body>
</html>