notebooks/

# Ignore all pkl files
*.pkl
*.env
.venv/

# Ignore all database files
*.db
*.sqlite
*.sqlite3
*.dbf
*.db-journal
*.sqlite

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore environment file
.yaml
*.qmd

