psycopg2-binary==2.9.9
Django==5.0.8
numpy==1.26.4
pandas==2.1.4
scipy==1.11.4
plotly==5.18.0
pytest==8.0.0
python-dotenv==1.0.1
sqlalchemy==2.0.31
polars==1.2.1
tqdm==4.66.5
pyarrow==17.0.0
requests==2.32.3 
