<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" href="{% static 'favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'favicon-32x32.png' %}" />
    <link
      rel="apple-touch-icon"
      href="{% static 'android-chrome-192x192.png' %}"
    />
    <link
      rel="apple-touch-icon"
      href="{% static 'android-chrome-512x512.png' %}"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'landing_page.css' %}" />
  </head>

  <body>
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form method="post">
          {% csrf_token %}
          <div class="info" id="username">
            <h2>Username</h2>
            {{ user.username }}
          </div>
          <div class="info" id="email">
            <h2>Email</h2>
            {{ user.email }}
          </div>
          <div class="info">
            <h2>Fecha de Creación</h2>
            {{ user.date_joined }}
          </div>
          <div class="info">
            <h2>Última Actualización</h2>
            {{ user.last_login }}
          </div>

          <br />
          <div class="info" id="change-email">
            <button href="/add-email/">Change Email</button>
          </div>
          <div class="info" id="change-password">
            <button href="/add-password/">Change Password</button>
          </div>
        </form>
      </div>
      <div class="overlay">
        <div class="overlay-container overlay-panel">
          <h3>Información de la Cuenta</h3>
          <p>
            Aquí puedes ver la información de tu cuenta. Si deseas cambiar tu
            email o contraseña, puedes hacerlo aquí.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
