body, header {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    margin-bottom: 0px;
}

main {
    max-width: 100%;
    width: 1500px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin-top: 4vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

h2 {
    font-size: 1.5em;
    margin-top: 4vw;
    margin-bottom: 0.5vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

h3 {
    font-size: 2em;
    font-weight: none;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 3vw;
}

p {
    display: block;
    font-size: 1.2em;
    text-align: justify;
    margin-left: 3vw;
    margin-right: 3vw;
    line-height: 1.5;
}

a {
    font-size: 1.2em;
}

.graph_container_1 {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #EEEEEE 0px 0px 10px;
    border-radius: 10px;
}

.graph_container_2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}

#drop_title {
    font-size: 1.2em;
    margin-top: 2vw;
    margin-bottom: 2vw;
    color: black;
}

#frequency, #second_dropdown, #frequency_2, #second_dropdown_2, #third_dropdown {
    border-radius: 8px;
    padding: 5px;
    background-color: #EEEEEE;
    margin-right: 30px;
}

#submit, #submit_2 {
    font-size: 1em;
    border-radius: 8px;
    padding: 6px;
    background-color: #008cff;
    border: none;
    margin-top: -1px;
}

#submit:hover {
    background-color: #0071cd;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 4vw;
    margin-bottom: 1vw;
    flex-wrap: wrap;
    width: 100%;
}

#introduction {
    display: flex;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

#graph_2 {
    margin-bottom: 1vw;
}

#graph_title, #graph_title_2 {
    margin-right: 73vw;
    margin-bottom: -1vw;
}

#graph_title_2 {
    margin-top: -1vw;
}