body, header {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    margin-bottom: 0px;
}

main {
    max-width: 100%;
    width: 1500px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin-top: 4vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

h2 {
    font-size: 1.8em;
    margin-top: 4vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

h3 {
    font-size: 1.3em;
    font-weight: none;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 3vw;
}

p {
    display: block;
    font-size: 1.2em;
    text-align: justify;
    margin-left: 3vw;
    margin-right: 3vw;
    line-height: 1.5;
}

a {
    font-size: 1.2em;
}

.block {
    justify-content: center;
}

#header-image {
    width: 100vw;
    height: auto;
}

.graph-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.instructions {
    margin-left: 30px;
}

#instruction_li {
    font-size: 1.2em;
    text-align: justify;
    margin-left: 8vw;
    margin-right: 8vw;
    line-height: 1.5;
}

#graph_title {
    text-align: center;
}

.download_container {
    text-align: center;
    margin-left: 645px;
    background-color: #007bff;
    border-radius: 10px;
    width: 150px;
}
  
#download_button {
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
}