<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta sobre el Valor de la Inversión en Obras de Construcción</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-512x512.png' %}" />

    <link rel="stylesheet" href="{% static 'forms/construccion/JP-541.css' %}" />
    <link rel="stylesheet" href="{% static 'website.css' %}" />
</head>

<!-- PAGE 1 -->
		<body>
			<main>
				<form method="POST" action="{% url 'JP-541' %}">
				{% csrf_token %}
				<table>
					<tr>
						<td colspan="2" class="header"><strong>Encuesta sobre Actividad Industria de la Construcción</strong></td>
						<td rowspan="4" class="header"><img src="https://assets-global.website-files.com/60ddbc422188bb3fab87d219/60ddbc422188bbbe5a87d251_gobierno-de-puerto-rico.png" alt="Logo"></td>
						<td colspan="2" rowspan="4" class="header">
							<p id="sheet"><strong>Hoja 1</strong></p>
							<p>
								<label>Encuesta:</label>
								<input id="year" type="text" name="encuesta_1" required placeholder="Ecuesta">
							</p>
							<section class="trimester">
								Trimestre:
									<select id="meses" name="trimestre_1" placeholder="month" required>
										<option value="enero-marzo">enero-marzo</option>
										<option value="abril-junio">abril-junio</option>
										<option value="julio-septiembre">julio-septiembre</option>
										<option value="octubre-diciembre">octubre-diciembre</option>
									</select> 
									
									<input type="number" id="year" name="year" maxlength="4" placeholder="year" required>
							</section>
							</section>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="header">
							<p><strong>GOBIERNO DE PUERTO RICO</strong><br>
							<strong>JUNTA DE PLANIFICACIÓN DE PUERTO RICO</strong><br>
							Subprograma de Análisis Económico<br>
							Unidad de Estadísticas Sobre Construcción<br>
							Apartado 41119, San Juan, Puerto Rico 00940-1119</p>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<label>Nombre de la Empresa:</label>
							<input type="text" name="company_name_1" placeholder="Company Name" required>
						</td>
					</tr>
					<tr>
						<td>
							<label>Persona de Contacto:</label>
							<input type="text" name="liaison_officer_1" placeholder="Liaison Officer Name" required>
						</td>
						
						<td>
							<label>Teléfono:</label>
							<input type="text" name="tel_1" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="12" maxlength="12" required placeholder="123-456-7890">
						</td>
					</tr>
					<tr>
						<td colspan="3"></td>
						<td>
							<label>Proyecto por:</label>
							<input type="text" name="project_1" placeholder="Name">
						</td>
						<td id="choice">
							<input type="radio" id="radio-3" name="branches_1" required value="contrato">Contrato
							<input type="radio" id="radio-3" name="branches_1" required value="administación">Administración
						</td>
					</tr>
				</table>

				<table id="projectsTable_1">
					<tr>
							<th colspan="10" class="sub-header">ENCUESTA SOBRE EL VALOR DE LA INVERSION EN OBRAS DE CONSTRUCCION<br>(En miles de dólares)</th>
					</tr>
					<tr>
							<th rowspan="2">Nombre del Proyecto</th>
							<th rowspan="2">Municipio</th>
							<th rowspan="2">Número total de proyectos</th>
							<th rowspan="2">Costo total estimado</th>
							<th colspan="2">Fecha</th>
							<th colspan="4">Valor de la inversión realizada o/a realizarse</th>
					</tr>
					<tr>
							<th>Comienzo</th>
							<th>Terminación</th>
							<th>julio a septiembre </th>
							<th>octubre a dic. </th>
							<th>enero a marzo </th>
							<th>abril a junio </th>
					</tr>

					<!-- Línea 1 -->
					<tr>
							<td><input type="text" name="project_name_1_1" placeholder="Project Name"></td>
							<td><input type="text" name="city_1_1" placeholder="City Name"></td>
							<td><input type="number" name="total_number_project_1_1" placeholder="Amount"></td>
							<td><input type="number" name="total_cost_1_1" placeholder="$"></td>
							<td><input type="text" name="start_date_1_1" placeholder="MM/DD/YYYY"></td>
							<td><input type="text" name="end_date_1_1" placeholder="MM/DD/YYYY"></td>
							<td><input type="number" name="value_first_trimester_1_1" placeholder="$"></td>
							<td><input type="number" name="value_second_trimester_1_1" placeholder="$"></td>
							<td><input type="number" name="value_third_trimester_1_1" placeholder="$"></td>
							<td><input type="number" name="value_fourth_trimester_1_1" placeholder="$"></td>
					</tr>
					<!-- Aquí se añadirán nuevas líneas -->
			</table>

			<button type="button" class="button" onclick="addNewLine_1()">
				<span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
			</button>

    <!-- PAGE 2 -->
    <div>
			<br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

        <table>
					<tr>
						<td colspan="2" class="header"><strong>Encuesta sobre Actividad Industria de la Construcción</strong></td>
						<td rowspan="4" class="header"><img src="https://assets-global.website-files.com/60ddbc422188bb3fab87d219/60ddbc422188bbbe5a87d251_gobierno-de-puerto-rico.png" alt="Logo"></td>
						<td colspan="2" rowspan="4" class="header">
							<p id="sheet"><strong>Hoja 2</strong></p>
							<p>
								<label>Encuesta:</label>
								<input id="year" type="text" name="encuesta_2" required  placeholder="Ecuesta">
							</p>
							<section class="trimester">
								Trimestre:
									<select id="meses" name="trimestre_2" placeholder="month" required>
										<option value="enero-marzo">enero-marzo</option>
										<option value="abril-junio">abril-junio</option>
										<option value="julio-septiembre">julio-septiembre</option>
										<option value="octubre-diciembre">octubre-diciembre</option>
									</select> 
									
									<input type="number" id="year" name="year" maxlength="4" placeholder="year" required>
							</section>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="header">
							<p><strong>GOBIERNO DE PUERTO RICO</strong><br>
							<strong>JUNTA DE PLANIFICACIÓN DE PUERTO RICO</strong><br>
							Subprograma de Análisis Económico<br>
							Unidad de Estadísticas Sobre Construcción<br>
							Apartado 41119, San Juan, Puerto Rico 00940-1119</p>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<label>Nombre de la Empresa:</label>
							<input type="text" name="company_name_2" placeholder="Company Name" required>
						</td>
					</tr>
					<tr>
						<td>
							<label>Persona de Contacto:</label>
							<input type="text" name="liaison_officer_2" placeholder="Liaison Officer Name" required>
						</td>
						
						<td>
							<label>Teléfono:</label>
							<input type="text" name="tel_2" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="12" maxlength="12" required placeholder="123-456-7890">
						</td>
					</tr>
					<tr>
						<td colspan="3"></td>
						<td>
							<label>Proyecto por:</label>
							<input type="text" name="project_2" placeholder="Name">
						</td>
						<td id="choice">
							<input type="radio" id="radio-3" name="branches_2" required value="contrato">Contrato
							<input type="radio" id="radio-3" name="branches_2" required value="administación">Administración
						</td>
					</tr>
        </table>

				<table id="projectsTable_2">
					<tr>
						<th colspan="10" class="sub-header">ENCUESTA SOBRE EL VALOR DE LA INVERSION EN OBRAS DE CONSTRUCCION<br>(En miles de dólares)</th>
					</tr>
					<tr>
						<th rowspan="2">Nombre del Proyecto</th>
						<th rowspan="2">Municipio</th>
						<th rowspan="2">Número total de proyectos</th>
						<th rowspan="2">Costo total estimado</th>
						<th colspan="2">Fecha</th>
						<th colspan="4">Valor de la inversión realizada o/a realizarse</th>
					</tr>
					<tr>
						<th>Comienzo</th>
						<th>Terminación</th>
						<th>julio a septiembre </th>
						<th>octubre a dic. </th>
						<th>enero a marzo </th>
						<th>abril a junio </th>
					</tr>
					
					<!-- Line 1 -->
					<tr>
						<td><input type="text" name="project_name_2_1" placeholder="Project Name"></td>
						<td><input type="text" name="city_2_1" placeholder="City Name"></td>
						<td><input type="number" name="total_number_project_2_1" placeholder="Amount"></td>
						<td><input type="number" name="total_cost_2_1" placeholder="$"></td>
						<td><input type="text" name="start_date_2_1" placeholder="MM/DD/YYYY"></td>
						<td><input type="text" name="end_date_2_1" placeholder="MM/DD/YYYY"></td>
						<td><input type="number" name="value_first_trimester_2_1" placeholder="$"></td>
						<td><input type="number" name="value_second_trimester_2_1" placeholder="$"></td>
						<td><input type="number" name="value_third_trimester_2_1" placeholder="$"></td>
						<td><input type="number" name="value_fourth_trimester_2_1" placeholder="$"></td>
					</tr>
				</table>

				<button type="button" class="button" onclick="addNewLine_2()">
					<span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
				</button>

    <!-- PAGE 3 -->
    <div>
			<br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

				<table>
					<tr>
						<td colspan="2" class="header"><strong>Encuesta sobre Actividad Industria de la Construcción</strong></td>
						<td rowspan="4" class="header"><img src="https://assets-global.website-files.com/60ddbc422188bb3fab87d219/60ddbc422188bbbe5a87d251_gobierno-de-puerto-rico.png" alt="Logo"></td>
						<td colspan="2" rowspan="4" class="header">
							<p id="sheet"><strong>Hoja 3</strong></p>
							<p>
								<label>Encuesta:</label>
								<input id="year" type="text" name="encuesta_3" required placeholder="Ecuesta">
							</p>
							<section class="trimester">
								Trimestre:
									<select id="meses" name="trimestre_3" placeholder="month" required>
										<option value="enero-marzo">enero-marzo</option>
										<option value="abril-junio">abril-junio</option>
										<option value="julio-septiembre">julio-septiembre</option>
										<option value="octubre-diciembre">octubre-diciembre</option>
									</select> 
									
									<input type="number" id="year" name="year" maxlength="4" placeholder="year" required>
							</section>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="header">
							<p><strong>GOBIERNO DE PUERTO RICO</strong><br>
							<strong>JUNTA DE PLANIFICACIÓN DE PUERTO RICO</strong><br>
							Subprograma de Análisis Económico<br>
							Unidad de Estadísticas Sobre Construcción<br>
							Apartado 41119, San Juan, Puerto Rico 00940-1119</p>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<label>Nombre de la Empresa:</label>
							<input type="text" name="company_name_3" placeholder="Company Name" required>
						</td>
					</tr>
					<tr>
						<td>
							<label>Persona de Contacto:</label>
							<input type="text" name="liaison_officer_3" placeholder="Liaison Officer Name" required>
						</td>
						
						<td>
							<label>Teléfono:</label>
							<input type="text" name="tel_3" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="12" maxlength="12" required placeholder="123-456-7890">
						</td>
					</tr>
					<tr>
						<td colspan="3"></td>
						<td>
							<label>Proyecto por:</label>
							<input type="text" name="project_3" placeholder="Name">
						</td>
						<td id="choice">
							<input type="radio" id="radio-3" name="branches_3" required value="Si">Contrato
							<input type="radio" id="radio-3" name="branches_3" required value="No">Administración
						</td>
					</tr>
				</table>

				<table id="projectsTable_3">
					<tr>
						<th colspan="10" class="sub-header">ENCUESTA SOBRE EL VALOR DE LA INVERSION EN OBRAS DE CONSTRUCCION<br>(En miles de dólares)</th>
					</tr>
					<tr>
						<th rowspan="2">Nombre del Proyecto</th>
						<th rowspan="2">Municipio</th>
						<th rowspan="2">Número total de proyectos</th>
						<th rowspan="2">Costo total estimado</th>
						<th colspan="2">Fecha</th>
						<th colspan="4">Valor de la inversión realizada o/a realizarse</th>
					</tr>
					<tr>
						<th>Comienzo</th>
						<th>Terminación</th>
						<th>julio a septiembre </th>
						<th>octubre a dic. </th>
						<th>enero a marzo </th>
						<th>abril a junio </th>
					</tr>
					
					<!-- Line 1 -->
					<tr>
						<td><input type="text" name="project_name_3_1" placeholder="Project Name"></td>
						<td><input type="text" name="city_3_1" placeholder="City Name"></td>
						<td><input type="number" name="total_number_project_3_1" placeholder="Amount"></td>
						<td><input type="number" name="total_cost_3_1" placeholder="$"></td>
						<td><input type="text" name="start_date_3_1" placeholder="MM/DD/YYYY"></td>
						<td><input type="text" name="end_date_3_1" placeholder="MM/DD/YYYY"></td>
						<td><input type="number" name="value_first_trimester_3_1" placeholder="$"></td>
						<td><input type="number" name="value_second_trimester_3_1" placeholder="$"></td>
						<td><input type="number" name="value_third_trimester_3_1" placeholder="$"></td>
						<td><input type="number" name="value_fourth_trimester_3_1" placeholder="$"></td>
					</tr>
				</table>

				<button type="button" class="button" onclick="addNewLine_3()">
					<span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
				</button>


    <!-- PAGE 4 -->
    <div>
			<br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

			<table>
				<tr>
					<td colspan="2" class="header"><strong>Encuesta sobre Actividad Industria de la Construcción</strong></td>
					<td rowspan="4" class="header"><img src="https://assets-global.website-files.com/60ddbc422188bb3fab87d219/60ddbc422188bbbe5a87d251_gobierno-de-puerto-rico.png" alt="Logo"></td>
					<td colspan="2" rowspan="4" class="header">
						<p id="sheet"><strong>Hoja 4</strong></p>
						<p>
							<label>Encuesta:</label>
							<input id="year" type="text" name="encuesta_4" required placeholder="Ecuesta">
						</p>
						<section class="trimester">
							Trimestre: 
								<select id="meses" name="trimestre_4" placeholder="month" required>
									<option value="enero-marzo">enero-marzo</option>
									<option value="abril-junio">abril-junio</option>
									<option value="julio-septiembre">julio-septiembre</option>
									<option value="octubre-diciembre">octubre-diciembre</option>
								</select> 
								
								<input type="number" id="year" name="year" maxlength="4" placeholder="year" required>
						</section>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="header">
						<p><strong>GOBIERNO DE PUERTO RICO</strong><br>
						<strong>JUNTA DE PLANIFICACIÓN DE PUERTO RICO</strong><br>
						Subprograma de Análisis Económico<br>
						Unidad de Estadísticas Sobre Construcción<br>
						Apartado 41119, San Juan, Puerto Rico 00940-1119</p>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<label>Nombre de la Empresa:</label>
						<input type="text" name="company_name_4" placeholder="Company Name" required>
					</td>
				</tr>
				<tr>
					<td>
						<label>Persona de Contacto:</label>
						<input type="text" name="liaison_officer_4" placeholder="Liaison Officer Name" required>
					</td>
					<td>
						<label>Teléfono:</label>
						<input type="text" name="tel_4" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="12" maxlength="12" required placeholder="123-456-7890">
					</td>
				</tr>
				<tr>
					<td colspan="3"></td>
					<td>
						<label>Proyecto por:</label>
						<input type="text" name="project_4" placeholder="Name">
					</td>
					<td id="choice">
						<input type="radio" id="radio-3" name="branches_4" required value="Si">Contrato
						<input type="radio" id="radio-3" name="branches_4" required value="No">Administración
					</td>
				</tr>
			</table>

			<table id="projectsTable_4">
				<tr>
					<th colspan="10" class="sub-header">ENCUESTA SOBRE EL VALOR DE LA INVERSION EN OBRAS DE CONSTRUCCION<br>(En miles de dólares)</th>
				</tr>
				<tr>
					<th rowspan="2">Nombre del Proyecto</th>
					<th rowspan="2">Municipio</th>
					<th rowspan="2">Número total de proyectos</th>
					<th rowspan="2">Costo total estimado</th>
					<th colspan="2">Fecha</th>
					<th colspan="4">Valor de la inversión realizada o/a realizarse</th>
				</tr>
				<tr>
					<th>Comienzo</th>
					<th>Terminación</th>
					<th>julio a septiembre </th>
					<th>octubre a dic. </th>
					<th>enero a marzo </th>
					<th>abril a junio </th>
				</tr>
					
				<!-- Line 1 -->
				<tr>
					<td><input type="text" name="project_name_4_1" placeholder="Project Name"></td>
					<td><input type="text" name="city_4_1" placeholder="City Name"></td>
					<td><input type="number" name="total_number_project_4_1" placeholder="Amount"></td>
					<td><input type="number" name="total_cost_4_1" placeholder="$"></td>
					<td><input type="text" name="start_date_4_1" placeholder="MM/DD/YYYY"></td>
					<td><input type="text" name="end_date_4_1" placeholder="MM/DD/YYYY"></td>
					<td><input type="number" name="value_first_trimester_4_1" placeholder="$"></td>
					<td><input type="number" name="value_second_trimester_4_1" placeholder="$"></td>
					<td><input type="number" name="value_third_trimester_4_1" placeholder="$"></td>
					<td><input type="number" name="value_fourth_trimester_4_1" placeholder="$"></td>
				</tr>
			</table>

			<button type="button" class="button" onclick="addNewLine_4()">
				<span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
			</button>
        
			<section class = 'submit-button-container'>
					<input type="submit" value="SUBMIT" class="submit-button"></input>
			</section>
			
    	</form>
		</main>
		<script>
			let lineCounter_1 = 1;

        function addNewLine_1() {
					if(lineCounter_1 <= 9) {
            lineCounter_1++;
            const table = document.getElementById("projectsTable_1");
            const newRow = document.createElement("tr");

            newRow.innerHTML = `
                <td><input type="text" name="project_name_1_${lineCounter_1}" placeholder="Project Name"></td>
                <td><input type="text" name="city_1_${lineCounter_1}" placeholder="City Name"></td>
                <td><input type="number" name="total_number_project_1_${lineCounter_1}" placeholder="Amount"></td>
                <td><input type="number" name="total_cost_1_${lineCounter_1}" placeholder="$"></td>
                <td><input type="text" name="start_date_1_${lineCounter_1}" placeholder="MM/DD/YYYY"></td>
                <td><input type="text" name="end_date_1_${lineCounter_1}" placeholder="MM/DD/YYYY"></td>
                <td><input type="number" name="value_first_trimester_1_${lineCounter_1}" placeholder="$"></td>
                <td><input type="number" name="value_second_trimester_1_${lineCounter_1}" placeholder="$"></td>
                <td><input type="number" name="value_third_trimester_1_${lineCounter_1}" placeholder="$"></td>
                <td><input type="number" name="value_fourth_trimester_1_${lineCounter_1}" placeholder="$"></td>
            `;

            table.appendChild(newRow);
					}
        }

				let lineCounter_2 = 1;

        function addNewLine_2() {
					if(lineCounter_2 <= 9) {
            lineCounter_2++;
            const table = document.getElementById("projectsTable_2");
            const newRow = document.createElement("tr");

            newRow.innerHTML = `
                <td><input type="text" name="project_name_1_${lineCounter_2}" placeholder="Project Name"></td>
                <td><input type="text" name="city_1_${lineCounter_2}" placeholder="City Name"></td>
                <td><input type="number" name="total_number_project_1_${lineCounter_2}" placeholder="Amount"></td>
                <td><input type="number" name="total_cost_1_${lineCounter_2}" placeholder="$"></td>
                <td><input type="text" name="start_date_1_${lineCounter_2}" placeholder="MM/DD/YYYY"></td>
                <td><input type="text" name="end_date_1_${lineCounter_2}" placeholder="MM/DD/YYYY"></td>
                <td><input type="number" name="value_first_trimester_1_${lineCounter_2}" placeholder="$"></td>
                <td><input type="number" name="value_second_trimester_1_${lineCounter_2}" placeholder="$"></td>
                <td><input type="number" name="value_third_trimester_1_${lineCounter_2}" placeholder="$"></td>
                <td><input type="number" name="value_fourth_trimester_1_${lineCounter_2}" placeholder="$"></td>
            `;

            table.appendChild(newRow);
					}
        }

				let lineCounter_3 = 1;

        function addNewLine_3() {
					if(lineCounter_3 <= 9) {
            lineCounter_3++;
            const table = document.getElementById("projectsTable_3");
            const newRow = document.createElement("tr");

            newRow.innerHTML = `
                <td><input type="text" name="project_name_1_${lineCounter_3}" placeholder="Project Name"></td>
                <td><input type="text" name="city_1_${lineCounter_3}" placeholder="City Name"></td>
                <td><input type="number" name="total_number_project_1_${lineCounter_3}" placeholder="Amount"></td>
                <td><input type="number" name="total_cost_1_${lineCounter_3}" placeholder="$"></td>
                <td><input type="text" name="start_date_1_${lineCounter_3}" placeholder="MM/DD/YYYY"></td>
                <td><input type="text" name="end_date_1_${lineCounter_3}" placeholder="MM/DD/YYYY"></td>
                <td><input type="number" name="value_first_trimester_1_${lineCounter_3}" placeholder="$"></td>
                <td><input type="number" name="value_second_trimester_1_${lineCounter_3}" placeholder="$"></td>
                <td><input type="number" name="value_third_trimester_1_${lineCounter_3}" placeholder="$"></td>
                <td><input type="number" name="value_fourth_trimester_1_${lineCounter_3}" placeholder="$"></td>
            `;

            table.appendChild(newRow);
					}
        }

				let lineCounter_4 = 1;

        function addNewLine_4() {
					if(lineCounter_4 <= 9) {
            lineCounter_4++;
            const table = document.getElementById("projectsTable_4");
            const newRow = document.createElement("tr");

            newRow.innerHTML = `
                <td><input type="text" name="project_name_1_${lineCounter_4}" placeholder="Project Name"></td>
                <td><input type="text" name="city_1_${lineCounter_4}" placeholder="City Name"></td>
                <td><input type="number" name="total_number_project_1_${lineCounter_4}" placeholder="Amount"></td>
                <td><input type="number" name="total_cost_1_${lineCounter_4}" placeholder="$"></td>
                <td><input type="text" name="start_date_1_${lineCounter_4}" placeholder="MM/DD/YYYY"></td>
                <td><input type="text" name="end_date_1_${lineCounter_4}" placeholder="MM/DD/YYYY"></td>
                <td><input type="number" name="value_first_trimester_1_${lineCounter_4}" placeholder="$"></td>
                <td><input type="number" name="value_second_trimester_1_${lineCounter_4}" placeholder="$"></td>
                <td><input type="number" name="value_third_trimester_1_${lineCounter_4}" placeholder="$"></td>
                <td><input type="number" name="value_fourth_trimester_1_${lineCounter_4}" placeholder="$"></td>
            `;

            table.appendChild(newRow);
					}
        }
	</script>
	</body>
</html>