<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>IP-230 Construcción</title>

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/android-chrome-512x512.png' %}" />

    <link rel="stylesheet" href="{% static 'css/forms/ingreso_neto/IP-110.css' %}" />
    <link rel="stylesheet" href="{% static 'css/website.css' %}" />
  </head>

  <body>
    <!-- Header -->
    <section class="header">
      <table>
        <tr>
          <td id="header_left">
            IP-230<br>
            Gobierno de Puerto Rico<br>
            OFICINA DEL GOBERNADOR<br>
            Junta de Planificación<br>
            Subprograma de Análisis Económico<br>
            PO BOX 41119<br>
            SAN JUAN PR  00940-1119<br>
          </td>
          <td id="header_center">
            <img src="{% static 'images/JP_poster.jpg' %}" alt="Logo Junta Planificación" id="header_image"/><br>
            CONSTRUCCIÓN<br>
            CONSTRUCTION<br>
          </td>
          <td id="header_right">
            Goverment of Puerto Rico<br>
            OFFICE OF THE GOVERNOR<br>
            Puerto Rico Planning Board<br>
            Subprogram of Economic Analysis<br>
            PO BOX 41119<br>
            SAN JUAN PR  00940-1119<br>
            Tel. (787) 722-1970<br>
            Fax. (787) 727-8046<br>
            <a href="mailto:santiago_m@jp.pr.gov" class="custom-link">santiago_m@jp.pr.gov</a><br>
          </td>
        </tr>
      </table>
    </section>
    
    <main>
      <form method="POST" action="{% url 'web_app:IP-230' %}">
        {% csrf_token %}
        <section>
          <div class="body_header">
            <strong>Nombre compañía / Company Name:</strong>
            <input class="text-box space-between" name="company_name" placeholder="Company Name" required>
            <br>
            <strong>Dirección / Address:</strong>
            <input class="text-box space-between" name="address" placeholder="Address" required>
            <br>
            <strong>Correo electrónico / Email:</strong>
            <input type="email" class="text-box space-between" name="email" placeholder="sophie@example.com" required>
            <br>
            <strong>Persona contacto / Liaison officer:</strong>
            <input class="text-box space-between" name="liaison_officer" placeholder="Liaison Officer Name" required>
          </div>
        </section>

        <br>
        <div class="custom-line"></div>

        <section class="first_section">
          <!-- DIV 1 -->
          <div>
            <strong>1. Numero de Seguro Social / Social Security Number:</strong>
            <input class="text-box space-between" id="text-box-1" name="ssn" placeholder="ssn" required></input>
            
            <div class="first_div_container">
              <strong>Tel:</strong> 
              <input type="tel" class="text-box space-between" id="text-box-1-2" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="12" maxlength="12" name="tel" placeholder="123-456-7890" required>
              
              <strong>Fax:</strong> 
              <input type="tel" class="text-box space-between" id="text-box-1-2" minlength="12" maxlength="12" name="fax" placeholder="123-456-7890">
            </div>
          </div>

          <!-- DIV 2 -->
          <div class="second_div">
            <strong>2. Forma legal de organización: - Legal form of organization:</strong>
            <br>
            <div id="options_container" class="second_div_container">
              <input type="radio" id="radio-1" name="legal_form" value="Corporación/Corporation">Corporación / Corporation
              <input type="radio" id="radio-1" name="legal_form" value="Sociedad/Partnership">Sociedad / Partnership
              <input type="radio" id="radio-1" name="legal_form" value="Cooperativa/Cooperativa">Cooperativa / Cooperativa
              <br>
              <input type="radio" id="radio-1" name="legal_form" value="Empresa Individual/Individual enterprise">Empresa Individual / Individual enterprise
              <input type="radio" id="radio-1" name="legal_form" value="Empresa sin fines pecuniarios/Nonprofit organization">Empresa sin fines pecuniarios / Nonprofit organization
            </div>
          </div>

          <!-- DIV 3 -->
          <div class="third_div">
              <strong>3. Corporaciones Extranjeras Controladas (CEC)/Controlled Foreign Corporations:</strong>
              <input type="radio" id="radio-2" name="cfc" value="Si">Si
              <input type="radio" id="radio-2" name="cfc" value="No">No
          </div>

          <!-- DIV 4 -->
          <div class="fifth_div">
            <strong>4. Describa brevemente la función principal del negocio/Explain briefly the main function of the business activity:</strong>
            <br>
            <textarea class="text-box space-between" id="text-box-5" name="business_function" placeholder="Enter your text here..." required></textarea>
          </div>

          <!-- DIV 5 -->
          <div class="seven_div">
            <strong>5. Fecha de cierre de sus libros - Your accounting period closing date:</strong>
            <input type="month" id="date" name="closing_date" required/>
          </div>

          <!-- DIV 6 -->
          <div class="eight_div">
            <strong>6. Favor de detallar la siguiente información - Please provide the following information:</strong>
          </div>
        </section>

        <section>
          <div class="section_divider">
            ESTADO DE INGRESO Y GASTOS - INCOME AND EXPENSES STATEMENT
          </div>
          <div class="custom-line"></div>
        </section>

        <section class="divider-container">
          <div class="section_divider_1" id="label">
            Partida - Item
          </div>

          <div class="section_divider_2" id="label">
            Año - Year
            <br>
            <input type="number" id="year" name="start_year" min="1000" max="9999" placeholder="year" required></input>
          </div>

          <div class="section_divider_3" id="label">
            Año - Year
            <br>
            <input type="number" id="year" name="end_year" min="1000" max="9999" placeholder="year" required></input>
        </section>

        <section class="second_section">
          <!-- SECTION A -->
          <div class="section">
            <div id="title" class="item">
              <label><h2>A. Ingresos de proyecto - Income from projects</h2></label>
              <input class="title-inputs" id="title-inputs" type="number" name="income_project_A_12" placeholder="$" required>
              <input id="title-inputs" type="number" name="income_project_A_13" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;a. De personas - To persons</label>
                <input type="number" name="people_A_12" placeholder="$" required>
                <input type="number" name="people_A_13" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;b. De industrias y negocios - from industries and businesses</label>
                <input type="number" name="industries_businesses_A_12" placeholder="$" required>
                <input type="number" name="industries_businesses_A_13" placeholder="$" required>
            </div>

            <!-- SECTION B -->
            <div id="title" class="item">
              <label><h2>B. total costos directos e indirectos - Direct and <br>
                &emsp;indirect costs</h2></label>
              <input class="title-inputs" id="title-inputs" type="number" name="direct_indirect_B_12" placeholder="$" required>
              <input id="title-inputs" type="number" name="direct_indirect_B_13" placeholder="$" required>
            </div>

            <div class="item">
                <label>1. Jornales directos, bono de Navidad y vacaciones - Direct labor, Christmas bonus<br>
                  &emsp;and vacations</label>
                <input type="number" name="direct_christmas_vacation_B_12" placeholder="$" required>
                <input type="number" name="direct_christmas_vacation_B_13" placeholder="$" required>
            </div>

            <div class="item">
                <label>2. Renta de terreno y edificio - Rent of land and building</label>
                <input type="number" name="rent_land_building_B_12" placeholder="$" required>
                <input type="number" name="rent_land_building_B_13" placeholder="$" required>
            </div>

            <div class="item">
                <label>3. Renta de maquinaria y equipo - Rent of machinery and equipment</label>
                <input type="number" name="rent_equipment_B_12" placeholder="$" required>
                <input type="number" name="rent_equipment_B_13" placeholder="$" required>
            </div>

            <div class="item">
                <label>4. Depreciación - Depreciation</label>
                <input type="number" name="depreciation_B_12" placeholder="$" required>
                <input type="number" name="depreciation_B_13" placeholder="$" required>
            </div>

            <div class="item">
                <label>5. Impuesto sobre la venta y uso - sales and use tax</label>
                <input type="number" name="sales_tax_B_12" placeholder="$" required>
                <input type="number" name="sales_tax_B_13" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;a. Por compra de maquinaria y equipo - On purchases of machinery and equipment</label>
                <input type="number" name="purchases_machinery_equipment_B_12" placeholder="$" required>
                <input type="number" name="purchases_machinery_equipment_B_13" placeholder="$" required>
            </div>
            
            <div class="item">
              <label>&emsp;b. Por otras compras - On other purchases</label>
              <input type="number" name="other_purchases_B_12" placeholder="$" required>
              <input type="number" name="other_purchases_B_13" placeholder="$" required>
            </div>

            <div class="item">
              <label>6. Licencias y patentes - Licenses and patents</label>
              <input type="number" name="licenses_patent_B_12" placeholder="$" required>
              <input type="number" name="licenses_patent_B_13" placeholder="$" required>
            </div>

            <div class="item">
              <label>7. Otros costos directos e indirectos - Other direct and indirect costs</label>
              <input type="number" name="other_costs_direct_indirect_B_12" placeholder="$" required>
              <input type="number" name="other_costs_direct_indirect_B_13" placeholder="$" required>
            </div>
          </div>

          <!-- SECTION C -->
          <div class="section">
            <div id="title" class="item">
              <label><h2>C. Beneficio bruto (A-B) - Gross profit (A-B)</h2></label>
              <input class="title-inputs" id="title-inputs" type="number" name="gross_profit_C_12" placeholder="$" required>
              <input id="title-inputs" type="number" name="gross_profit_C_13" placeholder="$" required>
            </div>
          <div>

          <!-- SECTION D -->
          <div class="section">
            <div id="title" class="item">
              <label><h2>D. Otros ingresos - Other income</h2></label>
              <input class="title-inputs" id="title-inputs" type="number" name="other_income_D_12" placeholder="$" required>
              <input id="title-inputs" type="number" name="other_income_D_13" placeholder="$" required>
            </div>

            <div class="item">
                <label>1. Intereses - Interests</label>
                <input type="number" name="interest_D_12" placeholder="$" required>
                <input type="number" name="interest_D_13" placeholder="$" required>
            </div>

            <div class="item">
                <label>2. Renta de terreno y edificio - Rent of land and building</label>
                <input type="number" name="rent_land_building_D_12" placeholder="$" required>
                <input type="number" name="rent_land_building_D_13" placeholder="$" required>
            </div>

            <div class="item">
              <label>3. Ganancia o pérdida de capital - Capital gain or loss</label>
              <input type="number" name="gain_loss_D_12" placeholder="$" required>
              <input type="number" name="gain_loss_D_13" placeholder="$" required>
            </div>

            <div class="item">
              <label>4. Otros - Other</label>
              <input type="number" name="other_D_12" placeholder="$" required>
              <input type="number" name="other_D_13" placeholder="$" required>
            </div>
          </div>

          <!-- SECTION E -->
          <div class="section">
            <div id="title" class="item">
              <label><h2>E. Total ingreso bruto (C+D) - Total gross profit (C+D)</h2></label>
              <input class="title-inputs" id="title-inputs" type="number" name="gross_profit_E_12" placeholder="$" required>
              <input id="title-inputs" type="number" name="gross_profit_E_13" placeholder="$" required>
            </div>
          <div>
          
          <!-- SECTION F -->
          <div class="section">
            <div id="title" class="item">
              <label><h2>F. gastos administrativos y generales - Administrative <br>
                &emsp;and general expenses</h2></label>
              <input class="title-inputs" id="title-inputs" type="number" name="administrative_F_12" placeholder="$" required>
              <input id="title-inputs" type="number" name="administrative_F_13" placeholder="$" required>
            </div>

            <div class="item">
                <label>1. Salarios, jornales, bono de navidad y comisiones - Salaries, wages, <br>
                  &emsp;Christmas bonus and commissions</label>
                <input type="number" name="salaries_wages_bonus_commissions_F_12" placeholder="$" required>
                <input type="number" name="salaries_wages_bonus_commissions_F_13" placeholder="$" required>
            </div>

            <div class="item">
              <label>2. Intereses - Interests</label>
              <input type="number" name="interest_F_12" placeholder="$" required>
              <input type="number" name="interest_F_13" placeholder="$" required>
            </div>

            <div class="item">
              <label>3. Renta de terreno y edificio - Rent of land and building</label>
              <input type="number" name="rent_land_building_F_12" placeholder="$" required>
              <input type="number" name="rent_land_building_F_13" placeholder="$" required>
            </div>

            <div class="item">
              <label>4. Depreciación - Depreciation</label>
              <input type="number" name="depreciation_F_12" placeholder="$" required>
              <input type="number" name="depreciation_F_13" placeholder="$" required>
            </div>

            <div class="item">
              <label>5. Cuentas incobrables - Bad_debts</label>
              <input type="number" name="bad_debts_F_12" placeholder="$" required>
              <input type="number" name="bad_debts_F_13" placeholder="$" required>
            </div>

            <div class="item">
              <label>6. Donativos - Donations</label>
              <input type="number" name="donation_F_12" placeholder="$" required>
              <input type="number" name="donation_F_13" placeholder="$" required>
            </div>

            <div class="item">
              <label>7. Otros gastos - Other expenses</label>
              <input type="number" name="other_expenses_F_12" placeholder="$" required>
              <input type="number" name="other_expenses_F_13" placeholder="$" required>
            </div>
          </div>

          <!-- SECTION G -->
          <div class="section">
            <div id="title" class="item">
                <label><h2>G. Ganancia o pérdida neta (E-F) - Net profit or loss (E-F)</h2></label>
                <input class="title-inputs" id="title-inputs" type="number" name="net_profit_G_12" placeholder="$" required>
                <input id="title-inputs" type="number" name="net_profit_G_13" placeholder="$" required>
            </div>

            <div class="item">
              <label>1. Contribución sobre ingresos - Income tax</label>
              <input type="number" name="income_tax_G_12" placeholder="$" required>
              <input type="number" name="income_tax_G_13" placeholder="$" required>
            </div>

            <div class="item">
              <label>2. Ganancia después de contribución sobre ingresos - Profit after income tax</label>
              <input type="number" name="profit_after_tax_G_12" placeholder="$" required>
              <input type="number" name="profit_after_tax_G_13" placeholder="$" required>
            </div>
          </div>

          <!-- SECTION H -->
          <div class="section">
            <div id="title" class="item">
                <label><h2>H. Impuesto sobre ventas y uso retenido - Sales and <br>
                  &emsp;use tax withheld</h2></label>
                <input class="title-inputs" id="title-inputs" type="number" name="sales_tax_H_12" placeholder="$" required>
                <input id="title-inputs" type="number" name="sales_tax_H_13" placeholder="$" required>
            </div>

            <div id="title" class="item">
              <label><h2>I. Inventario de materiales - Materials inventory</h2></label>
            </div>

            <div class="item">
              <label>&emsp;a. A principio de año - At the beginning of the year</label>
              <input id="item_title_230" type="number" name="beginning_year_HA" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;b. A fin de año - At the end of the year</label>
              <input id="item_title_230" type="number" name="end_year_HB" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;c. A principio de año - At the beginning of the year</label>
              <input id="item_title_230" type="number" name="beginning_year_HC" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;d. A fin de año - At the end of the year</label>
              <input id="item_title_230" type="number" name="end_year_HD" placeholder="$" required>
            </div>
          </div>
        </section>

        <div class="custom-line"></div>
        <div id="text_button">
        * Incluya Intereses Tributables y no tributables - Include taxable and non-taxable interests
        </div>
        <section>
          <div class="big-box-bottom">
            <div class="left-signature">
              <input id="signature" name="signature" placeholder="Nombre" required></input> <!-- Signature Input -->
              <hr> <!-- Signature Line -->
              <p>
                Nombre de persona que suministra la información<br>
                Name of person furnishing information<br>
              </p>
            </div>

            <div class="right-signature">
              <input id="signature" name="rank" placeholder="Rango" required></input> <!-- Signature Input -->
              <hr> <!-- Signature Line -->
              <p>
                Rango o posición que ocupa en la empresa<br>
                Rank or position<br>
              </p>
            </div>
          </div>
        </section>

        <section class = 'submit-button-container'>
          <input type="submit" value="SUBMIT" class="submit-button"></input>
        </section>
      <form>
    </main>
  </body>
</html>