<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>IP-420 Comercio al Por Mayor</title>

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/android-chrome-512x512.png' %}" />

    <link rel="stylesheet" href="{% static 'css/forms/ingreso_neto/IP-420.css' %}" />
    <link rel="stylesheet" href="{% static 'css/website.css' %}" />
  </head>

  <body>
    <!-- Header -->
    <section class="header">
      <table>
        <tr>
          <td id="header_left">
            IP-420<br>
            Gobierno de Puerto Rico<br>
            OFICINA DEL GOBERNADOR<br>
            Junta de Planificación<br>
            Subprograma de Análisis Económico<br>
            PO BOX 41119<br>
            SAN JUAN PR  00940-1119<br>
          </td>
          <td id="header_center">
            <img src="{% static 'images/JP_poster.jpg' %}" alt="Logo Junta Planificación" id="header_image"/><br>
            COMERCIO AL POR MAYOR<br>
            WHOLESALE TRADE<br>
          </td>
          <td id="header_right">
            Goverment of Puerto Rico<br>
            OFFICE OF THE GOVERNOR<br>
            Puerto Rico Planning Board<br>
            Subprogram of Economic Analysis<br>
            PO BOX 41119<br>
            SAN JUAN PR  00940-1119<br>
            Tel. (787) 722-1970<br>
            Fax. (787) 727-8046<br>
            <a href="mailto:santiago_m@jp.pr.gov" class="custom-link">santiago_m@jp.pr.gov</a><br>
          </td>
        </tr>
      </table>
    </section>
    
    <main>
      <form method="POST" action="{% url 'web_app:IP-420' %}">
        {% csrf_token %}
        <section>
          <div class="body_header">
            <strong>Nombre compañía / Company Name:</strong>
            <input class="text-box space-between" name="company_name" placeholder="Company Name" required>
            <br>
            <strong>Dirección / Address:</strong>
            <input class="text-box space-between" name="address" placeholder="Address" required>
            <br>
            <strong>Correo electrónico / Email:</strong>
            <input type="email" class="text-box space-between" name="email" placeholder="sophie@example.com" required>
            <br>
            <strong>Persona contacto / Liaison officer:</strong>
            <input class="text-box space-between" name="liaison_officer" placeholder="Liaison Officer Name" required>
          </div>
        </section>

        <br>
        <div class="custom-line"></div>

        <section class="first_section">
          <!-- DIV 1 -->
          <div>
            <strong>1. Numero de Seguro Social / Social Security Number:</strong>
            <input class="text-box space-between" id="text-box-1" name="ssn" placeholder="ssn" required></input>
            
            <div class="first_div_container">
              <strong>Tel:</strong> 
              <input type="tel" class="text-box space-between" id="text-box-1-2" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="12" maxlength="12" name="tel" placeholder="123-456-7890" required>
              
              <strong>Fax:</strong> 
              <input type="tel" class="text-box space-between" id="text-box-1-2" minlength="12" maxlength="12" name="fax" placeholder="123-456-7890">
            </div>
          </div>

          <!-- DIV 2 -->
          <div class="second_div">
            <strong>2. Forma legal de organización: - Legal form of organization:</strong>
            <br>
            <div id="options_container" class="second_div_container">
              <input type="radio" id="radio-1" name="legal_form" value="Corporación/Corporation" required>Corporación / Corporation
              <input type="radio" id="radio-1" name="legal_form" value="Sociedad/Partnership" required>Sociedad / Partnership
              <input type="radio" id="radio-1" name="legal_form" value="Cooperativa/Cooperativa" required>Cooperativa / Cooperativa
              <br>
              <input type="radio" id="radio-1" name="legal_form" value="Empresa Individual/Individual enterprise" required>Empresa Individual / Individual enterprise
              <input type="radio" id="radio-1" name="legal_form" value="Empresa sin fines pecuniarios/Nonprofit organization" required>Empresa sin fines pecuniarios / Nonprofit organization
            </div>
          </div>

          <!-- DIV 3 -->
          <div class="third_div">
              <strong>3. Corporaciones Extranjeras Controladas (CEC) / Controlled Foreign Corporations:</strong>
              <input type="radio" id="radio-2" name="cfc" value="Si" required>Si
              <input type="radio" id="radio-2" name="cfc" value="No" required>No
          </div>

          <!-- DIV 4 -->
          <div class="fifth_div">
            <strong>4. Línea principal de mercancía vendida por esta firma / Main line of merchandise sold by the firm:</strong>
            <br>
            <input class="text-box space-between" id="text-box-4" name="main_line" placeholder="Enter your text here..." required></input>
          </div>

          <!-- DIV 5 -->
          <div class="seven_div">
            <strong>5. Clase de negocio / Type of business:</strong>
            <br>
            <div id="options_container" class="second_div_container">
              <input type="radio" id="radio-1" name="business_type" value="Distribuidor/Distribuidor">Distribuidor / Distribuidor
              <input type="radio" id="radio-1" name="business_type" value="Representante/Representative">Representante / Representative
              <br>
              <input type="radio" id="radio-1" name="business_type" value="Mayorista/Wholesaler">Mayorista / Wholesaler
              <input type="radio" id="radio-1" name="business_type" value="Supermercado/Supermarket">Supermercado / Supermarket
              <br>
              &emsp;&emsp;Otro tipo de negocio / Other type of business:
              <input type="text" class="text-box space-between" name="other_business_type" id="text-box-4" placeholder="Enter your text here..."></input>
              <br>
            </div>
          </div>

          <!-- DIV 6 -->
          <div class="eight_div">
            <strong>6. Fecha de detallar la siguiente informacion / Your accounting period closing date:</strong>
            <input type="month" id="date" name="accounting_period" required/>
          </div>

          <!-- DIV 7 -->
          <div class="nine_div">
            <strong>7. Favor de detallar la siguiente información / Please detail the following information:</strong>
          </div>
        </section>

        <section>
          <div class="section_divider">
            ESTADO DE INGRESO Y GASTOS - INCOME AND EXPENSES STATEMENT
          </div>
          <div class="custom-line"></div>
        </section>

        <section class="divider-container">
          <div class="section_divider_1" id="label">
            Partida - Item
          </div>

          <div class="section_divider_2" id="label">
            Año - Year
            <br>
            <input type="number" id="year" name="start_year" min="1000" max="9999" placeholder="year" required></input>
          </div>

          <div class="section_divider_3" id="label">
            Año - Year
            <br>
            <input type="number" id="year" name="end_year" min="1000" max="9999" placeholder="year" required></input>
        </section>

        <section class="second_section">
          <!-- SECTION A -->
          <div class="section">
            <div id="title" class="item">
              <label><h2>A. Ingresos - Income</h2></label>
            </div>

            <div class="item">
              <label>&emsp;1. Ventas - Sales</label>
              <input type="number" name="incomes_sales_1" placeholder="$" required>
              <input type="number" name="incomes_sales_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;&emsp;&emsp;a. De personas - From persons</label>
                <input type="number" name="incomes_from_people_1" placeholder="$" required>
                <input type="number" name="incomes_from_people_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;&emsp;&emsp;b. De industrias y negocios - from industries and businesses</label>
                <input type="number" name="incomes_industries_businesses_1" placeholder="$" required>
                <input type="number" name="incomes_industries_businesses_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;2. Menos costo de venta - Less cost of sales</label>
              <input type="number" name="incomes_less_cost_1" placeholder="$" required>
              <input type="number" name="incomes_less_cost_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;&emsp;&emsp;a. Inventario a principio de año - Inventory at the beginning of the year</label>
              <input type="number" name="incomes_inventory_beginning_1" placeholder="$" required>
              <input type="number" name="incomes_inventory_beginning_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;&emsp;&emsp;b. Compras - Purchases</label>
                <input type="number" name="incomes_purchases_1" placeholder="$" required>
                <input type="number" name="incomes_purchases_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;&emsp;&emsp;c. Inventario a fin de año - Inventory at he end of the year</label>
              <input type="number" name="incomes_inventory_end_1" placeholder="$" required>
              <input type="number" name="incomes_inventory_end_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;3.Beneficio bruto (1 - 2) - Gross profit (1 - 2)</label>
              <input type="number" name="incomes_gross_profit_1" placeholder="$" required>
              <input type="number" name="incomes_gross_profit_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;4. Otros ingresos de operación - Other operationg income</label>
              <input type="number" name="other_operation_incomes_1" placeholder="$" required>
              <input type="number" name="other_operation_incomes_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;&emsp;&emsp;a. Intereses - Interests</label>
              <input type="number" name="incomes_interests_1" placeholder="$" required>
              <input type="number" name="incomes_interests_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;&emsp;&emsp;b. Renta de terreno y edificio - Rent of land and building</label>
                <input type="number" name="incomes_rent_1" placeholder="$" required>
                <input type="number" name="incomes_rent_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;&emsp;&emsp;c. Ganancia o pérdida de capital - Capital gain or loss</label>
              <input type="number" name="incomes_gain_loss_1" placeholder="$" required>
              <input type="number" name="incomes_gain_loss_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;&emsp;&emsp;d. Dividendos - Dividends</label>
              <input type="number" name="incomes_dividends_1" placeholder="$" required>
              <input type="number" name="incomes_dividends_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;&emsp;&emsp;e. Otros - Other</label>
              <input type="number" name="other_incomes_1" placeholder="$" required>
              <input type="number" name="other_incomes_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;5. Total de ingreso bruto (3 + 4) - Total gross income (3 + 4)</label>
              <input type="number" name="incomes_total_gross_1" placeholder="$" required>
              <input type="number" name="incomes_total_gross_2" placeholder="$" required>
            </div>

            <!-- SECTION B -->
            <div id="title" class="item">
              <label><h2>B. Gastos - Expenses</h2></label>
              <input class="title-inputs" id="title-inputs" type="number" name="expenses_1" placeholder="$" required>
              <input id="title-inputs" type="number" name="expenses_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>1. Salario, jornales, bono de Navidad y comisiones - Salaries, wages,<br>
                  &emsp;Christmas bonus and comissions</label>
                <input type="number" name="expenses_salaries_wages_bonus_1" placeholder="$" required>
                <input type="number" name="expenses_salaries_wages_bonus_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>2. Intereses - Interests</label>
                <input type="number" name="expenses_interests_1" placeholder="$" required>
                <input type="number" name="expenses_interests_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>3. Depreciación - Depreciation</label>
                <input type="number" name="expenses_depreciation_1" placeholder="$" required>
                <input type="number" name="expenses_depreciation_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>4. Renta de terreno y edificio - Rent of land and building</label>
              <input type="number" name="expenses_rent_1" placeholder="$" required>
              <input type="number" name="expenses_rent_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>5. Cuenta incobrables - bad debts</label>
                <input type="number" name="expenses_bad_debts_1" placeholder="$" required>
                <input type="number" name="expenses_bad_debts_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>6. Donativos - Donations</label>
              <input type="number" name="expenses_donations_1" placeholder="$" required>
              <input type="number" name="expenses_donations_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>7. Impuesto sobre la venta y uso - Sales and use tax</label>
              <input type="number" name="expenses_sales_taxes_1" placeholder="$" required>
              <input type="number" name="expenses_sales_taxes_2" placeholder="$" required>
            </div>

            
            <div class="item">
              <label>&emsp;&emsp;&emsp;a. Por Compra de maquinaria y equipo - On purchases of machinery<br>
                &emsp;&emsp;&emsp;&emsp;and equipment</label>
              <input type="number" name="expenses_machinary_1" placeholder="$" required>
              <input type="number" name="expenses_machinary_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;&emsp;&emsp;b. Por otras compras - On other purchases</label>
              <input type="number" name="expenses_other_purchases_1" placeholder="$" required>
              <input type="number" name="expenses_other_purchases_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>8. Licencias y patentes - Licenses and patents</label>
              <input type="number" name="expenses_licenses_1" placeholder="$" required>
              <input type="number" name="expenses_licenses_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>9. Otros gastos de operación - Other operationg expenses</label>
              <input type="number" name="expenses_other_operations_1" placeholder="$" required>
              <input type="number" name="expenses_other_operations_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>10. Total de gastos de operación - Total operating expenses</label>
              <input type="number" name="expenses_total_operations_1" placeholder="$" required>
              <input type="number" name="expenses_total_operations_2" placeholder="$" required>
            </div>
          </div>

          <!-- SECTION C -->
          <div class="section">
            <div id="title" class="item">
              <label><h2>C. Beneficio bruto (A-B) - Gross profit (A-B)</h2></label>
              <input class="title-inputs" id="title-inputs" type="number" name="gross_profit_1" placeholder="$" required>
              <input id="title-inputs" type="number" name="gross_profit_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>1. Contribución sobre ingresos - Income tax</label>
              <input type="number" name="profit_income_tax_1" placeholder="$" required>
              <input type="number" name="profit_income_tax_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>2. Ganacia después de contribución sobre ingresos - Profit after income tax</label>
              <input type="number" name="profit_after_income_tax_1" placeholder="$" required>
              <input type="number" name="profit_after_income_tax_2" placeholder="$" required>
            </div>
          <div>

          <!-- SECTION D -->
          <div class="section">
            <div id="title" class="item">
              <label><h2>D. Impuesto sobre ventas y uso retenido - Sales <br> &emsp;and use tax Withheld</h2></label>
              <input class="title-inputs" id="title-inputs" type="number" name="sales_tax_1" placeholder="$" required>
              <input id="title-inputs" type="number" name="sales_tax_2" placeholder="$" required>
            </div>
          </div>

    
        <div class="custom-line"></div>
        <div id="text_button">
        * Incluya Intereses Tributables y no tributables - Include taxable and non-taxable interests
        </div>
        <section>
          <div class="big-box-bottom">
            <div class="left-signature">
              <input id="signature" name="name" placeholder="Nombre" required></input> <!-- Signature Input -->
              <hr> <!-- Signature Line -->
              <p>
                Nombre de persona que suministra la información<br>
                Name of person furnishing information<br>
              </p>
            </div>

            <div class="right-signature">
              <input id="rank" name="rank" placeholder="Rango" required></input> <!-- Signature Input -->
              <hr> <!-- Signature Line -->
              <p>
                Rango o posición que ocupa en la empresa<br>
                Rank or position<br>
              </p>
            </div>
          </div>
        </section>

        <section class = 'submit-button-container'>
          <input type="submit" value="SUBMIT" class="submit-button"></input>
        </section>
      <form>
    </main>
  </body>
</html>