<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>IP-520-A Agencias Corretaje y Otros</title>

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/android-chrome-512x512.png' %}" />

    <link rel="stylesheet" href="{% static 'css/forms/ingreso_neto/IP-310b.css' %}" />
    <link rel="stylesheet" href="{% static 'css/website.css' %}" />
  </head>

  <body>
    <!-- Header -->
    <section class="header">
      <table>
        <tr>
          <td id="header_left">
            IP-510-A<br>
            Gobierno de Puerto Rico<br>
            OFICINA DEL GOBERNADOR<br>
            Junta de Planificación<br>
            Subprograma de Análisis Económico<br>
            PO BOX 41119<br>
            SAN JUAN PR  00940-1119<br>
          </td>
          <td id="header_center">
            <img src="{% static 'images/JP_poster.jpg' %}" alt="Logo Junta Planificación" id="header_image"/><br>
            AGENCIAS, CORRETAJES Y OTROS SEGUROS RELACIONADOS<br>
            AGENCIES, BROKERAGES AND OTHER INSURANCE RELATE<br>
          </td>
          <td id="header_right">
            Goverment of Puerto Rico<br>
            OFFICE OF THE GOVERNOR<br>
            Puerto Rico Planning Board<br>
            Subprogram of Economic Analysis<br>
            PO BOX 41119<br>
            SAN JUAN PR  00940-1119<br>
            Tel. (787) 722-1970<br>
            Fax. (787) 727-8046<br>
            <a href="mailto:santiago_m@jp.pr.gov" class="custom-link">santiago_m@jp.pr.gov</a><br>
          </td>
        </tr>
      </table>
    </section>
    
    <main>
      <form method="POST" action="{% url 'web_app:IP-520a' %}">
        {% csrf_token %}
        <section>
          <div class="body_header">
            <strong>Nombre compañía / Company Name:</strong>
            <input class="text-box space-between" name="company_name" placeholder="Company Name" required>
            <br>
            <strong>Dirección / Address:</strong>
            <input class="text-box space-between" name="address" placeholder="Address" required>
            <br>
            <strong>Correo electrónico / Email:</strong>
            <input type="email" class="text-box space-between" name="email" placeholder="sophie@example.com" required>
            <br>
            <strong>Persona contacto / Liaison officer:</strong>
            <input class="text-box space-between" name="liaison_officer" placeholder="Liaison Officer Name" required>
          </div>
        </section>

        <br>
        <div class="custom-line"></div>

        <section class="first_section">
          <!-- DIV 1 -->
          <div>
            <strong>1. Numero de Seguro Social / Social Security Number:</strong>
            <input class="text-box space-between" id="text-box-1" name="ssn" placeholder="ssn" required></input>
            
            <div class="first_div_container">
              <strong>Tel:</strong> 
              <input type="tel" class="text-box space-between" id="text-box-1-2" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="12" maxlength="12" name="tel" placeholder="123-456-7890" required>
              
              <strong>Fax:</strong> 
              <input type="tel" class="text-box space-between" id="text-box-1-2" minlength="12" maxlength="12" name="fax" placeholder="123-456-7890">
            </div>
          </div>

          <!-- DIV 2 -->
          <div class="second_div">
            <strong>2. ¿Cómo practica su profesión? -  How do you operate?</strong>
            <br>
            <div id="options_container" class="second_div_container">
              <input type="radio" id="radio-1" name="legal_form" value="En_practica_privada/Privately" required>En practica privada / Privately
              <input type="radio" id="radio-1" name="legal_form" value="Como_empleado/As_employee" required>Como empleado / As employee
              <input type="radio" id="radio-1" name="legal_form" value="Ambas/Both" required>Ambas / Both
              <br>
              <br>
              &emsp;&emsp;NOTA: Si su forma legal de empresa es una corporación, obvie la pregunta 2. - If your legal form of organization is a corporation, please, disregard question number 2.
            </div>
          </div>

          <!-- DIV 3 -->
          <div class="third_div">
              <strong>3. Corporaciones Extranjeras Controladas (CEC)/Controlled Foreign Corporations:</strong>
              <input type="radio" id="radio-2" name="cfc" value="Si">Si
              <input type="radio" id="radio-2" name="cfc" value="No">No
          </div>

          <!-- DIV 4 -->
          <div class="fourth_div">
            <strong>4. Fecha Comienzo de Operaciones - Date Operations started:</strong>
            <select id="meses" name="start_month" placeholder="month" required>
                <option value="enero">enero</option>
                <option value="febrero">febrero</option>
                <option value="marzo">marzo</option>
                <option value="abril">abril</option>
                <option value="mayo">mayo</option>
                <option value="junio">junio</option>
                <option value="julio">julio</option>
                <option value="julio">julio</option>
                <option value="agosto">agosto</option>
                <option value="septiembre">septiembre</option>
                <option value="octubre">octubre</option>
                <option value="noviembre">noviembre</option>
                <option value="diciembre">diciembre</option>
                </select>
                <br>
                <br>
                &emsp;NOTA: Si es empleado exclusivamente, obvie las preguntas que siguen. - If as employee only, please disregard the questions that follows.
                </div>
          </div>

          <!-- DIV 5 -->
          <div class="eight_div">
            <strong>5. En el estado siguiente incluya los ingresos y gastos relacionados con la práctica de su profesión. (No incluya los ingresos o gastos recibidos o pagados 
              <br> &emsp;como empleado). - In the following statement include your private income and expenses only. (DO NOT include your income and expenses as employee).
             </strong>
          </div>
        </section>

        <section>
          <div class="section_divider">
            ESTADO DE INGRESO Y GASTOS - INCOME AND EXPENSES STATEMENT
          </div>
          <div class="custom-line"></div>
        </section>

        <section class="divider-container">
            <div class="section_divider_1" id="label">
              Partida - Item
            </div>
  
            <div class="section_divider_2" id="label">
              Año - Year
              <br>
              <input type="number" id="year" name="start_year" min="1000" max="9999" placeholder="year" required></input>
            </div>
  
            <div class="section_divider_3" id="label">
              Año - Year
              <br>
              <input type="number" id="year" name="end_year" min="1000" max="9999" placeholder="year" required></input>
          </section>

        <section class="second_section">
          <!-- SECTION A -->
          <div class="section">
            <h2>A. Ingresos - Income</h2></label>

            <div class="item">
                <label>1. Honorarios - Service fees</label>
                <input type="number" name="incomes_services_fee_1" placeholder="$" required>
                <input type="number" name="incomes_services_fee_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>2. Comisiones - Commissions</label>
                <input type="number" name="incomes_comissions_1" placeholder="$" required>
                <input type="number" name="incomes_comissions_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>3. Renta de terreno y edificio - Rent of land and building</label>
                <input type="number" name="incomes_rent_1" placeholder="$" required>
                <input type="number" name="incomes_rent_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>4. Intereses* - Interests*</label>
                <input type="number" name="incomes_interest_1" placeholder="$" required>
                <input type="number" name="incomes_interest_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>5. Ganancia o pérdida de capital - Capital gain or loss</label>
                <input type="number" name="incomes_capital_gain_loss_1" placeholder="$" required>
                <input type="number" name="incomes_capital_gain_loss_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>6. Otros ingresos de operación - Other operating income</label>
                <input type="number" name="incomes_other_operating_1" placeholder="$" required>
                <input type="number" name="incomes_other_operating_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>7. Total de ingresos  - Total income</label>
                <input type="number" name="incomes_total_1" placeholder="$" required>
                <input type="number" name="incomes_total_2" placeholder="$" required>
            </div>

          <!-- SECTION B -->
          <div class="section">
            <div id="title" class="item">
              <label><h2>B. Gastos - Expenses</h2></label>
              <input class="title-inputs" id="title-inputs" type="number" name="expenses_1" placeholder="$" required>
              <input id="title-inputs" type="number" name="expenses_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>1. Sueldos, jornales y bono de Navidad  - Salaries, wages and Christmas bonus</label>
                <input type="number" name="expenses_salaries_wages_bonus_1" placeholder="$" required>
                <input type="number" name="expenses_salaries_wages_bonus_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>2. Comisiones - Commissions</label>
                <input type="number" name="expenses_commissions_1" placeholder="$" required>
                <input type="number" name="expenses_commissions_2" placeholder="$" required>
            </div>

           
            <div class="item">
                <label>3. Intereses - Interests</label>
                <input type="number" name="expenses_interests_1" placeholder="$" required>
                <input type="number" name="expenses_interests_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>4. Renta de Terreno y Edificio - Rent of Land and Building</label>
                <input type="number" name="expenses_rent_1" placeholder="$" required>
                <input type="number" name="expenses_rent_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>5. Depreciación - Depreciation</label>
                <input type="number" name="expenses_depreciation_1" placeholder="$" required>
                <input type="number" name="expenses_depreciation_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>6. Donativos - Donations</label>
                <input type="number" name="expenses_donation_1" placeholder="$" required>
                <input type="number" name="expenses_donation_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>7. Impuesto sobre la ventas y usos - Sales and use tax</label>
                <input type="number" name="expenses_sales_tax_1" placeholder="$" required>
                <input type="number" name="expenses_sales_tax_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;a. Por Compra de maquinaria y equipo - On parchases of machinery and equipment</label>
                <input type="number" name="expenses_machinary_1" placeholder="$" required>
                <input type="number" name="expenses_machinary_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;b. Por otras  compras - On other purchases</label>
                <input type="number" name="expenses_other_purchases_1" placeholder="$" required>
                <input type="number" name="expenses_other_purchases_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>8. Licencias y patentes- Licenses and patents</label>
                <input type="number" name="expenses_licenses_1" placeholder="$" required>
                <input type="number" name="expenses_licenses_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>9. Otros gastos de operación - Other operating expenses</label>
                <input type="number" name="expenses_other_operation_1" placeholder="$" required>
                <input type="number" name="expenses_other_operation_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>10. Total de gastos - Total expenses</label>
                <input type="number" name="expenses_total_1" placeholder="$" required>
                <input type="number" name="expenses_total_2" placeholder="$" required>
            </div>

          <!-- SECTION C -->
          <div class="section">
            <div id="title" class="item">
              <label><h2>C. Ganancia o pérdida neta (+ ó -) - Net profit or loss (+ or -)</h2></label>
              <input class="title-inputs" id="title-inputs" type="number" name="net_profit_loss_1" placeholder="$" required>
              <input id="title-inputs" type="number" name="net_profit_loss_2" placeholder="$" required>
            </div>

          <!-- SECTION D -->
          <div class="section">
            <div id="title" class="item">
                <label><h2>D. Impuesto Sobre ventas y uso retenido - Sales and use tax withheld</h2></label>
                <input class="title-inputs" id="title-inputs" type="number" name="sales_tax_withheld_1" placeholder="$" required>
                <input id="title-inputs" type="number" name="sales_tax_withheld_2" placeholder="$" required>
            </div>
        </div>

        <div class="custom-line"></div>
        <!-- WIP -->
        <div class="second_div">
            <strong>NOTA IMPORTANTE - IMPORTANT NOTE </strong>
        </div>
    
        <div class="second_div">
            <strong>¿Qué por ciento de los ingresos provienen por servicios prestados a: - What percentage of your income comes from services
                rendered to:</strong>
            <br>
            <br>
            <div class="item">
                <label>&emsp;a. Empresas locales - Local enterprises</label>
                <input id="item_title_230" type="number" name="percent_local_enterprises" min="0" max="100" step="0.01" placeholder="%" required>
            </div>

            <div class="item">
                <label>&emsp;b. Empresas extranjeras - Foreign enterprises</label>
                <input id="item_title_230" type="number" name="percent_foreign_enterprises" min="0" max="100" step="0.01" placeholder="%" required>
            </div>
        </div>

        <div class="custom-line"></div>
        <div id="text_button">
        * Incluya Intereses Tributables y no tributables - Include taxable and non-taxable interests
        </div>

        <section>
          <div class="big-box-bottom">
            <div class="left-signature">
              <input id="signature" name="name" placeholder="Nombre" required></input> <!-- Signature Input -->
              <hr> <!-- Signature Line -->
              <p>
                Nombre de persona que suministra la información<br>
                Name of person furnishing information<br>
              </p>
            </div>

            <div class="right-signature">
              <input id="signature" name="rank" placeholder="Rango" required></input> <!-- Signature Input -->
              <hr> <!-- Signature Line -->
              <p>
                Rango o posición que ocupa en la empresa<br>
                Rank or position<br>
              </p>
            </div>
          </div>
        </section>

        <section class = 'submit-button-container'>
          <input type="submit" value="SUBMIT" class="submit-button"></input>
        </section>
      <form>
    </main>
  </body>
</html>