<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>IP-520-S EMPRESAS ASEGURADORAS Y ACTIVIDADES RELACIONADAS </title>

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/android-chrome-512x512.png' %}" />

    <link rel="stylesheet" href="{% static 'css/forms/ingreso_neto/IP-310b.css' %}" />
    <link rel="stylesheet" href="{% static 'css/website.css' %}" />
  </head>

  <body>
    <!-- Header -->
    <section class="header">
      <table>
        <tr>
          <td id="header_left">
            IP-520-S<br>
            Gobierno de Puerto Rico<br>
            OFICINA DEL GOBERNADOR<br>
            Junta de Planificación<br>
            Subprograma de Análisis Económico<br>
            PO BOX 41119<br>
            SAN JUAN PR  00940-1119<br>
          </td>
          <td id="header_center">
            <img src="{% static 'images/JP_poster.jpg' %}" alt="Logo Junta Planificación" id="header_image"/><br>
            EMPRESAS ASEGURADORAS Y ACTIVIDADES RELACIONADAS<br>
            INSURANCE CARRIERS AND RELATED ACTIVITIES<br>
          </td>
          <td id="header_right">
            Goverment of Puerto Rico<br>
            OFFICE OF THE GOVERNOR<br>
            Puerto Rico Planning Board<br>
            Subprogram of Economic Analysis<br>
            PO BOX 41119<br>
            SAN JUAN PR  00940-1119<br>
            Tel. (787) 722-1970<br>
            Fax. (787) 727-8046<br>
            <a href="mailto:santiago_m@jp.pr.gov" class="custom-link">santiago_m@jp.pr.gov</a><br>
          </td>
        </tr>
      </table>
    </section>
    
    <main>
      <form method="POST" action="{% url 'web_app:IP-520s' %}">
        {% csrf_token %}
        <section>
          <div class="body_header">
            <strong>Nombre compañía / Company Name:</strong>
            <input class="text-box space-between" name="company_name" placeholder="Company Name" required>
            <br>
            <strong>Dirección / Address:</strong>
            <input class="text-box space-between" name="address" placeholder="Address" required>
            <br>
            <strong>Correo electrónico / Email:</strong>
            <input type="email" class="text-box space-between" name="email" placeholder="sophie@example.com" required>
            <br>
            <strong>Persona contacto / Liaison officer:</strong>
            <input class="text-box space-between" name="liaison_officer" placeholder="Liaison Officer Name" required>
          </div>
        </section>

        <br>
        <div class="custom-line"></div>

        <section class="first_section">
          <!-- DIV 1 -->
          <div>
            <strong>1. Numero de Seguro Social / Social Security Number:</strong>
            <input class="text-box space-between" id="text-box-1" name="ssn" placeholder="ssn" required></input>
            
            <div class="first_div_container">
              <strong>Tel:</strong> 
              <input type="tel" class="text-box space-between" id="text-box-1-2" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="12" maxlength="12" name="tel" placeholder="123-456-7890" required>
              
              <strong>Fax:</strong> 
              <input type="tel" class="text-box space-between" id="text-box-1-2" minlength="12" maxlength="12" name="fax" placeholder="123-456-7890">
            </div>
          </div>

          <!-- DIV 2 -->
          <div class="second_div">
            <strong>2. Forma legal de organización: - Legal form of organization:</strong>
            <br>
            <div id="options_container" class="second_div_container">
              <input type="radio" id="radio-1" name="legal_form" value="Corporación/Corporation" required>Corporación / Corporation
              <input type="radio" id="radio-1" name="legal_form" value="Sociedad/Partnership" required>Sociedad / Partnership
              <input type="radio" id="radio-1" name="legal_form" value="Cooperativa/Cooperativa" required>Cooperativa / Cooperativa
              <br>
              <input type="radio" id="radio-1" name="legal_form" value="Empresa Individual/Individual enterprise" required>Empresa Individual / Individual enterprise
              <input type="radio" id="radio-1" name="legal_form" value="Empresa sin fines pecuniarios/Nonprofit organization" required>Empresa sin fines pecuniarios / Nonprofit organization
            </div>
          </div>

          <!-- DIV 3 -->
          <div class="third_div">
              <strong>3. Corporaciones Extranjeras Controladas (CEC)/Controlled Foreign Corporations:</strong>
              <input type="radio" id="radio-2" name="cfc" value="Si">Si
              <input type="radio" id="radio-2" name="cfc" value="No">No
          </div>

          <!-- DIV 4 -->
          <div class="fourth_div">
            <strong>4. Forma de venta de seguros: - Way of operating: </strong>
            <br>
            <div id="options_container" class="second_div_container">
              <input type="radio" id="radio-1" name="business_type" value="Corredor/Broker">Corredor - Broker
              <input type="radio" id="radio-1" name="business_type" value="Agentenogeneral/Non-generalagent">Agente no general - Non-general agent
              <br>
              <input type="radio" id="radio-1" name="business_type" value=" Agentegeneral/Generalagent">Agente general - General agent
              <input type="radio" id="radio-1" name="business_type" value="Compañíalocal/Localcompany">Compañía local - Local company
              <br>
              <br>
              &emsp;&emsp;Otro, especifique: - Other, specify:
              <input type="text" class="text-box space-between" name="other_business_type" id="text-box-4" placeholder="Enter your text here..."></input>
              <br>
            </div>
          </div>

          <!-- DIV 5 -->
          <div class="fifth_div">
              <strong>5. Tipo de riesgo: - Type of risk:</strong>
              <input type="radio" id="radio-2" name="risk_type" value="Vida/Life">Vida - Life
              <input type="radio" id="radio-2" name="risk_type" value="Otro/Other">Otro - Other
          </div>

          <!-- DIV 6 -->
          <div class="eight_div">
            <strong>6. ¿Opera sucursuales esta firma? - Do you have branch operations?</strong>
            <input type="radio" id="radio-3" name="branches" value="Si">Si
            <input type="radio" id="radio-3" name="branches" value="No">No
            <br>
            <br>
            &emsp;En caso afirmativo indique si:
            <br>
            <input type="radio" id="radio-1" name="branches_if_yes" value="todas las sucursales/all branches">La información suminstrada cubre todas las sucursales / The information provided includes all branches
            <br>
            <input type="radio" id="radio-1" name="branches_if_yes" value="este establecimiento/this branch only">La información suministrada cubre este establecimiento / The information provided includes this branch only
          </div>

          <!-- DIV 7 -->
          <div class="seven_div">
            <strong>7. Fecha de cierre de sus libros - Your accounting period closing date:</strong>
            <input type="month" id="date" name="closing_date" required/>
          </div>

        <section>
          <div class="section_divider">
            ESTADO DE INGRESO Y GASTOS - INCOME AND EXPENSES STATEMENT
          </div>
          <div class="custom-line"></div>
        </section>

        <section class="divider-container">
            <div class="section_divider_1" id="label">
              Partida - Item
            </div>
  
            <div class="section_divider_2" id="label">
              Año - Year
              <br>
              <input type="number" id="year" name="start_year" min="1000" max="9999" placeholder="year" required></input>
            </div>
  
            <div class="section_divider_3" id="label">
              Año - Year
              <br>
              <input type="number" id="year" name="end_year" min="1000" max="9999" placeholder="year" required></input>
          </section>

        <section class="second_section">
          <!-- SECTION A -->
          <div class="section">
            <h2>A. Ingresos - Income</h2></label>

            <div class="item">
                <label>1. Primas devengadas - Premiums earned</label>
                <input type="number" name="incomes_premium_earned_1" placeholder="$" required>
                <input type="number" name="incomes_premium_earned_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;a. Incapacidad - Disability</label>
                <input type="number" name="incomes_disability_1" placeholder="$" required>
                <input type="number" name="incomes_disability_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;b. Vida - Life</label>
                <input type="number" name="incomes_life_1" placeholder="$" required>
                <input type="number" name="incomes_life_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;c. Autos - Auto</label>
              <input type="number" name="incomes_auto_1" placeholder="$" required>
              <input type="number" name="incomes_auto_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;d. Otros - Other</label>
                <input type="number" name="incomes_other_1" placeholder="$" required>
                <input type="number" name="incomes_other_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>2. Dividendos - Dividends</label>
                <input type="number" name="incomes_dividend_1" placeholder="$" required>
                <input type="number" name="incomes_dividend_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>3. Renta de terreno y edificio - Rent of land and building</label>
                <input type="number" name="incomes_rent_1" placeholder="$" required>
                <input type="number" name="incomes_rent_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>4. Comisiones - Commissions</label>
                <input type="number" name="incomes_commissions_1" placeholder="$" required>
                <input type="number" name="incomes_commissions_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>5. Intereses* - Interests*</label>
                <input type="number" name="incomes_interests_1" placeholder="$" required>
                <input type="number" name="incomes_interests_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>6. Ganancia o pérdida de capital - Capital gain or loss</label>
                <input type="number" name="incomes_capital_gain_loss_1" placeholder="$" required>
                <input type="number" name="incomes_capital_gain_loss_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>7. Otros ingresos de operación - Other operating income</label>
                <input type="number" name="incomes_other_operation_1" placeholder="$" required>
                <input type="number" name="incomes_other_operation_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>8. Total de ingresos  - Total income</label>
                <input type="number" name="incomes_total_1" placeholder="$" required>
                <input type="number" name="incomes_total_2" placeholder="$" required>
            </div>

          <!-- SECTION B -->
          <div class="section">
            <div id="title" class="item">
              <label><h2>B. Gastos - Expenses</h2></label>
              <input class="title-inputs" id="title-inputs" type="number" name="expenses_1" placeholder="$" required>
              <input id="title-inputs" type="number" name="expenses_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>1. Primas devengadas - Premiums earned</label>
                <input type="number" name="expenses_premium_earned_1" placeholder="$" required>
                <input type="number" name="expenses_premium_earned_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;a. Incapacidad - Disability</label>
                <input type="number" name="expenses_disability_1" placeholder="$" required>
                <input type="number" name="expenses_disability_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;b. Vida - Life</label>
                <input type="number" name="expenses_life_1" placeholder="$" required>
                <input type="number" name="expenses_life_2" placeholder="$" required>
            </div>

            <div class="item">
              <label>&emsp;c. Autos - Auto</label>
              <input type="number" name="expenses_auto_1" placeholder="$" required>
              <input type="number" name="expenses_auto_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;d. Otros - Other</label>
                <input type="number" name="expenses_other_1" placeholder="$" required>
                <input type="number" name="expenses_other_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>2. Aumento de las reservas - Increase in reserves</label>
                <input type="number" name="expenses_increase_reserves_1" placeholder="$" required>
                <input type="number" name="expenses_increase_reserves_2" placeholder="$" required>
            </div>
           
            <div class="item">
                <label>3. Sueldos, jornales y bono de Navidad  - Salaries, wages and Christmas bonus</label>
                <input type="number" name="expenses_salaries_wages_bonus_1" placeholder="$" required>
                <input type="number" name="expenses_salaries_wages_bonus_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>4. Comisiones - Commissions</label>
                <input type="number" name="expenses_commissions_1" placeholder="$" required>
                <input type="number" name="expenses_commissions_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;a. A empleados - To employees</label>
                <input type="number" name="expenses_to_employees_1" placeholder="$" required>
                <input type="number" name="expenses_to_employees_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;b. A agentes independientes - To independent agents</label>
                <input type="number" name="expenses_independent_agents_1" placeholder="$" required>
                <input type="number" name="expenses_independent_agents_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>5. Interes - Interests</label>
                <input type="number" name="expenses_interest_1" placeholder="$" required>
                <input type="number" name="expenses_interest_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>6. Renta de terreno y edificio - Rent of land and building</label>
                <input type="number" name="expenses_rent_1" placeholder="$" required>
                <input type="number" name="expenses_rent_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>7. Depreciación - Depreciation</label>
                <input type="number" name="expenses_depreciation_1" placeholder="$" required>
                <input type="number" name="expenses_depreciation_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>8. Dividendos a tenedores de pólizas - Dividends to policy holders</label>
                <input type="number" name="expenses_dividend_policy_holder_1" placeholder="$" required>
                <input type="number" name="expenses_dividend_policy_holder_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>9. Donativos - Donations</label>
                <input type="number" name="expenses_donation_1" placeholder="$" required>
                <input type="number" name="expenses_donation_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>10. Impuesto sobre la ventas y usos - Sales and use tax</label>
                <input type="number" name="expenses_sales_tax_1" placeholder="$" required>
                <input type="number" name="expenses_sales_tax_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;a. Por Compra de maquinaria y equipo - On purchases of machinery and equipment</label>
                <input type="number" name="expenses_machinary_1" placeholder="$" required>
                <input type="number" name="expenses_machinary_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>&emsp;b. Por otras  compras - On other purchases</label>
                <input type="number" name="expenses_other_purchases_1" placeholder="$" required>
                <input type="number" name="expenses_other_purchases_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>11. Licencias y patentes- Licenses and Patents</label>
                <input type="number" name="expenses_licenses_1" placeholder="$" required>
                <input type="number" name="expenses_licenses_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>12. Otros gastos de operación - Other operating expenses</label>
                <input type="number" name="expenses_other_operating_1" placeholder="$" required>
                <input type="number" name="expenses_other_operating_2" placeholder="$" required>
            </div>

            <div class="item">
                <label>13. Total de gastos - Total expenses</label>
                <input type="number" name="expenses_total_1" placeholder="$" required>
                <input type="number" name="expenses_total_2" placeholder="$" required>
            </div>

          <!-- SECTION C -->
          <div class="section">
            <div id="title" class="item">
              <label><h2>C. Ganancia o pérdida neta (+ ó -) - Net profit <br> &emsp; or loss (+ or -)</h2></label>
              <input class="title-inputs" id="title-inputs" type="number" name="gross_profit_1" placeholder="$" required>
              <input id="title-inputs" type="number" name="gross_profit_2" placeholder="$" required>
            </div>

          <!-- SECTION D -->
          <div class="section">
            <div id="title" class="item">
                <label><h2>D. Impuesto Sobre ventas y uso retenido <br> &emsp;- Sales and use tax withheld</h2></label>
                <input class="title-inputs" id="title-inputs" type="number" name="sales_tax_withheld_1" placeholder="$" required>
                <input id="title-inputs" type="number" name="sales_tax_withheld_2" placeholder="$" required>
            </div>
          </div>

        <div class="custom-line"></div>
        <div id="text_button">
        * Incluya Intereses Tributables y no tributables - Include taxable and non-taxable interests
        </div>

        <section>
          <div class="big-box-bottom">
            <div class="left-signature">
              <input id="signature" name="name" placeholder="Nombre" required></input> <!-- Signature Input -->
              <hr> <!-- Signature Line -->
              <p>
                Nombre de persona que suministra la información<br>
                Name of person furnishing information<br>
              </p>
            </div>

            <div class="right-signature">
              <input id="signature" name="rank" placeholder="Rango" required></input> <!-- Signature Input -->
              <hr> <!-- Signature Line -->
              <p>
                Rango o posición que ocupa en la empresa<br>
                Rank or position<br>
              </p>
            </div>
          </div>
        </section>

        <section class = 'submit-button-container'>
          <input type="submit" value="SUBMIT" class="submit-button"></input>
        </section>
      <form>
    </main>
  </body>
</html>