<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>JP-547</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-512x512.png' %}" />

    <link rel="stylesheet" href="{% static 'forms/balanza_de_pagos/JP-547.css' %}" />
    <link rel="stylesheet" href="{% static 'website.css' %}" />
  </head>

  <body>
    <!-- Header -->
    <section class="header">
      <table>
        <tr>
          <td id="header_left">
            JP-547<br>
            Rev. Jul. 17<br>
            P.O. Box 41119<br>
            San Juan, Puerto Rico 00940<br>
          </td>
          <td id="header_center">
            Puerto Rico Planning Board<br>
            Program of Economic and Social Planning<br>
            Subprogram of Economics Analysis<br>
            <br>
            <h3>FEDERAL GOVERNMENT AGENCIES TRANSACTIONS IN PUERTO RICO</h3><br>
          </td>
          <td id="header_right">
            <img src="{% static 'JP_poster.jpg' %}" alt="Logo Junta Planificación" id="header_image"/><br>
          </td>
        </tr>
      </table>
    </section>
    
    <main>
      <form method="POST" action="{% url 'JP-547' %}">
        {% csrf_token %}
        <div id="input" class="big-box-bottom-left">
            From:&emsp;<input id="flex_inputs" class="text-box space-between" name="agency1" placeholder="Agency" required>
        </div>
        <div id="input" class="big-box-bottom-left">
            To:&emsp;<input id="flex_inputs" class="text-box space-between" name="agency2" placeholder="Agency" required><br>
        </div>

        <section class="divider-container">
            <ul><h3>APORTACIONES (DONATIVOS) FEDERALES RECIBIDOS:</h3>
            <strong>&emsp;A. APORTACIONES FEDERALES DIRECTAS</strong></ul>
            <table>
                <tr>
                    <th colspan="3"></th>
                    <th colspan="1">In Dollars</th>
                </tr>
                
                <!-- Line 1 -->
                <tr>
                    <tr>
                        <td colspan="3">&emsp;A. Disbursements in Puerto Rico</th>
                        <th colspan="1"></th>
                    </tr></tr>

                <!-- Line 2 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;1. Salaries and wages (gross of destructions, including COLA)</th>
                    <td><input type="number" name="dollars1" placeholder="$" required></td>
                </tr>

                <!-- Line 3 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;2. U.S. Government contributions to:</th>
                        <th></th>
                </tr>
                
                <!-- Line 4 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;&emsp;&emsp;a. Civil service retirement</th>
                    <td><input type="number" name="dollars2" placeholder="$" required></td>
                </tr>
                
                <!-- Line 5 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;&emsp;&emsp;b. Federal employee retirement system (FERS)</th>
                    <td><input type="number" name="dollars3" placeholder="$" required></td>
                </tr>

                <!-- Line 6 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;&emsp;&emsp;c. Thrift savings plan (TSP)</th>
                    <td><input type="number" name="dollars4" placeholder="$" required></td>
                </tr>

                <!-- Line 7 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;&emsp;&emsp;d. Social Security</th>
                    <td><input type="number" name="dollars5" placeholder="$" required></td>
                </tr>

                <!-- Line 8 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;&emsp;&emsp;e. Life Insurance and health benefits</th>
                    <td><input type="number" name="dollars6" placeholder="$" required></td>
                </tr>

                <!-- Line 9 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;&emsp;&emsp;f. Other (specify)</th>
                    <td><input type="number" name="dollars7" placeholder="$" ></td>
                </tr>

                <!-- Line 10 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;3. Construction contracts</th>
                    <td><input type="number" name="dollars8" placeholder="$" required></td>
                </tr>

                <!-- Line 11 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;4. Rent</th>
                    <td><input type="number" name="dollars9" placeholder="$" required></td>
                </tr>

                <!-- Line 12 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;5. Other purchases in Puerto Rico</th>
                    <td><input type="number" name="dollars10" placeholder="$" required></td>
                </tr>

                <!-- Line 13 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;6. Equipment, materials, and supplies received from other mainland Federal Government agencies</th>
                    <td><input type="number" name="dollars11" placeholder="$" required></td>
                </tr>

                <!-- Line 14 -->
                <tr>
                    <th colspan="3"><br></th>
                    <th><br></th>
                </tr>

                <!-- Line 15 -->
                <tr>
                    <td colspan="3">&emsp;B. Sales of Goods and Services in Puerto Rico:</th>
                    <th></th>
                </tr>

                <!-- Line 16 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;1. Rent</th>
                    <td><input type="number" name="dollars12" placeholder="$" required></td>
                </tr>

                <!-- Line 17 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;2. Other sales of goods and services</th>
                    <td><input type="number" name="dollars13" placeholder="$" required></td>
                </tr>

                <!-- Line 18 -->
                <tr>
                    <th colspan="3"><br></th>
                    <th><br></th>
                </tr>

                <!-- Line 19 -->
                <tr>
                    <td colspan="3">&emsp;C. Other Collections in Puerto Rico:</th>
                    <th></th>
                </tr>

                <!-- Line 20 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;1. Income Tax</th>
                    <td><input type="number" name="dollars14" placeholder="$" required></td>
                </tr>

                <!-- Line 21 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;2. Other taxes and licenses</th>
                    <td><input type="number" name="dollars15" placeholder="$" required></td>
                </tr>

                <!-- Line 22 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;3. Fines and penalties</th>
                    <td><input type="number" name="dollars16" placeholder="$" required></td>
                </tr>

                <!-- Line 23 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;4. Interest (do not include interest on loans) </th>
                    <td><input type="number" name="dollars17" placeholder="$" required></td>
                </tr>

                <!-- Line 24 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;5. Other (specify)</th>
                    <th></th>
                </tr>

                <!-- Line 25 -->
                <tr>
                    <td colspan="3"><input id="other_inputs_1" type="text" name="other1" placeholder="Other"></td>
                    <td><input type="number" name="dollars18" placeholder="$"></td>
                </tr>

                <!-- Line 26 -->
                <tr>
                    <td colspan="3"><input id="other_inputs_1" type="text" name="other2" placeholder="Other"></td>
                    <td><input type="number" name="dollars19" placeholder="$"></td>
                </tr>

                <!-- Line 27 -->
                <tr>
                    <td colspan="3"><input id="other_inputs_1" type="text" name="other3" placeholder="Other"></td>
                    <td><input type="number" name="dollars20" placeholder="$"></td>
                </tr>

                <!-- Line 28 -->
                <tr>
                    <th colspan="3"><br></th>
                    <th></th>
                </tr>

                <!-- Line 29 -->
                <tr>
                    <td colspan="3">&emsp;D. Employees' Deductions for:</td>
                    <th></th>
                </tr>

                <!-- Line 30 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;1. Civil service retirement</td>
                    <td><input type="number" name="dollars21" placeholder="$" required></td>
                </tr>

                <!-- Line 31 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;2. Fedral employee</td>
                    <td><input type="number" name="dollars22" placeholder="$" required></td>
                </tr>

                <!-- Line 32 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;3. Thrift savings plan (TSP)</td>
                    <td><input type="number" name="dollars23" placeholder="$" required></td>
                </tr>

                <!-- Line 33 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;4. Social Security</td>
                    <td><input type="number" name="dollars24" placeholder="$" required></td>
                </tr>

                <!-- Line 34 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;5. Life insurance and health benefits</td>
                    <td><input type="number" name="dollars25" placeholder="$" required></td>
                </tr>

                <!-- Line 35 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;6. Income Tax</td>
                    <td><input type="number" name="dollars26" placeholder="$"></td>
                </tr>

                <!-- Line 36 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;7. U.S. Government saving bonds</td>
                    <td><input type="number" name="dollars27" placeholder="$"></td>
                </tr>

                <!-- Line 37 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;8. Other (specify): <input id="other_inputs" type="text" name="other4" placeholder="Other"></td>
                    <td><input type="number" name="dollars28" placeholder="$"></td>
                </tr>

                <!-- Line 38 -->
                <tr>
                    <th colspan="3"><br></th>
                    <th><br></th>
                </tr>

                <!-- Line 39 -->
                <tr>
                    <td colspan="3">&emsp;E. Transfer Payments:</td>
                    <th></th>
                </tr>

                <!-- Line 40 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;1. Grants:</td>
                    <th></th>
                </tr>

                <!-- Line 41 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;&emsp;&emsp;a. Commonwealth Government</td>
                    <td><input type="number" name="dollars29" placeholder="$" required></td>
                </tr>

                <!-- Line 42 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;&emsp;&emsp;b. Municipal Governments</td>
                    <td><input type="number" name="dollars30" placeholder="$" required></td>
                </tr>

                <!-- Line 43 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;&emsp;&emsp;c. Individuals and private institutions</td>
                    <td><input type="number" name="dollars31" placeholder="$"></td>
                </tr>

                <!-- Line 44 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;2. Direct benefit payment:</td>
                    <th></th>
                </tr>

                <!-- Line 45 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;&emsp;&emsp;a. Death and disability</td>
                    <td><input type="number" name="dollars32" placeholder="$" required></td>
                </tr>

                <!-- Line 46 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;&emsp;&emsp;b. Other (specify):</td>
                    <th></th>
                </tr>

                <!-- Line 47 -->
                <tr>
                    <td colspan="3"><input id="other_inputs_2" type="text" name="other5" placeholder="Other"></td>
                    <td><input type="number" name="dollars33" placeholder="$"></td>
                </tr>

                <!-- Line 48 -->
                <tr>
                    <td colspan="3"><input id="other_inputs_2" type="text" name="other6" placeholder="Other"></td>
                    <td><input type="number" name="dollars34" placeholder="$"></td>
                </tr>

                <!-- Line 49 -->
                <tr>
                    <td colspan="3">&emsp;F. Financial Transactions in Puerto Rico (Lending Activities):</td>
                    <th></th>
                </tr>

                <!-- Line 50 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;1. Loans and advances</td>
                    <td><input type="number" name="dollars35" placeholder="$"></td>
                </tr>

                <!-- Line 51 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;2. Repayments of loans and advances</td>
                    <td><input type="number" name="dollars36" placeholder="$"></td>
                </tr>

                <!-- Line 52 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;3. Total amount of loans made in Puerto Rico and sold to individuals and /or financial institutions in Puerto Rico</td>
                    <td><input type="number" name="dollars37" placeholder="$"></td>
                </tr>

                <!-- Line 53 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;4. Loans cancelled by acquisition of collateral</td>
                    <td><input type="number" name="dollars38" placeholder="$"></td>
                </tr>

                <!-- Line 54 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;5. Other credits to principal of loans and advances</td>
                    <td><input type="number" name="dollars39" placeholder="$"></td>
                </tr>

                <!-- Line 55 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;6.  Amount of principal of loans and advances outstanding as of 
                        <input id="amount_input" type="text" name="blank" placeholder="Enter your text here..."></td>
                    <td><input type="number" name="dollars40" placeholder="$"></td>
                </tr>    

                <!-- Line 56 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;7. Interest collected on loans and advances</td>
                    <td><input type="number" name="dollars41" placeholder="$"></td>
                </tr>

                <!-- Line 57 -->
                <tr>
                    <td colspan="3">&emsp;&emsp;8.  Forgiveness credit to Puerto Rican residents</td>
                    <td><input type="number" name="dollars42" placeholder="$"></td>
                </tr>

            </table>
          <br>
          <br>

        </section>
        <br>
        <div id="input">
            Reporting Agency: &emsp;<input id="flex_inputs" class="text-box space-between" name="agency3" placeholder="Agency" required><br>
        </div>
        <br>
        Puerto Rico Planning Board<br>
        <br>
            
    </main>
    <br>
    
    <section class = 'submit-button-container'>
      <input type="submit" value="SUBMIT" class="submit-button"></input>
    </section>

  </body>
</html>
      