<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta sobre el Valor de la Inversión en Obras de Construcción</title>

    <link rel="stylesheet" href="{% static 'JP_541.css' %}" />
    <link rel="stylesheet" href="{% static 'website.css' %}" />
</head>

<!-- PAGE 1 -->
<body>
    <table>
        <tr>
            <td colspan="2" class="header"><strong>Encuesta sobre Actividad Industria de la Construcción</strong></td>
            <td rowspan="4" class="header"><img src="https://assets-global.website-files.com/60ddbc422188bb3fab87d219/60ddbc422188bbbe5a87d251_gobierno-de-puerto-rico.png" alt="Logo"></td>
            <td colspan="2" rowspan="4" class="header">
                <p>
                    <label>Encuesta :</label>
                    <input type="text" name="services_2012" placeholder="Año / Year">
                </p>
                <p>Hoja 1</p>
                <p>
                    <label>Año Fiscal :</label>
                    <input type="text" name="services_2012" placeholder="Año / Year">
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="header">
                <p><strong>GOBIERNO DE PUERTO RICO</strong><br>
                <strong>JUNTA DE PLANIFICACIÓN DE PUERTO RICO</strong><br>
                Subprograma de Análisis Económico<br>
                Unidad de Estadísticas Sobre Construcción<br>
                Apartado 41119, San Juan, Puerto Rico 00940-1119</p>
            </td>
        </tr>
        <tr>
            <td>
                <label>Nombre de la Empresa:</label>
                <input type="text" name="services_2012" placeholder="">
            </td>

            <td></td>
        </tr>
        <tr>
            <td>
            <label>Persona de Contacto:</label>
            <input type="text" name="services_2012" placeholder="">
            </td>
            
            <td>
            <label>Teléfono:</label>
            <input type="text" name="services_2012" placeholder="">
            </td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td>
                <label>Proyecto por:</label>
                <input type="text" name="services_2012" placeholder="">
                </td>
            <td>Contrato <input type="checkbox"> Administración <input type="checkbox"></td>
        </tr>
    </table>

    <table>
        <tr>
            <th colspan="9" class="sub-header">ENCUESTA SOBRE EL VALOR DE LA INVERSION EN OBRAS DE CONSTRUCCION<br>(En miles de dólares)</th>
        </tr>
        <tr>
            <th rowspan="2">Nombre del Proyecto</th>
            <th rowspan="2">Municipio</th>
            <th rowspan="2">Número total de proyectos</th>
            <th rowspan="2">Costo total estimado</th>
            <th colspan="2">Fecha</th>
            <th colspan="4">Valor de la inversión realizada o/a realizarse</th>
        </tr>
        <tr>
            <th>Comienzo</th>
            <th>Terminación</th>
            <th>julio a septiembre </th>
            <th>octubre a dic. </th>
            <th>enero a marzo </th>
            <th>abril a junio </th>
        </tr>
        
        <!-- Line 1 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>

        <!-- Line 2 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>

        <!-- Line 3 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>
        
        <!-- Line 4 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>
        
        <!-- Line 5 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>
    </table>
</body>

<!-- PAGE 2 -->
<div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<body>
    <table>
        <tr>
            <td colspan="2" class="header"><strong>Encuesta sobre Actividad Industria de la Construcción</strong></td>
            <td rowspan="4" class="header"><img src="https://assets-global.website-files.com/60ddbc422188bb3fab87d219/60ddbc422188bbbe5a87d251_gobierno-de-puerto-rico.png" alt="Logo"></td>
            <td colspan="2" rowspan="4" class="header">
                <p>
                    <label>Encuesta :</label>
                    <input type="text" name="services_2012" placeholder="Año / Year">
                </p>
                <p>Hoja 2</p>
                <p>
                    <label>Año Fiscal :</label>
                    <input type="text" name="services_2012" placeholder="Año / Year">
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="header">
                <p><strong>GOBIERNO DE PUERTO RICO</strong><br>
                <strong>JUNTA DE PLANIFICACIÓN DE PUERTO RICO</strong><br>
                Subprograma de Análisis Económico<br>
                Unidad de Estadísticas Sobre Construcción<br>
                Apartado 41119, San Juan, Puerto Rico 00940-1119</p>
            </td>
        </tr>
        <tr>
            <td>
                <label>Nombre de la Empresa:</label>
                <input type="text" name="services_2012" placeholder="">
            </td>

            <td></td>
        </tr>
        <tr>
            <td>
            <label>Persona de Contacto:</label>
            <input type="text" name="services_2012" placeholder="">
            </td>
            
            <td>
            <label>Teléfono:</label>
            <input type="text" name="services_2012" placeholder="">
            </td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td>
                <label>Proyecto por:</label>
                <input type="text" name="services_2012" placeholder="">
                </td>
            <td>Contrato <input type="checkbox"> Administración <input type="checkbox"></td>
        </tr>
    </table>

    <table>
        <tr>
            <th colspan="9" class="sub-header">ENCUESTA SOBRE EL VALOR DE LA INVERSION EN OBRAS DE CONSTRUCCION<br>(En miles de dólares)</th>
        </tr>
        <tr>
            <th rowspan="2">Nombre del Proyecto</th>
            <th rowspan="2">Municipio</th>
            <th rowspan="2">Número total de proyectos</th>
            <th rowspan="2">Costo total estimado</th>
            <th colspan="2">Fecha</th>
            <th colspan="4">Valor de la inversión realizada o/a realizarse</th>
        </tr>
        <tr>
            <th>Comienzo</th>
            <th>Terminación</th>
            <th>julio a septiembre </th>
            <th>octubre a dic. </th>
            <th>enero a marzo </th>
            <th>abril a junio </th>
        </tr>
        
        <!-- Line 1 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>

        <!-- Line 2 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>

        <!-- Line 3 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>
        
        <!-- Line 4 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>
        
        <!-- Line 5 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>
    </table>
</body>

<!-- PAGE 3 -->
<div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<body>
    <table>
        <tr>
            <td colspan="2" class="header"><strong>Encuesta sobre Actividad Industria de la Construcción</strong></td>
            <td rowspan="4" class="header"><img src="https://assets-global.website-files.com/60ddbc422188bb3fab87d219/60ddbc422188bbbe5a87d251_gobierno-de-puerto-rico.png" alt="Logo"></td>
            <td colspan="2" rowspan="4" class="header">
                <p>
                    <label>Encuesta :</label>
                    <input type="text" name="services_2012" placeholder="Año / Year">
                </p>
                <p>Hoja 3</p>
                <p>
                    <label>Año Fiscal :</label>
                    <input type="text" name="services_2012" placeholder="Año / Year">
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="header">
                <p><strong>GOBIERNO DE PUERTO RICO</strong><br>
                <strong>JUNTA DE PLANIFICACIÓN DE PUERTO RICO</strong><br>
                Subprograma de Análisis Económico<br>
                Unidad de Estadísticas Sobre Construcción<br>
                Apartado 41119, San Juan, Puerto Rico 00940-1119</p>
            </td>
        </tr>
        <tr>
            <td>
                <label>Nombre de la Empresa:</label>
                <input type="text" name="services_2012" placeholder="">
            </td>

            <td></td>
        </tr>
        <tr>
            <td>
            <label>Persona de Contacto:</label>
            <input type="text" name="services_2012" placeholder="">
            </td>
            
            <td>
            <label>Teléfono:</label>
            <input type="text" name="services_2012" placeholder="">
            </td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td>
                <label>Proyecto por:</label>
                <input type="text" name="services_2012" placeholder="">
                </td>
            <td>Contrato <input type="checkbox"> Administración <input type="checkbox"></td>
        </tr>
    </table>

    <table>
        <tr>
            <th colspan="9" class="sub-header">ENCUESTA SOBRE EL VALOR DE LA INVERSION EN OBRAS DE CONSTRUCCION<br>(En miles de dólares)</th>
        </tr>
        <tr>
            <th rowspan="2">Nombre del Proyecto</th>
            <th rowspan="2">Municipio</th>
            <th rowspan="2">Número total de proyectos</th>
            <th rowspan="2">Costo total estimado</th>
            <th colspan="2">Fecha</th>
            <th colspan="4">Valor de la inversión realizada o/a realizarse</th>
        </tr>
        <tr>
            <th>Comienzo</th>
            <th>Terminación</th>
            <th>julio a septiembre </th>
            <th>octubre a dic. </th>
            <th>enero a marzo </th>
            <th>abril a junio </th>
        </tr>
        
        <!-- Line 1 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>

        <!-- Line 2 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>

        <!-- Line 3 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>
        
        <!-- Line 4 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>
        
        <!-- Line 5 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>
    </table>
</body>


<!-- PAGE 4 -->
<div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<body>
    <table>
        <tr>
            <td colspan="2" class="header"><strong>Encuesta sobre Actividad Industria de la Construcción</strong></td>
            <td rowspan="4" class="header"><img src="https://assets-global.website-files.com/60ddbc422188bb3fab87d219/60ddbc422188bbbe5a87d251_gobierno-de-puerto-rico.png" alt="Logo"></td>
            <td colspan="2" rowspan="4" class="header">
                <p>
                    <label>Encuesta :</label>
                    <input type="text" name="services_2012" placeholder="Año / Year">
                </p>
                <p>Hoja 4</p>
                <p>
                    <label>Año Fiscal :</label>
                    <input type="text" name="services_2012" placeholder="Año / Year">
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="header">
                <p><strong>GOBIERNO DE PUERTO RICO</strong><br>
                <strong>JUNTA DE PLANIFICACIÓN DE PUERTO RICO</strong><br>
                Subprograma de Análisis Económico<br>
                Unidad de Estadísticas Sobre Construcción<br>
                Apartado 41119, San Juan, Puerto Rico 00940-1119</p>
            </td>
        </tr>
        <tr>
            <td>
                <label>Nombre de la Empresa:</label>
                <input type="text" name="services_2012" placeholder="">
            </td>

            <td></td>
        </tr>
        <tr>
            <td>
            <label>Persona de Contacto:</label>
            <input type="text" name="services_2012" placeholder="">
            </td>
            
            <td>
            <label>Teléfono:</label>
            <input type="text" name="services_2012" placeholder="">
            </td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td>
                <label>Proyecto por:</label>
                <input type="text" name="services_2012" placeholder="">
                </td>
            <td>Contrato <input type="checkbox"> Administración <input type="checkbox"></td>
        </tr>
    </table>

    <table>
        <tr>
            <th colspan="9" class="sub-header">ENCUESTA SOBRE EL VALOR DE LA INVERSION EN OBRAS DE CONSTRUCCION<br>(En miles de dólares)</th>
        </tr>
        <tr>
            <th rowspan="2">Nombre del Proyecto</th>
            <th rowspan="2">Municipio</th>
            <th rowspan="2">Número total de proyectos</th>
            <th rowspan="2">Costo total estimado</th>
            <th colspan="2">Fecha</th>
            <th colspan="4">Valor de la inversión realizada o/a realizarse</th>
        </tr>
        <tr>
            <th>Comienzo</th>
            <th>Terminación</th>
            <th>julio a septiembre </th>
            <th>octubre a dic. </th>
            <th>enero a marzo </th>
            <th>abril a junio </th>
        </tr>
        
        <!-- Line 1 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>

        <!-- Line 2 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>

        <!-- Line 3 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>
        
        <!-- Line 4 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>
        
        <!-- Line 5 -->
        <tr>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
            <td><input type="text" name="services_2012" placeholder=""></td>
        </tr>
    </table>
</body>
</html>
