<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRANSACCIONES CON EL EXTERIOR PARA LA BALANZA DE PAGOS DE PUERTO RICO</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-512x512.png' %}" />

    <link rel="stylesheet" href="{% static 'JP-304.css' %}" />
    <link rel="stylesheet" href="{% static 'website.css' %}" />
  </head>

  <body>
    <header class="big-box">
      <section>
        <div class="webleft-container">
          <p id="letter-header">
            JP-362 <br> Rev. 7/17<br>
          </p>
        </div>
      </section>

      <section>
        <div class="webmiddle-container">
            <p id="middle-header">
              <strong>Junta de Planificación de Puerto Rico<br>
              Programa de Planificación Económica y Social
              Subprograma de Análisis Económico<br>
              <strong>TRANSACCIONES CON EL EXTERIOR PARA LA BALANZA DE PAGOS DE PUERTO RICO</strong><br>
                1/julio/ al 30/julio/<br>
              (EN MILES DE DOLARES)
              <br><br></strong></p>
        </div>
      </section>

      <section>
        <div class="webright-container">
          <p id="letter-header">
            <img src="{% static 'JP_poster.jpg' %}" alt="Logo Junta Planificación" id="posterJp"/><br>
            </p>
        </div>
        </section>
    </header>
    
    <section>
        <p><strong><h1>Nombre de la Empresa Pública:</h1></strong></p>
    </section>
</html>

      