<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Transactions in Puerto Rico of External Insurance Companies</title>
        
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-16x16.png' %}" />
        <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-32x32.png' %}" />
        <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}" />
        <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-512x512.png' %}" />

        <link rel="stylesheet" href="{% static 'JP_363.css' %}" />
        <link rel="stylesheet" href="{% static 'website.css' %}" />

    </head>

    <!-- indent &emsp; -->
    <body><!-- Header -->
        <section class="header">
          <table>
            <tr>
              <td id="header_left">
                JP-363
              </td>
              <td id="header_center">
                Puerto Rico Planning Board<br>
                Program of Economic and Social Planning<br>
                Subprogram of Economic Analysis<br>
                Roberto Sánchez Vilella Government Center<br>
                P.O. Box 41119 San Juan, Puerto Rico 00940<br>
              </td>
              <td id="header_right">
                <img src="{% static 'JP_poster.jpg' %}" alt="Logo Junta Planificación" id="header_image"/><br>
              </td>
            </tr>
          </table>
        </section>
        <main>
        </main>
    </body>
</html>