<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta sobre el Valor de la Inversión en Obras de Construcción</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-512x512.png' %}" />

    <link rel="stylesheet" href="{% static 'JP_541.css' %}" />
    <link rel="stylesheet" href="{% static 'website.css' %}" />
</head>


<body>
    <main>
        <header class="big-box">
            <section>
            <div class="webleft-container">
                <p>
                JP-304 Rev. (julio 2017)<br>
                Junta de Planificación<br>
                Subprograma de Análisis Económico<br>
                </p>
            </div>
            </section>
    
            <section>
            <div class="webmiddle-container">
                <p>
                RELACIÓN DE APORTACIONES FEDERALES APROBADAS, RECIBIDAS Y GASTADAS<br>
                Orden Ejecutiva 12372<br><br>
                Trimestre de 
                <select id="meses">
                    <option value="mes" class="active">mes</option>
                    <option value="enero">enero</option>
                    <option value="febrero">febrero</option>
                    <option value="marzo">marzo</option>
                    <option value="abril">abril</option>
                    <option value="mayo">mayo</option>
                    <option value="junio">junio</option>
                    <option value="julio">julio</option>
                    <option value="julio">julio</option>
                    <option value="agosto">agosto</option>
                    <option value="septiembre">septiembre</option>
                    <option value="octubre">octubre</option>
                    <option value="noviembre">noviembre</option>
                    <option value="diciembre">diciembre</option>
                    </select> a 
                <select id="meses">
                    <option value="mes" class="active">mes</option>
                    <option value="enero">enero</option>
                    <option value="febrero">febrero</option>
                    <option value="marzo">marzo</option>
                    <option value="abril">abril</option>
                    <option value="mayo">mayo</option>
                    <option value="junio">junio</option>
                    <option value="julio">julio</option>
                    <option value="julio">julio</option>
                    <option value="agosto">agosto</option>
                    <option value="septiembre">septiembre</option>
                    <option value="octubre">octubre</option>
                    <option value="noviembre">noviembre</option>
                    <option value="diciembre">diciembre</option>
                    </select> de 
                    <input type="text" id="año" name="año" maxlength="4" placeholder="año / year">
                </p>
            </div>
            </section>
    
            <section>
            <div class="webright-container">
                <p>
                FOTOOOOOOOOO <br>
                Centro Gubernamental Roberto Sánchez Vilella<br>
                Apartado 41119<br>
                San Juan, Puerto Rico 00940-1119
                </p>
            </div>
            </section>
        </header>

            <section>
                <p>
                    Nombre de la Agencia, Corporación o Municipio: <input type="text" id="nombre" name"nombre" placeholder="Nombre de la Agencia, Corporación o Municipio"> Dirección: <input type="text" id="direccion" name="dirección" placeholder="Dirección"><br>
                    Persona de Contacto: <input type="text" id="contacto" name"contacto" placeholder="Persona de Contacto"> Título: <input type="text" id="titulo" name"titulo" placeholder="Título"> Teléfono: <input type="text" id="telefono" name"telefono" placeholder="Teléfono"><br><br>
                    I. APORTACIONES FEDERALES DIRECTAS (de la agencia federal a la dependencia estatal): En miles de dólares ($000)
                </p>
            </section>

        <table>
            <tr>
                <th>1</input></th>
                <th>2</input></th>
                <th>3</input></th>
                <th>4</input></th>
                <th>5</input></th>
                <th>6</input></th>
                <th>7</input></th>
                <th>8</input></th>
                <th>9</input></th>
                <th>10</input></th>
            </tr>
            <tr>
                <td>
                    <p>
                        Nombre de la<br>
                        Agencia Federal
                    </p>
                </td>
                <td>
                    <p>
                        Número de<br>
                        Catálogo y Título del<br>
                        Programa Federal
                    </p>
                </td>
                <td>
                    <p>
                        "SAI<br>
                        Number" (1)
                    </p>
                </td>
                <td>
                    <p>
                        Título del Programa<br>
                        Local (2)
                    </p>
                </td>
                <td>
                    <p>
                        Aportación<br>
                        Federal<br>
                        Aprobada (3)<br>
                    </p>
                </td>
                <td>
                    <p>
                        Fecha de<br>
                        Aptobación
                    </p>
                </td>
                <td>
                    <p>
                        Aportación<br>
                        Federal<br>
                        Recibida
                    </p>
                </td>
                <td>
                    <p>
                        Fecha de<br>
                        Recibo
                    </p>
                </td>
                <td>
                    <p>
                        Aportación<br>
                        Federal<br>
                        Gastada
                    </p>
                </td>
                <td>
                    <p>
                        Fecha del<br>
                        Gasto
                    </p>
            </tr>
            <tr>
                <td> <textarea type="text" id="agencia_federal_table_box" name="nombre_agencia_federal" placeholder=""> </textarea></td>
                <td> <textarea type="text" id="catalogo_federal_table_box" name="catalogo_federal" placeholder=""> </textarea></td>
                <td> <textarea type="text" id="sai_federal_table_box" name="sai_federal" placeholder=""> </textarea></td>
                <td> <textarea type="text" id="titulo_federal_table_box" name="titulo_federal" placeholder=""> </textarea></td>
                <td> <textarea type="text" id="aportacion_aprobada_federal_table_box" name="aportacion_aprobada_federal" placeholder=""> </textarea></td>
                <td> <textarea type="text" id="fecha_aprobacion_federal_table_box" name="fecha_aprobacion_federal" placeholder=""> </textarea></td>
                <td> <textarea type="text" id="aportacion_recibida_federal_table_box" name="aportacion_recibida_federal" placeholder=""> </textarea></td>
                <td> <textarea type="text" id="fecha_recibo_federal_table_box" name="fecha_recibo_federal" placeholder=""> </textarea></td>
                <td> <textarea type="text" id="aportacion_gastada_federal_table_box" name="aportacion_gastada_federal" placeholder=""> </textarea></td>
                <td> <textarea type="text" id="fecha_gasto_federal_table_box" name="fecha_gasto_federal" placeholder=""> </textarea></td>

            </tr>
            
        </table>
        <p> 1- Número de Identificación de la propuesta para fondos federales, procesados a través de la Oficina de Propuestas Federales, Junta de Planificación.<br>
            2- Indique cuando éste es diferente al programa federal o es un proyecto dentro del programa. Además, describa si el uso es construcción. Por ejemplo, pavimentación Carr. #136...<br>
            etc.; o Edificio Vicks, cost $000, etc.<br>
            3- Cuando los fondos son aprobados una vez al año, indique la cantidad total aprobada para el año con su fecha correspondiente.<br>
            4- Favor ver instrucciones en hoja aparte.
        </p>

        <br><br><br><br>

        <!-- --------------------------------- Second Table --------------------------------- -->
        <section>
            <p>
                II. APORTACIONES FEDERALES A TRAVÉS DE AGENCIAS LOCALES (aquellas aportaciones que contabiliza el departamento de Hacienda y/o que procedan de otras agencias estatales): En miles de dólares ($000)
            </p>
        </section>

        <table>
            <tr>
                <th>1</input></th>
                <th>2</input></th>
                <th>3</input></th>
                <th>4</input></th>
                <th>5</input></th>
                <th>6</input></th>
                <th>7</input></th>
                <th>8</input></th>
                <th>9</input></th>
                <th>10</input></th>
            </tr>
            <tr>
                <td>
                    <p>
                        Agencia Local que<br>
                        Hace la Distribución
                    </p>
                </td>
                <td>
                    <p>
                        Número de<br>
                        Catálogo y Título del<br>
                        Programa Federal
                    </p>
                </td>
                <td>
                    <p>
                        Programa<br>
                        Local*
                    </p>
                </td>
                <td>
                    <p>
                        Aportación<br>
                        Federal<br>
                        Aprobada
                    </p>
                </td>
                <td>
                    <p>
                        Fecha de<br>
                        Aprobación<br>
                    </p>
                </td>
                <td>
                    <p>
                        Aportación<br>
                        Federal<br>
                        Recibida
                    </p>
                </td>
                <td>
                    <p>
                        Fecha de<br>
                        Recibo
                    </p>
                </td>
                <td>
                    <p>
                        Aportación<br>
                        Federal<br>
                        Gastada
                    </p>
                </td>
                <td>
                    <p>
                        Fecha de<br>
                        Gasto
                    </p>
                </td>
                <td>
                    <p>
                        Número de Cuenta del<br>
                        Departamanto de Hacienda
                    </p>
            </tr>
            <tr>
                <td> <textarea type="text" id="agencia_local_table_box" name="agencia_local_table_box" placeholder=""> </textarea></td>
                <td> <textarea type="text" id="catalogo_local_table_box" name="catalogo_local" placeholder=""></textarea></td>
                <td> <textarea type="text" id="programa_local_table_box" name="programa_local" placeholder=""></textarea></td>
                <td> <textarea type="text" id="aportacion_federal_aprobada_local_table_box" name="aportacion_federal_aprobada_local" placeholder=""></textarea></td>
                <td> <textarea type="text" id="fecha_aprobacion_local_table_box" name="fecha_aprobacion_local" placeholder=""></textarea></td>
                <td> <textarea type="text" id="aportacion_federal_recibida_local_table_box" name="aportacion_federal_recibida_local" placeholder=""></textarea></td>
                <td> <textarea type="text" id="fecha_recibo_local_table_box" name="fecha_recibo_local" placeholder=""></textarea></td>
                <td> <textarea type="text" id="aportacion_federal_gastada_local_table_box" name="aportacion_federal_gastada_local" placeholder=""></textarea></td>
                <td> <textarea type="text" id="fecha_gasto_local_table_box" name="fecha_gasto_local" placeholder=""></textarea></td>
                <td> <textarea type="text" id="numero_cuenta_local_table_box" name="numero_cuenta_local" placeholder=""></textarea></td>

            </tr>
            
        </table>
        <p> 1- Número de Identificación de la propuesta para fondos federales, procesados a través de la Oficina de Propuestas Federales, Junta de Planificación.<br>
            2- Indique cuando éste es diferente al programa federal o es un proyecto dentro del programa. Además, describa si el uso es construcción. Por ejemplo, pavimentación Carr. #136...<br>
            etc.; o Edificio Vicks, cost $000, etc.<br>
            3- Cuando los fondos son aprobados una vez al año, indique la cantidad total aprobada para el año con su fecha correspondiente.<br>
            4- Favor ver instrucciones en hoja aparte.
        </p>
    </main>

</body>
</html>