<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions in Puerto Rico of External Insurance Companies</title>
    
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-512x512.png' %}" />

    <link rel="stylesheet" href="{% static 'JP_361.css' %}" />
    <link rel="stylesheet" href="{% static 'website.css' %}" />

</head>

<!-- indent &emsp; -->

<body>

<table>
    <tr>
        <td rowspan="4" class="header"><img src="https://assets-global.website-files.com/60ddbc422188bb3fab87d219/60ddbc422188bbbe5a87d251_gobierno-de-puerto-rico.png" alt="Logo"></td>
        <td colspan="2" class="header"><strong>Puerto Rico Planning Board</strong></td>
    </tr>
    <tr>
        <td colspan="2" class="header">Program of Economic and Social Analysis</td>
    </tr>
    <tr>
        <td colspan="2" class="header">Robert Sánchez Vilella Government Center<br>P.O. Box 41119<br>San Juan, Puerto Rico 00940</td>
    </tr>
    <tr>
        <td colspan="2" class="header">Subprogram of Economic Analysis</td>
    </tr>
</table>

<h2 class="header">TRANSACTIONS IN PUERTO RICO OF EXTERNAL INSURANCE COMPANIES<br>From July 1st thru June 30</h2>
<p class="header">Please, see reverse side of this questionnaire.</p>

<table>
    <tr>
        <th colspan="2">Part I  : Income and Expenses</th>
        <th class="td-short"><input class="input-short" type="text" name="" placeholder="Año-Año"></th>
        <th class="td-short"><input class="input-short" type="text" name="" placeholder="Año-Año"></th>
        
    </tr>
    
    <tr>
        <td colspan="2"><strong>A. Income</strong></td>
        <td></td>
        <td></td>
    </tr>
    
    <tr>
        <td colspan="2">&emsp;1.Premiums earned</td>
        <td>$</td>
        <td>$</td>
    </tr>

    <tr>
        <td colspan="2">&emsp;&emsp;&emsp;a) Life</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>

    <tr>
        <td colspan="2">&emsp;&emsp;&emsp;b) Disability</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>

    <tr>
        <td colspan="2">&emsp;&emsp;&emsp;c) Auto</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>

    <tr>
        <td colspan="2">&emsp;&emsp;&emsp;d) Other</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    
    <tr>
        <td colspan="2">&emsp;2. Interest</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>

    <tr>
        <td colspan="2">&emsp;3. Rent of land and building</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>

    <tr>
        <td colspan="2">&emsp;4. Other</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    
    <tr>
        <td colspan="2"><strong>Total income</strong></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    
    <tr>
        <td colspan="2"><strong>B. Expenses</strong></td>
        <td></td>
        <td></td>
    </tr>
    
    <tr>
        <td colspan="2">&emsp;1. Benefits paid</td>
        <td>$</td>
        <td>$</td>
    </tr>
    <tr>
        <td colspan="2">&emsp;&emsp;&emsp;a) Life</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2">&emsp;&emsp;&emsp;b) Disability</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2">&emsp;&emsp;&emsp;c) Auto</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2">&emsp;&emsp;&emsp;d) Other</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2">&emsp;2. Salaries</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2">&emsp;3. Interest</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2">&emsp;4. Rent of land and building</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2">&emsp;5. Depreciation</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2">&emsp;6. Donations</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2">&emsp;7. Commissions</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2">&emsp;&emsp;&emsp;a) To employees</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2">&emsp;&emsp;&emsp;b) To local brokers</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2">&emsp;8. Other operational expenses</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2"><strong>Total expenses</strong></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="2"><strong>Net profit or loss</strong></td>
        <td>$ <input class="input-short" type="text" name="" placeholder=""></td>
        <td>$ <input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
</table>



<table>
    <tr>
        <th colspan="4">PART II :</th>
        <th colspan="2">Outstanding Balance</th>
        <th colspan="2">Interest Received</th>
    </tr>
    <tr>
        <th colspan="4">OTHER ITEMS</th>
        <th>As of 6/30/ <input class="input-short" type="text" name="" placeholder="Año-Year"></th>
        <th>Estimated as of 6/30/ <input class="input-short" type="text" name="" placeholder="Año-Year"></th>
        <th></th>
        <th>Estimated</th>
    </tr>
    <tr>
        <td colspan="4">A. Residential Mortgages serviced directly by your firm:</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
        
    </tr>
    <tr>
        <td colspan="4">&emsp;1. F.H.A. guaranteed</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="4">&emsp;2. Veterans Administration</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="4">&emsp;3. Conventional</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="4">&emsp;4. Other</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="4">B. Short-term assets:</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
    </tr>
    <tr>
        <td colspan="4">&emsp;1. Policy loans</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>
    <tr>
        <td colspan="4">&emsp;2. Other (Specify)</td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
        <td><input class="input-short" type="text" name="" placeholder=""></td>
    </tr>

    <tr>
        <td colspan="4"><strong>C. Other:<strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="4">&emsp;1. Policy reserves of Puerto Rican residents</td>
        <td>$ <input class="input-short" type="text" name="" placeholder=""></td>
        <td>$ <input class="input-short" type="text" name="" placeholder=""></td>
        <td>XXXXXXXXXXXXXX</td>
        <td>XXXXXXXXXXXXXX</td>
    </tr>
    <tr>
        <td colspan="4">&emsp;2. Accrued dividends on life insurance policies held by Puerto Rican residents</td>
        <td>$ <input class="input-short" type="text" name="" placeholder=""></td>
        <td>$ <input class="input-short" type="text" name="" placeholder=""></td>
        <td>XXXXXXXXXXXXXX</td>
        <td>XXXXXXXXXXXXXX</td>
    </tr>
</table>

<section>
    <div class="big-box-bottom">
        <div class="left-signature">
            <input id="signature" name="signature" placeholder="Name" required></input> <!-- Signature Input -->
            <hr> <!-- Signature Line -->
            <p>
                Name of person filling the questionnaire<br>
            </p>
        </div>

        <div class="middle-signature">
            <input id="signature" name="rank" placeholder="Date" required></input> <!-- Signature Input -->
            <hr> <!-- Signature Line -->
            <p>
                Date<br>
            </p>
        </div>

        <div class="right-signature">
            <input id="signature" name="rank" placeholder="Position & Telephone Number" required></input> <!-- Signature Input -->
            <hr> <!-- Signature Line -->
            <p>
            Position & Telephone Number<br>
            </p>
        </div>
    </div>
  </section>

</body>
</html>
