<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="apple-touch-icon" href="{% static 'images/favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'images/favicon-32x32.png' %}" />
    <link
      rel="apple-touch-icon"
      href="{% static 'images/android-chrome-192x192.png' %}"
    />
    <link
      rel="apple-touch-icon"
      href="{% static 'images/android-chrome-512x512.png' %}"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/page_not_found.css' %}" />
  </head>

  <body>
    <main>
      <div class="container">
        <h1>404 - Página no encontrada</h1>
      
        <p>
          La página que buscas no existe o ha sido movida. Por favor, verifica
          la URL e intenta nuevamente.
        </p>
      </div>
    </main>
  </body>
</html>
