<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Ciclos Económicos</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'ciclos_economicos.css' %}"
    />
  </head>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const dropdowns = document.querySelectorAll(".dropdown");
      dropdowns.forEach((dropdown) => {
        const select = dropdown.querySelector(".select");
        const caret = dropdown.querySelector(".caret");
        const menu = dropdown.querySelector(".menu");
        const options = dropdown.querySelectorAll(".menu li");
        const selected = dropdown.querySelector(".selected");

        select.addEventListener("click", () => {
          menu.classList.toggle("menu-open");
          caret.classList.toggle("caret-rotate");
        });

        options.forEach((option) => {
          option.addEventListener("click", () => {
            selected.innerText = option.innerText;
            menu.classList.remove("menu-open");
            caret.classList.remove("caret-rotate");
            options.forEach((option) => {
              option.classList.remove("active");
            });
            option.classList.add("active");
          });
        });
      });

      document.addEventListener("click", function (event) {
        const dropdowns = document.querySelectorAll(".dropdown");
        dropdowns.forEach((dropdown) => {
          if (!dropdown.contains(event.target)) {
            const menu = dropdown.querySelector(".menu");
            const caret = dropdown.querySelector(".caret");
            menu.classList.remove("menu-open");
            caret.classList.remove("caret-rotate");
          }
        });
      });
    });
  </script>

  <body>
    <!-- HEADER -->
    <header>
      <img
        src="{% static 'header_banner.png' %}"
        alt="banner"
        id="header-image"
      />
    </header>

    <!-- MAIN CONTENT -->
    <main>
      <!-- TITLE -->
      <section>
        <h1>Ciclos Económicos</h1>
      </section>

      <!-- INTRODUCTION -->
      <section>
        <p>
          Se provee una herramienta de trabajo que asiste la observación de los
          ciclos económicos y en particular el comportamiento de variables como:
          índice coincidente, índice de actividad económica, empleo total,
          índice de precios, generación de energía eléctrica, consumo de
          gasolina, exportaciones, importaciones, índice coincidente de
          manufactura, empleo en manufactura, nómina en manufactura, horas
          trabajadas en manufactura, empleo en construcción, producción de
          cemento, ventas de cemento, ventas de materiales de construcción,
          valor de permisos de construcción, índice coincidente de turismo,
          empleo en turismo, registro de hoteles y paradores. Esta herramienta
          permite la ilustración gráfica de las series de tiempo para predecir
          el comportamiento de la economía a corto plazo. Las series de tiempo
          pueden incluir componentes cíclicos, estacionales, aleatorios y de
          tendencia. Los economistas prestan particular atención al componente
          cíclico de las series de tiempo para predecir el comportamiento de la
          economía a corto plazo. Las cuatro fases de los ciclos económicos son:
          (1) la desaceleración (verde), (2) la recesión (violeta), (3) la
          recuperación (amarillo) y (4) la expansión (anaranjado).
        </p>
      </section>

      <!-- SUBBODY 1 -->
      <section>
        <h2>Fases de los Ciclos Económicos</h2>

        <p>
          Los ciclos económicos tienen cuatro fases: (1) la desaceleración
          (verde), (2) la recesión (violeta), (3) la recuperación (amarillo) y
          (4) la expansión (anaranjado).
        </p>

        <img
          src="{% static 'ciclos_fases.jpg' %}"
          alt="ciclos económicos"
          id="body-image"
        />
      </section>

      <!-- SUBBODY 2 -->
      <section>
        <h2>Instrucciones</h2>
        <p>
          1. Para seleccionar la variable que interesa representar gráficamente
          debe cursar encima del nombre de la variable continuo al eje vertical
          (horizontal).
        </p>
        <p>
          2. Si desea comparar el dato de la variable presentada con el dato de
          las otras variables disponibles debe cursar encima del par ordenado
          (el punto en la gráfica).
        </p>
        <p>
          3. También, puede elegir el mes para el cual usted interesa la
          representación gráfica seleccionando el botón “Todos los meses”,
          ubicado debajo del eje horizontal.<strong> Nota:</strong> La serie que
          aparece en la gráfica no es la variable original, es una serie
          calculada. Esta serie es la diferencia entre la variable original y la
          tendencia. Por lo que si la serie original asume valores menores que
          la tendencia entonces la serie calculada (lo que aparece en la
          gráfica) tiene que asumir valores negativos.
        </p>
      </section>

      <section class="dropdown">
        <section
          class="select"
          onclick="this.nextElementSibling.classList.toggle('open')"
        >
          <span class="selected">Índice coincidente (JP)</span>
          <div class="caret"></div>
        </section>
        <ul class="menu">
          <li class = "active">Índice coincidente (JP)</li>
          <li>Índice de actividad económica (BGF)</li>
          <li>Índice de actividad económica (EU)</li>
          <li>Empleo total EE (DT)</li>
          <li>Índice de precios (DT)</li>
          <li>Generación de energía eléctrica (AEE)</li>
          <li>Consumo de gasolina (DACO)</li>
          <li>Ventas al detalle (CCE)</li>
          <li>Exportaciones (JP)</li>
          <li>Importaciones (JP)</li>
          <li>Índice coincidente de manufactura (JP)</li>
          <li>Empleo en manufactura (DT)</li>
          <li>Nómina en manufactura (DT)</li>
          <li>Horas trabajadas en manufactura (DT)</li>
          <li>Índice coincidente de construcción (JP)</li>
          <li>Empleo en construcción (DT)</li>
          <li>Producción de cemento (BGF)</li>
          <li>Ventas de cemento (BGF)</li>
          <li>Ventas de materiales de construcción (CCE)</li>
          <li>Valor de permisos de construcción (JP)</li>
          <li>Índice coincidente de turismo (JP)</li>
          <li>Empleo en turismo (DT)</li>
          <li>Registro de hoteles (CT)</li>
          <li>Registro de paradores (CT)</li>
        </ul>
      </section>

      <section class="dropdown">
        <section
          class="select"
          onclick="this.nextElementSibling.classList.toggle('open')"
        >
          <span class="selected">(Por Mes)</span>
          <div class="caret"></div>
        </section>
        <ul class="menu">
          <li class = "active">(Por Mes)</li>
          <li>Índice coincidente (JP)</li>
          <li>Índice de actividad económica (BGF)</li>
          <li>Índice de actividad económica (EU)</li>
          <li>Empleo total EE (DT)</li>
          <li>Índice de precios (DT)</li>
          <li>Generación de energía eléctrica (AEE)</li>
          <li>Consumo de gasolina (DACO)</li>
          <li>Ventas al detalle (CCE)</li>
          <li>Exportaciones (JP)</li>
          <li>Importaciones (JP)</li>
          <li>Índice coincidente de manufactura (JP)</li>
          <li>Empleo en manufactura (DT)</li>
          <li>Nómina en manufactura (DT)</li>
          <li>Horas trabajadas en manufactura (DT)</li>
          <li>Índice coincidente de construcción (JP)</li>
          <li>Empleo en construcción (DT)</li>
          <li>Producción de cemento (BGF)</li>
          <li>Ventas de cemento (BGF)</li>
          <li>Ventas de materiales de construcción (CCE)</li>
          <li>Valor de permisos de construcción (JP)</li>
          <li>Índice coincidente de turismo (JP)</li>
          <li>Empleo en turismo (DT)</li>
          <li>Registro de hoteles (CT)</li>
          <li>Registro de paradores (CT)</li>
        </ul>
      </section>

      <footer>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </footer>
    </main>
  </body>
</html>
