<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Ciclos Económicos</title>
    
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-512x512.png' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'ciclos_economicos.css' %}" />
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <img src="{% static 'header_banner.png' %}" alt="banner" id="header-image" />
    </header>

    <!-- MAIN CONTENT -->
    <main>
      <!-- TITLE -->
      <section>
        <h1>Ciclos Económicos</h1>
      </section>

      <!-- INTRODUCTION -->
      <section>
        <p>
          Se provee una herramienta de trabajo que asiste la observación de los
          ciclos económicos y en particular el comportamiento de variables como:
          índice coincidente, índice de actividad económica, empleo total,
          índice de precios, generación de energía eléctrica, consumo de
          gasolina, exportaciones, importaciones, índice coincidente de
          manufactura, empleo en manufactura, nómina en manufactura, horas
          trabajadas en manufactura, empleo en construcción, producción de
          cemento, ventas de cemento, ventas de materiales de construcción,
          valor de permisos de construcción, índice coincidente de turismo,
          empleo en turismo, registro de hoteles y paradores. Esta herramienta
          permite la ilustración gráfica de las series de tiempo para predecir
          el comportamiento de la economía a corto plazo. Las series de tiempo
          pueden incluir componentes cíclicos, estacionales, aleatorios y de
          tendencia. Los economistas prestan particular atención al componente
          cíclico de las series de tiempo para predecir el comportamiento de la
          economía a corto plazo. Las cuatro fases de los ciclos económicos son:
          (1) la desaceleración (verde), (2) la recesión (violeta), (3) la
          recuperación (amarillo) y (4) la expansión (anaranjado).
        </p>
      </section>

      <!-- SUBBODY 1 -->
      <section>
        <h2>Fases de los Ciclos Económicos</h2>

        <p>
          Los ciclos económicos tienen cuatro fases: (1) la desaceleración
          (verde), (2) la recesión (violeta), (3) la recuperación (amarillo) y
          (4) la expansión (anaranjado).
        </p>

        <img src="{% static 'ciclos_fases.jpg' %}" alt="ciclos económicos" id="body-image" />
      </section>

      <!-- SUBBODY 2 -->
      <section>
        <h2>Instrucciones</h2>
        <p>
          1. Para seleccionar la variable que interesa representar gráficamente
          debe cursar encima del nombre de la variable continuo al eje vertical
          (horizontal).
        </p>
        <p>
          2. Si desea comparar el dato de la variable presentada con el dato de
          las otras variables disponibles debe cursar encima del par ordenado
          (el punto en la gráfica).
        </p>
        <p>
          3. También, puede elegir el mes para el cual usted interesa la
          representación gráfica seleccionando el botón “Todos los meses”,
          ubicado debajo del eje horizontal.<strong> Nota:</strong> La serie que
          aparece en la gráfica no es la variable original, es una serie
          calculada. Esta serie es la diferencia entre la variable original y la
          tendencia. Por lo que si la serie original asume valores menores que
          la tendencia entonces la serie calculada (lo que aparece en la
          gráfica) tiene que asumir valores negativos.
        </p>
      </section>
      <!-- DROPDOWNS -->
      <section class="container-time">
        <select id="timeRange">
          <option value="anual" class="active">Anual</option>
          <option value="enero">Enero</option>
          <option value="febrero">Febrero</option>
          <option value="marzo">Marzo</option>
          <option value="abril">Abril</option>
          <option value="mayo">Mayo</option>
          <option value="junio">Junio</option>
          <option value="julio">Julio</option>
          <option value="agosto">Agosto</option>
          <option value="septiembre">Septiembre</option>
          <option value="octubre">Octubre</option>
          <option value="noviembre">Noviembre</option>
          <option value="diciembre">Diciembre</option>
        </select>
      </section>

      <section class="graph-container">
        <select id="variableY">
          <option value="indice_coincidente_jp" class="active">Índice coincidente (JP)</option>
          <option value="indice_actividad_economica_bgf">Índice de actividad económica (BGF)</option>
          <option value="indice_actividad_economica_eu">Índice de actividad económica (EU)</option>
          <option value="empleo_total_ee">Empleo total EE (DT)</option>
          <option value="indice_precios_dt">Índice de precios (DT)</option>
          <option value="generacion_energia_electrica_aee">Generación de energía eléctrica (AEE)</option>
          <option value="consumo_gasolina_daco">Consumo de gasolina (DACO)</option>
          <option value="ventas_detalle_cce">Ventas al detalle (CCE)</option>
          <option value="exportaciones_jp">Exportaciones (JP)</option>
          <option value="importaciones_jp">Importaciones (JP)</option>
          <option value="indice_coincidente_manufactura_jp">Índice coincidente de manufactura (JP)</option>
          <option value="empleo_manufactura_dt">Empleo en manufactura (DT)</option>
          <option value="nomina_manufactura_dt">Nómina en manufactura (DT)</option>
          <option value="horas_trabajadas_manufactura_dt">Horas trabajadas en manufactura (DT)</option>
          <option value="indice_coincidente_construccion_jp">Índice coincidente de construcción (JP)</option>
          <option value="empleo_construccion_dt">Empleo en construcción (DT)</option>
          <option value="produccion_cemento_bgf">Producción de cemento (BGF)</option>
          <option value="ventas_cemento_bgf">Ventas de cemento (BGF)</option>
          <option value="ventas_materiales_construccion_cce">Ventas de materiales de construcción (CCE)</option>
          <option value="valor_permisos_construccion_jp">Valor de permisos de construcción (JP)</option>
          <option value="indice_coincidente_turismo_jp">Índice coincidente de turismo (JP)</option>
          <option value="empleo_turismo_dt">Empleo en turismo (DT)</option>
          <option value="registro_hoteles_ct">Registro de hoteles (CT)</option>
          <option value="registro_paradores_ct">Registro de paradores (CT)</option>
        </select>
        
        {{ ciclos_economicos|safe }}
      </section>

      <section class="container-X">
        <select id="variableX">
          <option value="1_mes" class="active">(Por Mes)</option>
          <option value="indice_coincidente_jp">Índice coincidente (JP)</option>
          <option value="indice_actividad_economica_bgf">Índice de actividad económica (BGF)</option>
          <option value="indice_actividad_economica_eu">Índice de actividad económica (EU)</option>
          <option value="empleo_total_ee">Empleo total EE (DT)</option>
          <option value="indice_precios_dt">Índice de precios (DT)</option>
          <option value="generacion_energia_electrica_aee">Generación de energía eléctrica (AEE)</option>
          <option value="consumo_gasolina_daco">Consumo de gasolina (DACO)</option>
          <option value="ventas_detalle_cce">Ventas al detalle (CCE)</option>
          <option value="exportaciones_jp">Exportaciones (JP)</option>
          <option value="importaciones_jp">Importaciones (JP)</option>
          <option value="indice_coincidente_manufactura_jp">Índice coincidente de manufactura (JP)</option>
          <option value="empleo_manufactura_dt">Empleo en manufactura (DT)</option>
          <option value="nomina_manufactura_dt">Nómina en manufactura (DT)</option>
          <option value="horas_trabajadas_manufactura_dt">Horas trabajadas en manufactura (DT)</option>
          <option value="indice_coincidente_construccion_jp">Índice coincidente de construcción (JP)</option>
          <option value="empleo_construccion_dt">Empleo en construcción (DT)</option>
          <option value="produccion_cemento_bgf">Producción de cemento (BGF)</option>
          <option value="ventas_cemento_bgf">Ventas de cemento (BGF)</option>
          <option value="ventas_materiales_construccion_cce">Ventas de materiales de construcción (CCE)</option>
          <option value="valor_permisos_construccion_jp">Valor de permisos de construcción (JP)</option>
          <option value="indice_coincidente_turismo_jp">Índice coincidente de turismo (JP)</option>
          <option value="empleo_turismo_dt">Empleo en turismo (DT)</option>
          <option value="registro_hoteles_ct">Registro de hoteles (CT)</option>
          <option value="registro_paradores_ct">Registro de paradores (CT)</option>
        </select>
      </section>

      <footer>
        <h1>Contáctenos</h1>
        <div class="footer-container">
            <div class="left-container">
                <h2>Oficiales de Información <br> (Ley 141-2019)</h2>
                <p>
                    Sr. Edgardo Vázquez Rivera <br>
                    Secretario Oficina de Secretaría <br>
                    <a href="mailto:Vazquez_e@jp.pr.gov" class="custom-link">Vazquez_e@jp.pr.gov</a> <br>
                    787 723-6200 ext. 16637 <br><br>
    
                    Plan. Erika Rivera Felicié <br>
                    Ayudante Especial <br>
                    <a href="mailto:ivera_e1@jp.pr.gov" class="custom-link">ivera_e1@jp.pr.gov</a> <br><br>
    
                    Lcda Aida Silver Cintrón <br>
                    Abogada Oficina Asuntos Legales <br>
                    <a href="mailto:Silver_A@jp.pr.gov" class="custom-link">Silver_A@jp.pr.gov</a> <br>
                    787 723-6200 ext. 16016
                </p>
                <h2>Oficina de Datos PRITS</h2>
                <p>
                    Carlos Castillo Domena <br>
                    Director Oficina de Administración Interna <br>
                    <a href="mailto:castillo_r@jp.pr.gov" class="custom-link">castillo_r@jp.pr.gov</a> <br>
                    787 723-6200 ext. 16019 <br><br>
                    <a href="https://jppr.sharepoint.com/sites/BibliotecaDigital" class="custom-link">BDV (Uso interno)</a>
                </p>
            </div>
            <div class="right-container">
              <h2><strong>Dirección Postal</strong></h2>
              <p>
                  PO Box 4119 <br>
                  San Juan P.R. 00940-1119 <br>
                  Tel: (787) 723-6200 (Cuadro)<br>
                  <h2><strong>Dirección Física</strong></h2>
                  <p>
                      Centro Gubernamental<br>
                      Roberto Sánchez Vilella<br>
                      Ave. De Diego, Pda 22, <br>
                      Santurce<br>
                  </p>
              </p>
          </div>
        </div>
    </footer>
    </main>
  </body>
</html>
