<!DOCTYPE html>
{% load static %}

<html lang="es" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>

        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-16x16.png' %}" />
        <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-32x32.png' %}" />
        <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}" />
        <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-512x512.png' %}" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'home.css' %}" />
    </head>

<body>
    
    <div class="header" id="header">


        <!--NAVIGATION MENU-->
        <div class="hamburger-menu" onclick="toggleMenu()">
            <div class="lines"></div>
            <div class="lines"></div>
            <div class="lines"></div>
        </div>
    

        <!--LOGO-->
        <div class="logo-button">
            <header>
                <img src="{% static 'imageLogo.png' %}" width= 265 alt="JPLogo" class="logo">
            </header>
        </div>
    

        <!--POP-OUT MENU-->
        <div class="menu" id="menu">
            <a class="menu-item" href="/official-home/">Home</a>
            <a class="menu-item" href="/destination2">Tables</a>
            <a class="menu-item" href="/destination3">Graphs</a>
            <a class="menu-item" href="/destination4">Download PDF</a>
        </div>
    

        <!--SEARCH BAR-->
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button onclick="search()">Search</button>
        </div>
        
    </div>

</body>

<body>


    <!-- WEB APPS -->
    <div id="container">
        <a href="/ciclos-economicos/">
            <div class="image-container">
                <img src="{% static 'imageCiclo.png' %}" width="265" alt="Ciclos App" class="logo" />
                <span class="image-name">Ciclos Económicos</span>
            </div>
        </a>

        <a href="/datos-demograficos/">
            <div class="image-container">
                <img src="{% static 'imageDemografico.jpeg' %}" width="265" alt="Demográfico App" class="logo" />
                <span class="image-name">Demográfico</span>
            </div>
        </a>

        <a href="/indicadores-mensuales/">
            <div class="image-container">
                <img src="{% static 'imageindicadores.jpeg' %}" width="265" alt="Indicadores App" class="logo">
                <span class="image-name">Indicadores Económicos</span>
            </div>
        </a>

        <a href="/centro-de-datos-macroeconomicos/">
            <div class="image-container">
                <img src="{% static 'imageMacro.jpeg' %}" width="265" alt="Macro App" class="logo">
                <span class="image-name">Macroeconómia</span>
            </div>
        </a>

        <a href="/JP-304-relacion-de-aportaciones-federales/">
            <div class="image-container">
                <img src="{% static 'formularios.jpeg' %}" width="265" alt="Cuestionario App" class="logo">
                <span class="image-name">JP-304 Relacion de Aportaciones Federales</span>
            </div>
        </a>

        <a href="/IP-110-agricultura/">
            <div class="image-container">
                <img src="{% static 'formularios.jpeg' %}" width="265" alt="Cuestionario App" class="logo">
                <span class="image-name">IP-110 Agriculatura</span>
            </div>
        </a>

        <a href="/JP-541-valor-de-la-inversion-en-obras-de-construccion/">
            <div class="image-container">
                <img src="{% static 'formularios.jpeg' %}" width="265" alt="Cuestionario App" class="logo">
                <span class="image-name">JP-541 Valor de la Inversión en obras de construcción</span>
            </div>
        </a>

        <a href="/JP-361-transactions-in-pr-of-external-insurance-companies/">
            <div class="image-container">
                <img src="{% static 'formularios.jpeg' %}" width="265" alt="Cuestionario App" class="logo">
                <span class="image-name">JP-361 Transactions in Puerto Rico of External Insurance Companies</span>
            </div>
        </a>

    </div>

    <script>
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                document.getElementById("header").style.height = "85px"; //Make the header smaller
            } 
            
            else {
                document.getElementById("header").style.height = "125px"; //Reset the header
            }
        }

        function toggleMenu() {
            var menu = document.getElementById('menu');
            menu.classList.toggle('active');
        }
        
        function search() {
            
            // Value of the search input
            var searchTerm = document.getElementById('searchInput').value;

            // Implement your search functionality here
            // For example, you can log the search term to the console
            console.log('Search term:', searchTerm);
            
            // Clears the search input after searching
            document.getElementById('searchInput').value = '';
        }
    </script>

</body>
</html>