<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

<div class="container"> 
    <div class="buttons-container">
        <h1>Pages</h1>
        <button onclick="window.location.href='signin/'" class="button">Sign In</button>
        <button onclick="window.location.href='centro-de-datos-macroeconomicos/'" class="button">Centro De Datos Macroeconómicos</button>
        <button class="button">Ciclos Económicos</button>
        <button class="button">default</button>
        <button class="button">default</button>
    </div>
</div>