<!DOCTYPE html>
{% load static %}

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Importaciones y Exportaciones</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <!-- Favicons -->
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <link rel="apple-touch-icon" href="{% static 'favicon-16x16.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'favicon-32x32.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'android-chrome-192x192.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'android-chrome-512x512.png' %}" />

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'macro.css' %}">
        <link rel="stylesheet" href="{% static 'imports_and_exports.css' %}">
        <link rel="stylesheet" href="{% static 'website.css' %}">
    </head>


    <body>
        <div class="container">
            <div class="burger" onclick="toggleBurgerMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="burger_menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/centro-de-datos-macroeconomicos/">Centro de Datos Macroeconómicos</a></li>
                <li><a href="/ciclos-economicos/">Ciclos Económicos</a></li>
                <li><a href="/indicadores-mensuales/">Indicadores Mensuales</a></li>
                <li><a href="/datos-demograficos/">Datos Demográficos</a></li>
            </ul>

            <img src="{% static 'gobierno_de_puerto_rico.png' %}" alt="Logo del Gobierno de Puerto Rico" id="logo" />
        </div>

        <div class="instructions">
            <h1>Instrucciones para usar la gráfica interactiva:</h1>
            <div>
                <p>
                    <strong>Descripción de la Gráfica:</strong> La gráfica muestra un desglose de importaciones por país en forma de un gráfico 
                    de pastel. Cada porción representa el porcentaje de importaciones de un país específico.
                </p>

                <p>
                    <strong>Selecciona un Año:</strong> En la esquina superior izquierda de la gráfica, encontrarás un menú desplegable. 
                    Haz clic en el menú y selecciona un año específico para ver los datos de importaciones de ese año.
                </p>

                <p>
                    <strong>Ver Datos Anuales:</strong> Para visualizar los datos de importaciones de todos los años combinados, selecciona 
                    la opción "Annual" del menú desplegable.
                </p>

                <p>
                    <strong>Información Detallada:</strong> La gráfica mostrará el porcentaje correspondiente de importaciones para cada país en el 
                    interior de cada porción. También puedes pasar el cursor sobre cada porción para ver información detallada.
                </p>

                <p>
                    <strong>Actualización de la Gráfica:</strong> Cada vez que selecciones un año o las opciones "Annual", "Monthly", "Quaterly"; la gráfica se actualizará automáticamente 
                    para mostrar los datos correspondientes.
                </p>
            </div>
        </div>

        <div class="graph_container">
            <form method="post">
                {% csrf_token %}
                <section id="buttons">
                    <section id="dropdowns">
                        <label id="drop_title" for="frequency">Frecuencia:</label>
                        <select name="frequency" id="frequency">
                            <option value="Yearly" {% if selected_frequency == "Yearly" %}selected{% endif %}>Yearly</option>
                            <option value="Monthly" {% if selected_frequency == "Monthly" %}selected{% endif %}>Monthly</option>
                            <option value="Quarterly" {% if selected_frequency == "Quarterly" %}selected{% endif %}>Quarterly</option>
                        </select>
                    </section>
                    
                    <section id="dropdowns">
                        <label id="drop_title" for="second_dropdown">Tiempo:</label>
                        <select name="second_dropdown" id="second_dropdown">
                            <option value="default_value" {% if selected_second_dropdown == "default_value" %}selected{% endif %}>Default</option>
                        </select>
                    </section>

                    <button id="submit" type="submit">Submit</button>
                </section>
            </form>
            
            <div id="graph">
                {{ imports_and_exports|safe }}
            </div>
        </div>

          <!-- ------------------ FOOTER --------------------- -->
          <footer>
              <main>
                  <section>
                      <h1>Contáctanos</h1>
                  </section>
                  <section>
                      <div class="footer-container">
                          <div class="left-container">
                              <h2>Oficiales de Información <br> (Ley 141-2019)</h2>
                              <p>
                                  Sr. Edgardo Vázquez Rivera <br>
                                  Secretario Oficina de Secretaría <br>
                                  <a href="mailto:Vazquez_e@jp.pr.gov" class="custom-link">Vazquez_e@jp.pr.gov</a> <br>
                                  787 723-6200 ext. 16637 <br><br>
                  
                                  Plan. Erika Rivera Felicié <br>
                                  Ayudante Especial <br>
                                  <a href="mailto:ivera_e1@jp.pr.gov" class="custom-link">ivera_e1@jp.pr.gov</a> <br><br>
                  
                                  Lcda Aida Silver Cintrón <br>
                                  Abogada Oficina Asuntos Legales <br>
                                  <a href="mailto:Silver_A@jp.pr.gov" class="custom-link">Silver_A@jp.pr.gov</a> <br>
                                  787 723-6200 ext. 16016
                              </p>
                              <h2>Oficina de Datos PRITS</h2>
                              <p>
                                  Carlos Castillo Domena <br>
                                  Director Oficina de Administración Interna <br>
                                  <a href="mailto:castillo_r@jp.pr.gov" class="custom-link">castillo_r@jp.pr.gov</a> <br>
                                  787 723-6200 ext. 16019 <br><br>
                                  <a href="https://jppr.sharepoint.com/sites/BibliotecaDigital" class="custom-link">BDV (Uso interno)</a>
                              </p>
                          </div>
                          <div class="right-container">
                              <h2><strong>Dirección Postal</strong></h2>
                              <p>
                                  PO Box 4119 <br>
                                  San Juan P.R. 00940-1119 <br>
                                  Tel: (787) 723-6200 (Cuadro)<br>
                                  <h2><strong>Dirección Física</strong></h2>
                                  <p>
                                      Centro Gubernamental<br>
                                      Roberto Sánchez Vilella<br>
                                      Ave. De Diego, Pda 22, <br>
                                      Santurce<br>
                                  </p>
                              </p>
                              <section class="maps">
                                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.7501887340845!2d-66.0698374248245!3d18.
                                          449648171336893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c036f497801a7b7%3A0x68ace32a0663b72f!2sGov
                                          ernor%20Roberto%20S%C3%A1nchez%20Vilella%20Government%20Center!5e0!3m2!1sen!2sus!4v1717000266481!5m2!1sen!2sus"
                                          width="490" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                  </iframe>
                              </section>
                          </div>
                      </div>
                  </section>
              </main>
          </footer>
        <script src="{% static 'header_menu.js' %}"></script>
        <script>
            function updateSecondDropdown() {
                const frequency = document.getElementById('frequency').value;
                const secondDropdown = document.getElementById('second_dropdown');
                secondDropdown.innerHTML = ''; 
        
                let options = [];
                if (frequency === 'Yearly') {
                    options = Array.from({ length: 12 }, (_, i) => 2009 + i); 
                } else if (frequency === 'Monthly') {
                    options = [
                        { value: 1, text: 'January' },
                        { value: 2, text: 'February' },
                        { value: 3, text: 'March' },
                        { value: 4, text: 'April' },
                        { value: 5, text: 'May' },
                        { value: 6, text: 'June' },
                        { value: 7, text: 'July' },
                        { value: 8, text: 'August' },
                        { value: 9, text: 'September' },
                        { value: 10, text: 'October' },
                        { value: 11, text: 'November' },
                        { value: 12, text: 'December' }
                    ];
                } else if (frequency === 'Quaterly') { 
                    options = [
                        { value: 1, text: 'Qtr 1' },
                        { value: 2, text: 'Qtr 2' },
                        { value: 3, text: 'Qtr 3' },
                        { value: 4, text: 'Qtr 4' }
                    ];
                }
        
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option.value || option;
                    opt.text = option.text || option;
                    secondDropdown.appendChild(opt);
                });
            }
        
            // Initialize the second dropdown on page load
            document.addEventListener('DOMContentLoaded', updateSecondDropdown);
        
            // Update second dropdown when frequency is changed
            document.getElementById('frequency').addEventListener('change', updateSecondDropdown);
        </script>        
    </body>    
</html>