<!DOCTYPE html>
{% load static %}

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Ingresos de Empleos</title>

        <!-- Favicons -->
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/favicon-16x16.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/favicon-32x32.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/android-chrome-192x192.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/android-chrome-512x512.png' %}" />

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/income_employment.css' %}">
        <link rel="stylesheet" href="{% static 'css/indicadores.css' %}">
        <link rel="stylesheet" href="{% static 'css/product_hts.css' %}">
        <link rel="stylesheet" href="{% static 'css/website.css' %}">
    </head>

    <body>
        <div class="container">
            <div class="burger" onclick="toggleBurgerMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="burger_menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/centro-de-datos-macroeconomicos/">Centro de Datos Macroeconómicos</a></li>
                <li><a href="/ciclos-economicos/">Ciclos Económicos</a></li>
                <li><a href="/indicadores-mensuales/">Indicadores Mensuales</a></li>
                <li><a href="/datos-demograficos/">Datos Demográficos</a></li>
            </ul>

            <img src="{% static 'images/gobierno_de_puerto_rico.png' %}" alt="Logo del Gobierno de Puerto Rico" id="logo" />
        </div>

        <main>
            <!-- Título -->
            <section>
                <h1>Ingresos de Empleos</h1>
            </section>

            <!-- Descripción -->
            <section>
                <p>
                  El Sistema de Clasificación Industrial de América del Norte (NAICS, por sus siglas en inglés) 
                  se utiliza en Puerto Rico para organizar y analizar los datos de ingresos laborales por sector 
                  económico. Este sistema permite identificar las áreas clave de empleo en la isla, proporcionando 
                  una base estructurada para comprender la dinámica del mercado laboral. En esta sección, encontrarás 
                  información detallada sobre los ingresos promedio, las diferencias por industria y las tendencias 
                  salariales que impactan a la fuerza laboral. Estos datos son fundamentales para evaluar el desempeño 
                  económico y planificar iniciativas que promuevan la equidad y el desarrollo sostenible.
                </p>
            </section>

            <form id="hts-form" method="post">
                {% csrf_token %}
                <div class="graph_container">
                    <a id="graph-anchor"></a>
                    <section id="buttons">
                        <section id="dropdowns">
                          <label id="drop_title" for="frequency">Frecuencia:</label>
                            <select name="frequency" id="frequency">
                                <option value="Yearly" {% if selected_frequency == "Yearly" %}selected{% endif %}>Yearly</option>
                                <option value="Quarterly" {% if selected_frequency == "Quarterly" %}selected{% endif %}>Quarterly</option>
                            </select>
                        </section>
                    
                        <section id="dropdowns">
                            <label id="drop_title" for="naics_time">Time:</label>
                            <select name="naics_time" id="naics_time"></select>
                        </section>
                    
                        <button id="submit" type="submit">Submit</button>
                    </section>                                
            
                    <div id="graph">
                        {{ graph|safe }}
                    </div>
                </div>
            </form>
        </main>

        <!-- ------------------ FOOTER --------------------- -->
        <footer>
            <main>
                <section>
                    <h1>Contáctanos</h1>
                </section>
                <section>
                    <div class="footer-container">
                        <div class="left-container">
                            <h2>Oficiales de Información <br> (Ley 141-2019)</h2>
                            <p>
                                Sr. Edgardo Vázquez Rivera <br>
                                Secretario Oficina de Secretaría <br>
                                <a href="mailto:Vazquez_e@jp.pr.gov" class="custom-link">Vazquez_e@jp.pr.gov</a> <br>
                                787 723-6200 ext. 16637 <br><br>
                
                                Plan. Erika Rivera Felicié <br>
                                Ayudante Especial <br>
                                <a href="mailto:ivera_e1@jp.pr.gov" class="custom-link">ivera_e1@jp.pr.gov</a> <br><br>
                
                                Lcda Aida Silver Cintrón <br>
                                Abogada Oficina Asuntos Legales <br>
                                <a href="mailto:Silver_A@jp.pr.gov" class="custom-link">Silver_A@jp.pr.gov</a> <br>
                                787 723-6200 ext. 16016
                            </p>
                            <h2>Oficina de Datos PRITS</h2>
                            <p>
                                Carlos Castillo Domena <br>
                                Director Oficina de Administración Interna <br>
                                <a href="mailto:castillo_r@jp.pr.gov" class="custom-link">castillo_r@jp.pr.gov</a> <br>
                                787 723-6200 ext. 16019 <br><br>
                                <a href="https://jppr.sharepoint.com/sites/BibliotecaDigital" class="custom-link">BDV (Uso interno)</a>
                            </p>
                        </div>
                        <div class="right-container">
                            <h2><strong>Dirección Postal</strong></h2>
                            <p>
                                PO Box 4119 <br>
                                San Juan P.R. 00940-1119 <br>
                                Tel: (787) 723-6200 (Cuadro)<br>
                                <h2><strong>Dirección Física</strong></h2>
                                <p>
                                    Centro Gubernamental<br>
                                    Roberto Sánchez Vilella<br>
                                    Ave. De Diego, Pda 22, <br>
                                    Santurce<br>
                                </p>
                            </p>
                            <section class="maps">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.7501887340845!2d-66.0698374248245!3d18.
                                        449648171336893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c036f497801a7b7%3A0x68ace32a0663b72f!2sGov
                                        ernor%20Roberto%20S%C3%A1nchez%20Vilella%20Government%20Center!5e0!3m2!1sen!2sus!4v1717000266481!5m2!1sen!2sus"
                                        width="490" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                </iframe>
                            </section>
                        </div>
                    </div>
                </section>
            </main>
        </footer>

        <!-- Scripts -->  
        <script src="{% static 'header_menu.js' %}" defer></script>
        <script>
          document.addEventListener('DOMContentLoaded', () => {
            const frequencyDropdown = document.getElementById('frequency');
            const timeCodeDropdown = document.getElementById('naics_time');
        
            // Initialize dropdowns on page load
            updatetimeCodeDropdown();
        
            // Update HTS Code dropdown when frequency changes
            frequencyDropdown.addEventListener('change', () => {
                updatetimeCodeDropdown();
            });
        });
        
        function updatetimeCodeDropdown() {
            const frequency = document.getElementById('frequency').value;
            const timeCodeDropdown = document.getElementById('naics_time');
        
            // Clear existing options
            timeCodeDropdown.innerHTML = '';
        
            let options = [];
        
            // Logic for HTS Code dropdown options
            if (frequency === 'Yearly') {
                options = Array.from({ length: 16 }, (_, i) => ({ value: 2009 + i, text: 2009 + i }));
            } else if (frequency === 'Quarterly') {
                options = [
                    { value: 'Q1', text: 'Qtr 1' },
                    { value: 'Q2', text: 'Qtr 2' },
                    { value: 'Q3', text: 'Qtr 3' },
                    { value: 'Q4', text: 'Qtr 4' }
                ];
            }
        
            // Populate the HTS Code dropdown
            options.forEach(option => {
                const opt = document.createElement('option');
                opt.value = option.value;
                opt.text = option.text;
                timeCodeDropdown.add(opt);
            });
        }
        
        </script>
    </body>
</html>