<!DOCTYPE html>
{% load static %}

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Índice de Desarrollo Humano</title>

        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-16x16.png' %}" />
        <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-32x32.png' %}" />
        <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}" />
        <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-512x512.png' %}" />

        <link rel="stylesheet" type="text/css" href="{% static 'indice.css' %}">
        <link rel="stylesheet" href="{% static 'website.css' %}" />
    </head>

    <body>
        

        <!-- --------------------- NAVIGATION ----------------- -->
        <div class="container">
            <div class="burger" onclick="toggleBurgerMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="burger_menu">
                <a href='/'>Home</a>
                <a href='/centro-de-datos-macroeconomicos/'>Centro De Datos Macroeconómicos</a>
                <a href='/ciclos-economicos/'>Ciclos Económicos</a>
                <a href='/indicadores-mensuales/'>Indicadores Mensuales</a>
                <a href='/datos-demograficos/'>Datos Demográficos</a>
            </ul>

            <img src="{% static 'gobierno_de_puerto_rico.png' %}" alt="logo" id="logo" />
        </div>

        <main>
			<!-- TITLE -->
			<section>
				<div>
					<h1>Índice de Desarrollo Humano</h1>
				</div>
			</section>
			<!-- INTRODUCTION -->
			<section>
				<div>
					<p class="main_content">
						<!-- El Índice de Desarrollo Humano (IDH) es una medida que evalúa el desarrollo de un país 
						basado en tres dimensiones clave: una vida larga y saludable, el acceso a la educación, 
						y un nivel de vida digno. El IDH se calcula como la media geométrica de índices normalizados 
						para estas dimensiones. -->

                        El Índice de Desarrollo Humano (IDH) es una medida compuesta que evalúa el desarrollo de un país 
                        basado en tres dimensiones clave: una vida larga y saludable, el acceso a la educación y un nivel 
                        de vida digno. Creado por el Programa de las Naciones Unidas para el Desarrollo (PNUD), su objetivo 
                        es proporcionar una visión más integral del desarrollo que va más allá de los indicadores económicos 
                        tradicionales como el Producto Interno Bruto (PIB) per cápita.
					</p>

					<p class="main_content">
						<strong>1. Salud:</strong> 
						medida por la <strong>esperanza</strong> de vida al nacer.
					</p>	

					<p class="main_content">
						<strong>2. Educación:</strong> 
						evaluada por los <strong>años promedio de escolaridad</strong> en adultos, que sirve como un indicador 
                        del nivel educativo alcanzado por la población adulta, y los <strong>años esperados de escolarización</strong> 
                        para niños, que reflejan la duración esperada de la educación para las futuras generaciones

					</p>	

					<p class="main_content">
						<strong>3. Nivel de vida:</strong> 
						<!-- Representado por el ingreso nacional bruto per cápita, ajustado para reflejar 
						la menor importancia del ingreso a niveles más altos. -->

                        representado por el <strong>ingreso nacional bruto (INB) per cápita</strong>, ajustado mediante una 
                        función logarítmica para reflejar la disminución de la utilidad del ingreso a niveles 
                        más altos. Reconoce el impacto del ingreso en el bienestar. 

					</p>	

					<p class="main_content">
						El IDH se calcula como la <strong>media geométrica</strong> de los índices normalizados para estas dimensiones, 
                        lo que asegura que un desempeño bajo en una dimensión no se compense completamente con un alto desempeño en otra, 
                        resaltando la necesidad de un desarrollo equilibrado. El IDH permite comparar países con un mismo nivel de ingresos, 
                        pero con diferentes resultados en desarrollo humano. Sin embargo, este no refleja desigualdades, pobreza u otros 
                        factores como la seguridad y la equidad de género, por lo que existen otros índices complementarios que ofrecen una 
                        visión más completa.
                    </p>
				</div>
			</section>

			<!-- SUBBODY 1 -->
			<section>
				<div>
					<h2>Hoja de ruta del Índice de Desarrollo Humano</h2>

					<div class="image-container">
						<img src="{% static 'hdiRoadMap.png' %}" alt="Hoja de ruta del Índice de Desarrollo Humano" class="responsive-image" />
					</div>
					<p class="image_subtitle"><a href="https://hdr.undp.org/data-center/human-development-index#/indicies/HDI" target="_blank">Programa de las Naciones Unidas para el Desarrollo (PNUD)</a>.</p>

				</div>
			</section>

			<!-- SUBBODY 2 -->
			<section>
				<div>
					<h2>Información sobre gráficas</h2>
					<p class="main_content">
                        En estas gráficas se muestran los índices normales y ajustados de desarrollo humano, educación, salud, taza de crecimiento e ingresos. Los datos de estas
						gráficas fueron sacados de la página <span><a href="https://hdr.undp.org/data-center/human-development-index#/indicies/HDI"> Programa de las Naciones Unidas para el Desarrollo (PNUD)</a></span>. 
						Cada línea en la gráfica corresponde a un índice. El eje horizontal representa los años desde el 2012 y el eje vertical los valores de los índices.
					</p>

                    <h2>Instrucciones para las gráficas interactivas</h2>
                        <p class="main_content">1. Las líneas en cada una de las gráficas están representadas por colores diferentes, y la leyenda a la derecha identifica qué color corresponde a cada variable. </p>
                        <p class="main_content">2. Si desea eliminar una línea de la gráfica, haga <i>clic</i> en su nombre en la leyenda. Para volver a agregarla, haga <i>clic</i> nuevamente en el nombre.</p>
                        <p class="main_content">3. Las gráficas permiten la manipulación del eje <i>Y</i>, lo que le permite ajustar la escala y visualizar los datos de manera más detallada o más amplia según sus necesidades.</p>
                        <p class="main_content">4. Si pasa el cursor sobre la línea deseada, se mostrará la información que necesita.</p>

                    <!-- Graph 1 (indexes) -->

                    <body>
                    <h3>Gráfica de Índices</h3>
                    <div class="graph_container"></div>
                        <div class="graph1"> <!-- Apply the "graph" class here -->
                            {{ graph_html | safe }}
                        </div> <!-- Render adjusted indexes graph -->
                    </div>

                    <!-- Graph 1 (adjusted indexes) -->

                    <body>
                    <h3>Gráfica de Índices Ajustados</h3>
                    <div class="graph_container">
                        <div class="graph2"> <!-- Apply the "graph" class here -->
                            {{ adjusted_graph_html | safe }}
                        </div> <!-- Render adjusted indexes graph -->
                    </div>
                    </body>

					<!-- <p class="image_subtitle">
						<a href="https://hdr.undp.org/sites/default/files/2023-24_HDR/HDR23-24_Statistical_Annex_HDI_Table.xlsx"> Descarga de los datos más recientes del IDH de la página de PNUD</a>.
					</p> -->
				</div>
			</section>

        </main>
            <!-- ------------------ FOOTER --------------------- -->
            <footer>
                <main>
                    <section>
                        <h1>Contáctanos</h1>
                    </section>
                    <section>
                        <div class="footer-container">
                            <div class="left-container">
                                <h2>Oficiales de Información <br> (Ley 141-2019)</h2>
                                <p>
                                    Sr. Edgardo Vázquez Rivera <br>
                                    Secretario Oficina de Secretaría <br>
                                    <a href="mailto:Vazquez_e@jp.pr.gov" class="custom-link">Vazquez_e@jp.pr.gov</a> <br>
                                    787 723-6200 ext. 16637 <br><br>
                    
                                    Plan. Erika Rivera Felicié <br>
                                    Ayudante Especial <br>
                                    <a href="mailto:ivera_e1@jp.pr.gov" class="custom-link">ivera_e1@jp.pr.gov</a> <br><br>
                    
                                    Lcda Aida Silver Cintrón <br>
                                    Abogada Oficina Asuntos Legales <br>
                                    <a href="mailto:Silver_A@jp.pr.gov" class="custom-link">Silver_A@jp.pr.gov</a> <br>
                                    787 723-6200 ext. 16016
                                </p>
                                <h2>Oficina de Datos PRITS</h2>
                                <p>
                                    Carlos Castillo Domena <br>
                                    Director Oficina de Administración Interna <br>
                                    <a href="mailto:castillo_r@jp.pr.gov" class="custom-link">castillo_r@jp.pr.gov</a> <br>
                                    787 723-6200 ext. 16019 <br><br>
                                    <a href="https://jppr.sharepoint.com/sites/BibliotecaDigital" class="custom-link">BDV (Uso interno)</a>
                                </p>
                            </div>
                            <div class="right-container">
                                <h2><strong>Dirección Postal</strong></h2>
                                <p>
                                    PO Box 4119 <br>
                                    San Juan P.R. 00940-1119 <br>
                                    Tel: (787) 723-6200 (Cuadro)<br>
                                    <h2><strong>Dirección Física</strong></h2>
                                    <p>
                                        Centro Gubernamental<br>
                                        Roberto Sánchez Vilella<br>
                                        Ave. De Diego, Pda 22, <br>
                                        Santurce<br>
                                    </p>
                                </p>
                                <section class="maps">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.7501887340845!2d-66.0698374248245!3d18.
                                            449648171336893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c036f497801a7b7%3A0x68ace32a0663b72f!2sGov
                                            ernor%20Roberto%20S%C3%A1nchez%20Vilella%20Government%20Center!5e0!3m2!1sen!2sus!4v1717000266481!5m2!1sen!2sus"
                                            width="490" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                    </iframe>
                                </section>
                            </div>
                        </div>
                    </section>
                </main>
            </footer>
            <!-- ------------------ END OF FOOTER --------------------- -->

        <script src="{% static 'header_menu.js' %}"></script>
    </body>    
</html>