<!DOCTYPE html>
{% load static %}

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Índice de Actividad Económica</title>

        <!-- Favicons -->
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/favicon-16x16.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/favicon-32x32.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/android-chrome-192x192.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/android-chrome-512x512.png' %}" />

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/indicadores.css' %}">
        <link rel="stylesheet" href="{% static 'css/website.css' %}">
    </head>

    <body>
        <div class="container">
            <div class="burger" onclick="toggleBurgerMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="burger_menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/centro-de-datos-macroeconomicos/">Centro de Datos Macroeconómicos</a></li>
                <li><a href="/ciclos-economicos/">Ciclos Económicos</a></li>
                <li><a href="/indicadores-mensuales/">Indicadores Mensuales</a></li>
                <li><a href="/datos-demograficos/">Datos Demográficos</a></li>
            </ul>

            <img src="{% static 'images/gobierno_de_puerto_rico.png' %}" alt="Logo del Gobierno de Puerto Rico" id="logo" />
        </div>

        <main>
            <!-- Título -->
            <section>
                <h1>Indicadores Económicos</h1>
            </section>

            <!-- Descripción -->
            <section>
                <p>
                    Los Indicadores Económicos Seleccionados de Puerto Rico ofrecen una visión integral del 
                    rendimiento económico de la isla, permitiendo a analistas, inversionistas y formuladores 
                    de políticas tomar decisiones informadas. Estos indicadores abarcan diversos aspectos clave 
                    de la economía, reflejando la salud financiera y las tendencias de crecimiento. Desde la 
                    producción de bienes y servicios hasta el comportamiento de los mercados laborales y los niveles 
                    de ingresos personales, estos indicadores permiten una evaluación detallada del desempeño económico 
                    en diferentes frentes. Son herramientas esenciales para la formulación de políticas efectivas, 
                    la planificación estratégica y la atracción de inversiones, contribuyendo al bienestar y la prosperidad 
                    de los ciudadanos de Puerto Rico.
                </p>
            </section>

            <!-- Instrucciones para la gráfica interactiva -->
            <section>
                <h2>Instrucciones para la Gráfica Interactiva</h2>
            </section>
            
            <section class="instructions">
                <p>
                    <strong>1. Selección de Indicadores:</strong> 
                    Utiliza el menú desplegable en la parte superior derecha 
                    de la gráfica para seleccionar diferentes indicadores económicos. 
                    Cada opción del menú modifica los datos mostrados en el eje Y.
                    Para desplazar el menú desplegable hacia arriba o hacia abajo, utiliza 
                    la barra de desplazamiento ubicada en el lado derecho del menú.
                </p>

                <p>
                    <strong>2. Navegación y Visualización:</strong> 
                    Puedes mover el cursor sobre cualquier punto en la gráfica para 
                    ver detalles específicos del dato en ese punto. La gráfica muestra 
                    las fechas en el eje X (horizontal) y los valores del indicador 
                    seleccionado en el eje Y (vertical).
                </p>
                
                <p>
                    <strong>3. Personalización de la Gráfica:</strong>
                    Los botones en la parte superior permiten personalizar la gráfica. 
                    Puedes elegir diferentes indicadores y ajustar la visualización según tus necesidades.
                </p>

                <p><strong>4. Ajuste del Rango del Eje X:</strong></p>
                <ul>
                    <li id="instruction_li">
                        <strong>Anual:</strong> Selecciona esta opción para ver la gráfica con el eje X mostrando los datos por años completos.
                    </li>
                    <li id="instruction_li">
                        <strong>Mensual:</strong> Elige esta opción para ajustar el eje X y ver la gráfica con datos segmentados por meses.
                    </li>
                    <li id="instruction_li">
                        <strong>Trimestral:</strong> Selecciona esta opción para ajustar el eje X y mostrar los datos segmentados por trimestres.
                    </li>
                </ul>

                <p>
                    <strong>Nota:</strong> Las opciones de ajuste del eje X permiten una visualización más detallada y específica según el intervalo de tiempo seleccionado, facilitando un análisis preciso de las tendencias económicas.
                </p>
            </section>

            <!-- Contenedor de la gráfica -->
            <div class="graph_container">
                {{ indicadores|safe }}
            </div>
        </main>

        <div class="download_container">
            <a id="download_button" href="https://api.econlabs.net/files/index/jp_index?update=false" class="button">Descargar Datos</a>
        </div>

        <!-- ------------------ FOOTER --------------------- -->
        <footer>
            <main>
                <section>
                    <h1>Contáctanos</h1>
                </section>
                <section>
                    <div class="footer-container">
                        <div class="left-container">
                            <h2>Oficiales de Información <br> (Ley 141-2019)</h2>
                            <p>
                                Sr. Edgardo Vázquez Rivera <br>
                                Secretario Oficina de Secretaría <br>
                                <a href="mailto:Vazquez_e@jp.pr.gov" class="custom-link">Vazquez_e@jp.pr.gov</a> <br>
                                787 723-6200 ext. 16637 <br><br>
                
                                Plan. Erika Rivera Felicié <br>
                                Ayudante Especial <br>
                                <a href="mailto:ivera_e1@jp.pr.gov" class="custom-link">ivera_e1@jp.pr.gov</a> <br><br>
                
                                Lcda Aida Silver Cintrón <br>
                                Abogada Oficina Asuntos Legales <br>
                                <a href="mailto:Silver_A@jp.pr.gov" class="custom-link">Silver_A@jp.pr.gov</a> <br>
                                787 723-6200 ext. 16016
                            </p>
                            <h2>Oficina de Datos PRITS</h2>
                            <p>
                                Carlos Castillo Domena <br>
                                Director Oficina de Administración Interna <br>
                                <a href="mailto:castillo_r@jp.pr.gov" class="custom-link">castillo_r@jp.pr.gov</a> <br>
                                787 723-6200 ext. 16019 <br><br>
                                <a href="https://jppr.sharepoint.com/sites/BibliotecaDigital" class="custom-link">BDV (Uso interno)</a>
                            </p>
                        </div>
                        <div class="right-container">
                            <h2><strong>Dirección Postal</strong></h2>
                            <p>
                                PO Box 4119 <br>
                                San Juan P.R. 00940-1119 <br>
                                Tel: (787) 723-6200 (Cuadro)<br>
                                <h2><strong>Dirección Física</strong></h2>
                                <p>
                                    Centro Gubernamental<br>
                                    Roberto Sánchez Vilella<br>
                                    Ave. De Diego, Pda 22, <br>
                                    Santurce<br>
                                </p>
                            </p>
                            <section class="maps">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.7501887340845!2d-66.0698374248245!3d18.
                                        449648171336893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c036f497801a7b7%3A0x68ace32a0663b72f!2sGov
                                        ernor%20Roberto%20S%C3%A1nchez%20Vilella%20Government%20Center!5e0!3m2!1sen!2sus!4v1717000266481!5m2!1sen!2sus"
                                        width="490" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                </iframe>
                            </section>
                        </div>
                    </div>
                </section>
            </main>
        </footer>

        <!-- Scripts -->
        <script src="{% static 'js/indicadores.js' %}" defer></script>
        <script src="{% static 'js/header_menu.js' %}" defer></script>
    </body>
</html>
