<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'indicadores.css' %}">

<body>
    <header>
        <img src="{% static 'header_banner.png' %}" alt="banner" id="header-image">
    </header>
</body>

<h1>Índice De Actividad Económica</h1>

<h2>Índice de Actividad Económica del Banco de Desarrollo Económico</h2>

<p>El Índice de Actividad Económica del Banco de Desarrollo Económico es una medida que evalúa 
    el nivel de actividad económica en una región específica. Este índice puede basarse en diversos 
    indicadores económicos, como el empleo, la producción industrial, las ventas minoristas y otros 
    factores relevantes para determinar el estado general de la economía. Se calcula para períodos 
    de años fiscales, años calendario y años de referencia, lo que permite un análisis comparativo 
    a lo largo del tiempo y una comprensión más completa de la dinámica económica.
</p>

{% block content%}
    <div class="graph-container">
        {{ indicadores|safe }}
    </div>
{% endblock %}

<h1>Encuesta De Grupo Trabajador-Ajustada Estacionalmente</h1>

<h2>Grupo Trabajador</h2>

<p>La Encuesta de Grupo Trabajador Ajustada Estacionalmente, también conocida como Labor Force Survey - Seasonally 
    Adjusted, es un instrumento utilizado para medir la fuerza laboral en una determinada área geográfica. Se ajusta 
    estacionalmente para eliminar las variaciones predecibles que ocurren regularmente en ciertos momentos del año, 
    como las relacionadas con las estaciones o festividades, lo que permite una comparación más precisa del rendimiento 
    laboral a lo largo del tiempo. Los datos se presentan en miles de personas y se pueden analizar en años fiscales, 
    años calendario y años de referencia para evaluar tendencias y cambios en la fuerza laboral.
</p>

{% block content1 %}
    <div class="graph-container">
        {{ indicadores2|safe }}
    </div>
{% endblock %}





