<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Centro de Datos Macroeconómicos</title>
        <link rel="stylesheet" type="text/css" href="styles.css">

    </head>
    <body>
        <h1>Centro de Datos Macroeconómicos</h1>
        
        La Junta de Planificación, a través de su Programa de Planificación Económica y Social, publica información sobre las variables macroeconómicas de Puerto Rico. Se incluyen variables como: Producto Bruto, Producto no Bruto, inversión en construcción, gasto de consumo e ingreso neto.
        <br>
        <br>
        <br
        <p>Para información adicional puede comunicarse vía email <a href="mailto:diaz_a@jp.pr.gov" class="custom-link">diaz_a@jp.pr.gov</a> y <a href="mailto:perez_m@jp.pr.gov" class="custom-link">perez_m@jp.pr.gov</a>.</p>

        <br>
       
</html>