<!DOCTYPE html>
{% load static %}

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Productos HTS</title>

        <!-- Favicons -->
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/favicon-16x16.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/favicon-32x32.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/android-chrome-192x192.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/android-chrome-512x512.png' %}" />

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/indicadores.css' %}">
        <link rel="stylesheet" href="{% static 'css/product_hts.css' %}">
        <link rel="stylesheet" href="{% static 'css/website.css' %}">
    </head>

    <body>
        <div class="container">
            <div class="burger" onclick="toggleBurgerMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="burger_menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/centro-de-datos-macroeconomicos/">Centro de Datos Macroeconómicos</a></li>
                <li><a href="/ciclos-economicos/">Ciclos Económicos</a></li>
                <li><a href="/indicadores-mensuales/">Indicadores Mensuales</a></li>
                <li><a href="/datos-demograficos/">Datos Demográficos</a></li>
            </ul>

            <img src="{% static 'images/gobierno_de_puerto_rico.png' %}" alt="Logo del Gobierno de Puerto Rico" id="logo" />
        </div>

        <main>
            <!-- Título -->
            <section>
                <h1>Productos HTS</h1>
            </section>

            <!-- Descripción -->
            <section>
                <p>
                  El Sistema Armonizado de Designación y Codificación de Mercancías (HTS, por sus siglas en inglés) 
                  es utilizado en Puerto Rico para clasificar los productos que ingresan y salen del país. Este sistema, 
                  basado en estándares internacionales, facilita el comercio y asegura que los productos sean gravados 
                  correctamente de acuerdo con su tipo. En esta sección, encontrarás información detallada sobre los 
                  productos HTS, sus códigos correspondientes y las tasas aplicables en el comercio exterior. Además, 
                  se incluyen reportes y estadísticas que reflejan las transacciones comerciales de Puerto Rico, contribuyendo 
                  a la planificación económica y fiscal del país.
                </p>
            </section>

            <form id="hts-form" method="post">
                {% csrf_token %}
                <div class="graph_container">
                    <a id="graph-anchor"></a>
                    <h1 id="graph_title">HTS Data</h1>
                    <section id="buttons">
                        <section id="dropdowns">
                            <label id="drop_title" for="frequency">Frecuencia:</label>
                            <select name="frequency" id="frequency" onchange="updateHtsCodeDropdown(); updateDownloadLink();">
                                <option value="yearly" {% if selected_frequency == "Yearly" %}selected{% endif %}>Yearly</option>
                                <option value="monthly" {% if selected_frequency == "Monthly" %}selected{% endif %}>Monthly</option>
                                <option value="qrt" {% if selected_frequency == "Quarterly" %}selected{% endif %}>Quarterly</option>
                                <option value="fiscal" {% if selected_frequency == "Fiscal" %}selected{% endif %}>Fiscal</option>
                            </select>
                        </section>
                    
                        <section id="dropdowns">
                            <label id="drop_title" for="hts_code">HTS Code:</label>
                            <select name="hts_code" id="hts_code">
                                {% for code in hts_codes %}
                                    <option value="{{ code }}" {% if selected_hts_code == code %}selected{% endif %}>{{ code }}</option>
                                {% endfor %}
                            </select>
                        </section>

                        <section id="dropdowns">
                            <label id="drop_title" for="trade_type">Trade Type:</label>
                            <select name="trade_type" id="trade_type">
                                <option value="imports" {% if selected_trade_type == "Import" %}selected{% endif %}>Imports</option>
                                <option value="exports" {% if selected_trade_type == "Export" %}selected{% endif %}>Exports</option>
                            </select>
                        </section>
                    
                        <button id="submit" type="submit">Submit</button>
                    </section>                                
            
                    <div id="graph">
                        {{ graph|safe }}
                    </div>
                </div>

                <div class="download_container">
                    <div id="link">
                        <a id="download_yearly" href="https://api.econlabs.net/files/trade/jp/?types=hts&agg=yearly&agr=false&group=false" class="button">Descargar Datos Anuales</a>
                    </div>
                    <div id="link">
                        <a id="download_quarterly" href="https://api.econlabs.net/files/trade/jp/?types=hts&agg=qrt&agr=false&group=false" class="button">Descargar Datos Trimestrales</a>
                    </div>
                    <div id="link">
                        <a id="download_monthly" href="https://api.econlabs.net/files/trade/jp/?types=hts&agg=monthly&agr=false&group=false" class="button">Descargar Datos Mensuales</a>
                    </div>
                </div>
            </form>
        </main>

        <!-- ------------------ FOOTER --------------------- -->
        <footer>
            <main>
                <section>
                    <h1>Contáctanos</h1>
                </section>
                <section>
                    <div class="footer-container">
                        <div class="left-container">
                            <h2>Oficiales de Información <br> (Ley 141-2019)</h2>
                            <p>
                                Sr. Edgardo Vázquez Rivera <br>
                                Secretario Oficina de Secretaría <br>
                                <a href="mailto:Vazquez_e@jp.pr.gov" class="custom-link">Vazquez_e@jp.pr.gov</a> <br>
                                787 723-6200 ext. 16637 <br><br>
                
                                Plan. Erika Rivera Felicié <br>
                                Ayudante Especial <br>
                                <a href="mailto:ivera_e1@jp.pr.gov" class="custom-link">ivera_e1@jp.pr.gov</a> <br><br>
                
                                Lcda Aida Silver Cintrón <br>
                                Abogada Oficina Asuntos Legales <br>
                                <a href="mailto:Silver_A@jp.pr.gov" class="custom-link">Silver_A@jp.pr.gov</a> <br>
                                787 723-6200 ext. 16016
                            </p>
                            <h2>Oficina de Datos PRITS</h2>
                            <p>
                                Carlos Castillo Domena <br>
                                Director Oficina de Administración Interna <br>
                                <a href="mailto:castillo_r@jp.pr.gov" class="custom-link">castillo_r@jp.pr.gov</a> <br>
                                787 723-6200 ext. 16019 <br><br>
                                <a href="https://jppr.sharepoint.com/sites/BibliotecaDigital" class="custom-link">BDV (Uso interno)</a>
                            </p>
                        </div>
                        <div class="right-container">
                            <h2><strong>Dirección Postal</strong></h2>
                            <p>
                                PO Box 4119 <br>
                                San Juan P.R. 00940-1119 <br>
                                Tel: (787) 723-6200 (Cuadro)<br>
                                <h2><strong>Dirección Física</strong></h2>
                                <p>
                                    Centro Gubernamental<br>
                                    Roberto Sánchez Vilella<br>
                                    Ave. De Diego, Pda 22, <br>
                                    Santurce<br>
                                </p>
                            </p>
                            <section class="maps">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.7501887340845!2d-66.0698374248245!3d18.
                                        449648171336893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c036f497801a7b7%3A0x68ace32a0663b72f!2sGov
                                        ernor%20Roberto%20S%C3%A1nchez%20Vilella%20Government%20Center!5e0!3m2!1sen!2sus!4v1717000266481!5m2!1sen!2sus"
                                        width="490" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                </iframe>
                            </section>
                        </div>
                    </div>
                </section>
            </main>
        </footer>

        <!-- Scripts -->  
        <script src="{% static 'js/header_menu.js' %}" defer></script>
    </body>
</html>