body,
header {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
  margin-top: 4vw;
  margin-left: 8vw;
  margin-right: 8vw;
}

h2 {
  font-size: 2em;
  margin-top: 4vw;
  margin-left: 8vw;
  margin-right: 8vw;
}

p {
  display: block;
  font-size: 1.2em;
  text-align: justify;
  margin-left: 8vw;
  margin-right: 8vw;
  line-height: 1.5;
}

/* Dropdown select styling */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 0.5em;
  font-size: .9em;
  cursor: pointer;
  border-radius: 0.25em;
  position: relative;
}

select:focus {
  outline: none;
  border-color: #495057;
}

.image-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.responsive-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* GRAPH */
#variableY {
  left: 5%;
  transform: rotate(270deg);
  align-items: center;
  justify-items: center;
}

#variableX {
  top: 8%;
}

#timeRange {
  top: 0;
  right: 0;
}

.container-X {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-bottom: 6rem;
}

.container-time {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.graph-container {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 90px;
}