* {
  font-family: Arial, Helvetica, sans-serif;
}

body,
header {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  font-size: 18px;
  border: none;
  background: none;
  flex-direction: column;
  display: flex;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 3em;
  margin-top: 4vw;
  margin-left: 8vw;
  margin-right: 8vw;
}

h2 {
  font-size: 2em;
  margin-top: 4vw;
  margin-left: 8vw;
  margin-right: 8vw;
}

p {
  display: block;
  font-size: 1.2em;
  text-align: justify;
  margin-left: 8vw;
  margin-right: 8vw;
  line-height: 1.5;
}


/* Dropdown select styling */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 0.5em;
  font-size: .9em;
  cursor: pointer;
  border-radius: 0.25em;
  position: relative;
}

select:focus {
  outline: none;
  border-color: #495057;
}


#header-image {
  width: 100vw;
  height: auto;
}


/* CLICOS ECONOMICOS */
#body-image {
  width: 60vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/* GRAPH */
#variableY {
  left: 8%;
  transform: rotate(270deg);
}

#variableX {
  top: 8%;
}

#timeRange {
  top: 0;
  right: 0;
}

.container-X {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-bottom: 6rem;
}

.container-time {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.graph-container {
  display: flex;
  align-items: center;
  margin-left: 8vw;
}