body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

h2 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

p {
    display: block;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 8vw;
    margin-right: 8vw;
    line-height: 1.5;
}

footer {
    background-color: #C7C7C7;
}

footer h1 {
    text-align: center;
    padding-top: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.left-container, .right-container {
    width: 48%;
    padding: 10px;
}

/* Dropdown select styling */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 0.5em;
    font-size: .9em;
    cursor: pointer;
    border-radius: 0.25em;
    position: relative;
}

select:focus {
    outline: none;
    border-color: #495057;
}

/* ID */
#header-image {
    width: 100vw;
    height: auto;
}

#body-image {
    width: 60vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#variableY {
    left: 8%;
    transform: rotate(270deg);
}

#variableX {
    top: 8%;
}

#timeRange {
    top: 0;
    right: 0;
}
  
.container-X {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding-bottom: 6rem;
}

.container-time {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.graph-container {
    display: flex;
    align-items: center;
    margin-left: 8vw;
}