@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins",sans-serif;
}
body
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   min-height: 100vh;
   width: 100%;
}
.card
{
   position: relative;
   width: 340px;
   height: 450px;
   background: #fff;
   overflow: hidden;
   border-radius: 10px;
   margin: 20px;
}
.card .circle
{
   position: absolute;
   top: -190px;
   left: 50%;
   width: 500px;
   height: 500px;
   transform: translateX(-50%);
   clip-path: circle();
}
.card .circle::before
{
   content: '';
   position: absolute;
   top: -8px;
   left: -16px;
   width: 100%;
   height: 100%;
   box-shadow: 0 0 0 20px rgba(255,0,0,0.5);
   border-radius: 50%;
   z-index: 2;
   pointer-events: none;
}
.circle .imgBox
{
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   width: 340px;
   height: 310px;
}
.imgBox img
{
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   width: 100%;
   height: 100%;
   transition: all 0.5s;
}
.imgBox img:hover
{
   transform: scale(1.2);
}
.card .content
{
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 140px;
   padding: 20px 30px;
}
.content .fa-linkedin
{
   padding: 2px 4px;  
   color: #fff;
   background: #0077b5;
   border-radius: 2px;
}
.content h3
{
   font-size: 1.4em;
   color: #333;
   margin-top: 7px;
   margin-bottom: 2px;
}
.content .textIcon
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.content .textIcon h4
{
   color: #e91e63;
   font-weight: 400;
}
.content .textIcon .fa-arrow-right
{
   color: #e91e63;
}

