.center {
    text-align: center;
    margin: 0 auto;
    width: 85%;
}

#cards-1 {
    padding: 90px;
    border-radius: 30px;
    margin: 48px 20px;
}

.center-card {
    display: flex;
}

@media (min-width: 320px) and (max-width: 426px) {
    /* .center-card {
        margin: 55px 20px;
    } */
    
    #cards-1 {
        padding: 30px;
        border-radius: 30px;
        margin: 20px ;
    }
    .center {
        width: 90%;
    }
    .center-card {
        display: block;
    }
} 

@media (min-width: 427px) and (max-width: 1013px) {
    /* .center-card {
        margin: 55px 20px;
    } */
    #cards-1 {
        padding: 30px;
        border-radius: 30px;
        margin: 20px ;
    }
    .center {
        width: 90%;
    }
    .center-card {
        display: block;
    }
} 

@media (min-width: 1015px) and (max-width: 1202px) {
    /* .center-card {
        margin: 55px 20px;
    } */
    #cards-1 {
        padding: 60px;
        border-radius: 30px;
        margin: 20px ;
    }
    .center {
        width: 90%;
    }
} 