body, header {
    margin: 0;
    padding: 0;
}

#header-image {
    width: 100vw;
    height: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2vw;
    margin-top: 4vw;
    font-size: 3em;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2vw;
    margin-top: 3vw;
    margin-bottom: 5px;
    font-size: 25px;
}

p {
    display: block;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 2vw;
    margin-right: 8vw;
    line-height: 1.5;
}

.graph-container {
    margin-top: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


