 body, header {
    margin: 0;
    padding: 0;
}

#header-image {
    width: 100vw;
    height: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2vw;
    margin-top: 4vw;
    font-size: 3em;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2vw;
    margin-top: 3vw;
    margin-bottom: 5px;
    font-size: 25px;
}

p {
    display: block;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 2vw;
    margin-right: 8vw;
    line-height: 1.5;
}

.graph-container {
    margin-top: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.dropdown {
    max-width: auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 3vw;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    max-height: 20px;
    background: white;
    color: "#E6E6E6";
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px solid "#E6E6E6";
    box-shadow: 0 0 0 0.8em "#E6E6E6";
}

.select:hover {
    background: #E6E6E6;
    color: black;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    font-size: 18px;
    list-style: none;
    padding: 0.2em 0.5em;
    background: #E6E6E6;
    border: 1px solid #E6E6E6;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color:black;
    position: absolute;
    top: 3em;
    left: 84.5%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    width: 30vw;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #CBCBCB;
}

.active {
    background: #E6E6E6;
}

.menu-open {
    display: block;
    opacity: 1;
}


