.headerright {
    float: right;
    /* ajustar la distancia entre lineas */
    line-height: 1.5;
}

.bigbox {
    /* background-color: rgb(168, 234, 168); */
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 10px -10px rgba(131, 131, 131, 0.5);
}


.webleft-container {
    /* width: 60%; */
    padding-top: 1px;
    line-height: 1.5;
    margin-right: 22vh;
}

.webright-container {
    /* width: 70%; */
    padding-top: 5px;
    line-height: 1.5;
    margin-left: 22vh;
}

.webmiddle-container {
    margin-top: 190px;
    line-height: 1.5;
}


