.body_header {
    display: block;
    justify-content: space-around;
}

.space-between {
    margin-bottom: 20px; 
}

.text-box {
    width: 60%;
    max-width: 400px;
    height: 38px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical; /* Allows users to resize the box vertically */
}

.big-box {
    /* background-color: rgb(168, 234, 168); */
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 10px -10px rgba(131, 131, 131, 0.5);
}


.webleft-container {
    /* width: 60%; */
    padding-top: 1px;
    line-height: 1.5;
    margin-right: 22vh;
}

.webright-container {
    /* width: 70%; */
    padding-top: 5px;
    line-height: 1.5;
    margin-left: 22vh;
}

.webmiddle-container {
    margin-top: 190px;
    line-height: 1.5;
}


