table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 60px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    width: 50px;
}

th {
    background-color: #f2f2f2;
}

body {
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    background-color: #f9f9f9;
    margin-bottom: 40px;
    width: 90%;
    align-items: center;
    justify-content: center;
}

input {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
}

#center-item {
    text-align: center;
}

#center-item-1 {
    margin-top: 18.5px;
}

.header, main {
    margin-bottom: 30px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 26px;
    border-radius: 8px;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
}

.header div {
    flex: 1;
    text-align: center;
}

.header div img {
    max-width: 80px;
    margin-bottom: 10px;
}

.left-header {
   text-align: left;
}

.right-header {
    text-align: right;
}

.header img {
    width: 80px;
}

.header-bottom {
    text-align: center;
}

.second-table {
    margin-top: 70px;
}

#signature {
    width: 110%;
    border: none;
    margin-top: 5px;
    font-size: 30px; 
    font-style: italic;
    font-family: 'Dancing Script', cursive;
}

#position, #phone, #date {
    width: 110%;
    border: none;
    margin-top: 5px;
    font-size: 30px; 
    font-style: italic;
}

#signature-bottom {
    margin-top: 10px;
}

.big-box-bottom {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.left-signature {
    width: 290px;
    padding-top: 1px;
    line-height: 1.5;
    margin-right: 500px;
    margin-bottom: 30px;
}

.right-signature {
    width: 290px;
    padding-top: 1px;
    line-height: 1.5;
}

.submit-button-container {
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.submit-button {
    font-size: 20px;
    width: 120px;
    height: 35px;
    border: 0.5px solid #5a5a5a;
    border-radius: 30px;
    background-color: rgb(44, 143, 255);
}

.submit-button:hover {
    background-color: rgb(6, 122, 255);
}