body {
    font-family: Arial, sans-serif;
}

table {
    table-layout: fixed;
    width: 90%; /* Sets width to 90% of the available space */
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(9, 8, 8);
    padding: 5px;
    text-align: left;
    max-width: 20px;
}

input {
    width: 100%;
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;
    border:0.5px solid #5a5a5a;
}

#year {
    width: 80px;
}

#choice {
    justify-content: center;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.header, .sub-header {
    text-align: center;
}

.header img {
    width: 150px;
}

.submit-button-container {
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.submit-button {
    font-size: 20px;
    width: 120px;
    height: 35px;
    border: 0.5px solid #5a5a5a;
    border-radius: 30px;
    background-color: rgb(44, 143, 255);
}

.submit-button:hover {
    background-color: rgb(6, 122, 255);
}