
body, header {
    font-family: Arial, Helvetica, sans-serif; /* Arial font, with Helvetica and sans-serif as fallback */
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

h2 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2.5vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

p, div {
    display: block;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 8vw;
    margin-right: 8vw;
    line-height: 1.5;
}


.custom-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}

.custom-link:hover {
    color: blue; /* Change color to blue on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
    text-decoration: none; /* Remove underline on hover */
}

.block {
    background-color: lightgreen;
    width: 400px;
    height: 400px;
    padding: 100px;
    margin: 20px;
}




#header-image {
    width: 100vw;
    height: auto;

}

