* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 100%;
    width: 1500px;
    margin: 0 auto;
}

a {
    font-size: 18px;
    border: none;
    background: none;
    flex-direction: column;
    display: flex;
    text-decoration: none;
    color: black;
}

#logo {
    height: 70px;
    width: auto;
    position: absolute;
    justify-content: center;
    right: 2%;
}

/* SEARCH BAR */
.container {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vw;
    background-color: white;
    box-shadow: 0 10px 10px -10px rgba(131, 131, 131, 0.5);
    display: flex;
}

.container .form button {
    border: none;
    background: none;
    color: #868686;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #4A95A1;
    --border-bottom-left-radius: 30px;
    --after-border-bottom-left-radius: 1px;
    --border-bottom-right-radius: 30px;
    --after-border-bottom-right-radius: 1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-bottom-left-radius: var(--border-bottom-left-radius);
    transition: border-bottom-left-radius 0.5s ease;
    border-bottom-right-radius: var(--border-bottom-right-radius);
    transition: border-bottom-right-radius 0.5s ease;
    background: var(--input-bg, #fff);
    background-color: #E6E6E6;
    margin-left: 68vw;
    margin-right: 1vw;
    width: 23vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.input {
    font-size: 1rem;
    background-color: transparent;
    width: 15vw;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}

.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    transition: transform var(--timing) ease;
}

/* Hover on Input */
.form:focus-within {
    border-bottom-left-radius: var(--after-border-bottom-left-radius);
    border-bottom-right-radius: var(--after-border-bottom-right-radius);
    border-top-left-radius: 16.1px;
    border-top-right-radius: 16.1px;
}

input:focus {
    outline: none;
}

/* here is code of animated border */
.form:focus-within:before {
    transform: scale(1);
}

/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

/* close button shown when typing */
input:not(:placeholder-shown)~.reset {
    opacity: 1;
    visibility: visible;
    margin-left: 50px;
}

/* sizing svg icons */
.form svg {
    width: 17px;
    margin-top: 3px;
}

/* Dropdown styling */
.dropdown {
    display: none;
    list-style: none;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    align-items: center;
    padding-inline: 0.8em;
    background: var(--input-bg, #fff);
    background-color: #E6E6E6;
    margin-left: 73.15vw;
    margin-right: 1vw;
    width: 23vw;
    height: 15vw;
    margin-top: 17.8vw;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.3s;
}

.dropdown li:hover {
    background-color: #CBCBCB;
}


/* BURGER */
.container .burger {
    position: relative;
    width: 42px;
    height: 29px;
    background: transparent;
    cursor: pointer;
    display: block;
    margin-left: 2vw;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgb(182, 182, 182);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.burger_select {
    max-height: 20px;
    background: white;
    color: "#E6E6E6";
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.burger_select-clicked {
    border: 2px solid "#E6E6E6";
    box-shadow: 0 0 0 0.8em "#E6E6E6";
}


/* BURGER MENU */
.burger_menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #E6E6E6;
    border: 1px solid #E6E6E6;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    color: black;
    margin-top: 195px;
    position: absolute;
    left: 21%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    width: 28vw;
}

.dropdown li, .burger_menu a {
    font-weight: normal;
    font-size: 1rem;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

.burger_menu-open {
    display: block;
    opacity: 1;
}

.burger_menu a:hover {
    background: #CBCBCB;
}


/* FOOTER */
footer {
    background-color: #C7C7C7;
    box-shadow: 0 -10px 10px -10px rgba(131, 131, 131, 0.5);
}

footer h1 {
    font-size: 35px;
    padding-top: 40px;
    margin-bottom: 1px;
    margin-left: 8vw;
}

footer h2 {
    font-size: 2em;
    margin-top: 4vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

footer p {
    display: block;
    font-size: 1.2em;
    text-align: justify;
    margin-left: 8vw;
    margin-right: 8vw;
    line-height: 1.5;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.left-container {
    width: 48%;
    padding-top: 1px;
}

.right-container {
    width: 48%;
    padding-top: 5px;
}

.maps {
    padding-top: 50px;
}

.custom-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.custom-link:hover {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}