.center {
    width: 100%;
    text-align: center;
    margin-left: 250px;

}

#cards {
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 130px;
    margin-top: 70px;
    margin-bottom: 5px;
    border-radius: 30px;
    height: 70%;
    width: 100%;
}