#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 4vw;
  margin-bottom: 1vw;
  flex-wrap: wrap;
  width: 100%;
}

#drop_title {
  font-size: 1.2em;
  margin-top: 2vw;
  margin-bottom: 2vw;
  color: black;
}

#frequency, #hts_code, #trade_type {
  border-radius: 8px;
  padding: 5px;
  background-color: #EEEEEE;
  margin-right: 30px;
}

#submit {
  font-size: 1em;
  border-radius: 8px;
  padding: 6px;
  background-color: #008cff;
  border: none;
  margin-top: -1px;
}

#submit:hover {
  background-color: #0071cd;
}

.download_container {
  display: flex;
  justify-content: center;
}

#link {
  padding: 20px;
}

#download_yearly, #download_monthly, #download_quarterly {
  font-size: 1em;
  border-radius: 8px;
  padding: 6px;
  background-color: #008cff;
  border: none;
  margin-top: -1px;
}