
body {
    font-family: Arial, Helvetica, sans-serif;
}
.text {
    margin-top: 250px;
    text-align: center;
}

p {
    font-size: 22px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}
.button {
    border: 0.5px solid #5a5a5a;
    border-radius: 30px;
    width: 73px;
    height: 40px;
    padding-left: 25px;
    padding-top: 20px;
    background-color: rgb(44, 143, 255);
}

.button:hover {
    background-color: rgb(6, 122, 255);
}

.button-container {
    margin-left: 655px;
}
