<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions in Puerto Rico of External Insurance Companies</title>
    
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-192x192.png' %}" />
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'android-chrome-512x512.png' %}" />

    <link rel="stylesheet" href="{% static 'forms/balanza_de_pagos/JP-363.css' %}" />
    <link rel="stylesheet" href="{% static 'website.css' %}" />
  </head>

  <body>
    <!-- Header -->
    <section class="header">
        <div class="left-header">
            <strong>Puerto Rico Planning Board</strong><br>
            Program of Economic and Social Planning<br>
            Subprogram of Economic Analysis<br>
            Roberto Sánchez Vilella Government Center<br>
            P.O. Box 41119 San Juan, Puerto Rico 00940<br>
        </div>

        <div class="right-header">
            <div><img src="https://assets-global.website-files.com/60ddbc422188bb3fab87d219/60ddbc422188bbbe5a87d251_gobierno-de-puerto-rico.png" alt="Logo"></div>
        </div>
    </section>

    <main>
      <form method="POST" action="{% url 'JP-363' %}">
        {% csrf_token %}
        <section>
            <p id="title">JP-363: INVESTMENT IN SECURITIES OF THE CENTRAL GOVERNMENT, MUNICIPIOS***, PUBLIC CORPORATIONS AND OTHER AGENCIES</p>
            <table>
                <tr id="table-header">
                    <th rowspan="3"> INVESTMENT IN: </th>
                    <th colspan="4"> OUTSTANDING BALANCES (PAR VALUE)<br> (IN THOUSANDS OF DOLLARS)</th>
                    <th rowspan="3"> NAME OF AGENT OR BROKER SERVIVING YOU IN PUERTO RICO** </th>
                </tr>

                <tr id="table-header">
                    <th colspan="2"> BONDS* </th>
                    <th colspan="2"> NOTES </th>
                </tr>

                <tr id="table-header">
                    <th> As of: 6/30/ <input type="number" id="year" name="bonds_year_left" placeholder="Year" required></th>
                    <th> As of: 6/30/ <input type="number" id="year" name="bonds_year_right" placeholder="Year" required></th>
                    <th> As of: 6/30/ <input type="number" id="year" name="notes_year_left" placeholder="Year" required></th>
                    <th> As of: 6/30/ <input type="number" id="year" name="notes_year_right" placeholder="Year" required></th>
                </tr>

                <!-- LINE 1 -->
                <tr>
                    <th id="invest-column"> 1. Central Government</th>
                    <th><input type="number" id="input-box" name="CG_bonds_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="CG_bonds_right" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="CG_notes_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="CG_notes_right" placeholder="$" required></th>
                    <th><input type="text" id="input-box" name="CG_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 2 -->
                <tr>
                    <th id="invest-column"> 2. Municipios</th>
                    <th><input type="number" id="input-box" name="town_bonds_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="town_bonds_right" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="town_notes_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="town_notes_right" placeholder="$" required></th>
                    <th><input type="text" id="input-box" name="town_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 3 -->
                <tr>
                    <th id="invest-column"> 3. Public Corporations</th>
                    <th><input type="number" id="input-box" name="PC_bonds_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="PC_bonds_right" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="PC_notes_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="PC_notes_right" placeholder="$" required></th>
                    <th><input type="text" id="input-box" name="PC_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 4 -->
                <tr>
                    <th id="invest-column">a. P.R. Electric Power Authority</th>
                    <th><input type="number" id="input-box" name="EPA_bonds_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="EPA_bonds_right" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="EPA_notes_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="EPA_notes_right" placeholder="$" required></th>
                    <th><input type="text" id="input-box" name="EPA_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 5 -->
                <tr>
                    <th id="invest-column">b. P.R. Highway Authority</th>
                    <th><input type="number" id="input-box" name="HA_bonds_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="HA_bonds_right" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="HA_notes_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="HA_notes_right" placeholder="$" required></th>
                    <th><input type="text" id="input-box" name="HA_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 6 -->
                <tr>
                    <th id="invest-column">c. P.R. Aqueduct and Sewer Authority</th>
                    <th><input type="number" id="input-box" name="ASA_bonds_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="ASA_bonds_right" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="ASA_notes_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="ASA_notes_right" placeholder="$" required></th>
                    <th><input type="text" id="input-box" name="ASA_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 7 -->
                <tr>
                    <th id="invest-column">d. Public Building Authority</th>
                    <th><input type="number" id="input-box" name="PBA_bonds_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="PBA_bonds_right" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="PBA_notes_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="PBA_notes_right" placeholder="$" required></th>
                    <th><input type="text" id="input-box" name="PBA_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 8 -->
                <tr>
                    <th id="invest-column">e. P.R. Ports Authority</th>
                    <th><input type="number" id="input-box" name="PA_bonds_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="PA_bonds_right" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="PA_notes_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="PA_notes_right" placeholder="$" required></th>
                    <th><input type="text" id="input-box" name="PA_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 9 -->
                <tr>
                    <th id="invest-column">f. P.R. Telephone Authority</th>
                    <th><input type="number" id="input-box" name="TA_bonds_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="TA_bonds_right" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="TA_notes_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="TA_notes_right" placeholder="$" required></th>
                    <th><input type="text" id="input-box" name="TA_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 10 -->
                <tr>
                    <th id="invest-column">g. P.R. Industrial Development Company</th>
                    <th><input type="number" id="input-box" name="IDC_bonds_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="IDC_bonds_right" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="IDC_notes_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="IDC_notes_right" placeholder="$" required></th>
                    <th><input type="text" id="input-box" name="IDC_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 11 -->
                <tr>
                    <th id="invest-column">h. P.R. Government Development Bank</th>
                    <th><input type="number" id="input-box" name="GDB_bonds_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="GDB_bonds_right" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="GDB_notes_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="GDB_notes_right" placeholder="$" required></th>
                    <th><input type="text" id="input-box" name="GDB_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 12 -->
                <tr>
                    <th id="invest-column">i. P.R. Housing Finance Corporation</th>
                    <th><input type="number" id="input-box" name="HFC_bonds_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="HFC_bonds_right" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="HFC_notes_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="HFC_notes_right" placeholder="$" required></th>
                    <th><input type="text" id="input-box" name="HFC_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 13 -->
                <tr>
                  <th id="invest-column"><input type="text" id="input-box" name="other" placeholder="j. Other"></th>
                    <th><input type="number" id="input-box" name="other_bonds_left" placeholder="$"></th>
                    <th><input type="number" id="input-box" name="other_bonds_right" placeholder="$"></th>
                    <th><input type="number" id="input-box" name="other_notes_left" placeholder="$"></th>
                    <th><input type="number" id="input-box" name="other_notes_right" placeholder="$"></th>
                    <th><input type="text" id="input-box" name="other_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 14 -->
                <tr>
                    <th id="invest-column"><input type="text" id="input-box" name="" placeholder="k. Other"></th>
                    <th><input type="number" id="input-box" name="other_PC_1_bonds_left" placeholder="$"></th>
                    <th><input type="number" id="input-box" name="other_PC_1_bonds_right" placeholder="$"></th>
                    <th><input type="number" id="input-box" name="other_PC_1_notes_left" placeholder="$"></th>
                    <th><input type="number" id="input-box" name="other_PC_1_notes_right" placeholder="$"></th>
                    <th><input type="text" id="input-box" name="other_PC_1_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 15 -->
                <tr>
                    <th id="invest-column"><input type="text" id="input-box" name="" placeholder="l. Other"></th>
                    <th><input type="number" id="input-box" name="other_PC_2_bonds_left" placeholder="$"></th>
                    <th><input type="number" id="input-box" name="other_PC_2_bonds_right" placeholder="$"></th>
                    <th><input type="number" id="input-box" name="other_PC_2_notes_left" placeholder="$"></th>
                    <th><input type="number" id="input-box" name="other_PC_2_notes_right" placeholder="$"></th>
                    <th><input type="text" id="input-box" name="other_PC_2_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 16 -->
                <tr>
                    <th id="invest-column">4. G.N.M.A. Mortgage Bank Securities</th>
                    <th><input type="number" id="input-box" name="GNMA_bonds_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="GNMA_bonds_right" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="GNMA_notes_left" placeholder="$" required></th>
                    <th><input type="number" id="input-box" name="GNMA_notes_right" placeholder="$" required></th>
                    <th><input type="text" id="input-box" name="GNMA_name_service" placeholder="Name"></th>
                </tr>

                <!-- LINE 17 -->
                <tr>
                    <th id="invest-column"><input type="text" id="input-box" name="other5" placeholder="5. Other"></th>
                    <th><input type="number" id="input-box" name="other5_bonds_left" placeholder="$"></th>
                    <th><input type="number" id="input-box" name="other5_bonds_right" placeholder="$"></th>
                    <th><input type="number" id="input-box" name="other5_notes_left" placeholder="$"></th>
                    <th><input type="number" id="input-box" name="other5_notes_right" placeholder="$"></th>
                    <th><input type="text" id="input-box" name="other5_name_service" placeholder="Name"></th>
                </tr>
            </table>
        </section>

        <!-- INSTRUCTION -->
        <section>
          <p id="instruction">
            &emsp;&emsp;<strong>*</strong> Please, inform under this column the par value of bonds which are not savings bonds. <br>
            &emsp;&emsp;<strong>**</strong> The name of the agent or broker if needed to avoid duplicity, since we obtain information from various sources. <br>
            &emsp;&emsp;<strong>***</strong> Municipios are equivalent as U.S. counties.
          </p>
        </section>

        <section>
          <div class="big-box-bottom">
            <div class="left-signature">
              <input type="text" id="signature" name="signature" placeholder="Name" required></input> <!-- Signature Input -->
              <hr> <!-- Signature Line -->
              <p>
                Name of person filling the questionnaire<br>
              </p>
            </div>

            <div class="right-signature">
              <input type="text" id="position" name="position" placeholder="Position" required></input> <!-- Signature Input -->
              <hr> <!-- Signature Line -->
              <p>
                Position<br>
              </p>
            </div>
          </div>

          <div class="big-box-bottom" id="signature-bottom">
            <div class="left-signature">
              <input type="date" id="date" name="date" placeholder="Date" required></input> <!-- Signature Input -->
              <hr> <!-- Signature Line -->
              <p>
                Date<br>
              </p>
            </div>

            <div class="right-signature">
              <input type="tel" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="12" maxlength="12" name="phone" placeholder="123-456-7890" required><!-- Signature Input -->
              <hr> <!-- Signature Line -->
              <p>
                Phone Number<br>
              </p>
            </div>
          </div>
        </section>

        <section class = 'submit-button-container'>
            <input type="submit" value="SUBMIT" class="submit-button"></input>
        </section>
      </form>
    </main>
  </body>
</html>